@import  "../../../../fonts.googleapis.com/css_ae7521fb.css";

/*
 *  Document   : main.css
 *  
 */
 /*honey well sans fonts*/
 @font-face {
    font-family: HoneywellSansBook;
    src: url(honeywellsans/HoneywellSans-Book.otf);
}
@font-face {
    font-family: HoneywellSansBold;
    src: url(honeywellsans/HoneywellSans-Bold.otf);
}
@font-face {
    font-family: HoneywellSanslight;
    src: url(honeywellsans/HoneywellSans-Light.otf);
}
@font-face {
    font-family: HoneywellSansMedium;
    src: url(honeywellsans/HoneywellSans-Medium.otf);
}
/*honey well condensed fonts*/
@font-face {
    font-family: HoneywellCondBook;
    src: url(honeywellcon/HoneywellCond-Book.otf);
}
@font-face {
    font-family: HoneywellCondBold;
    src: url(honeywellcon/HoneywellCond-Bold.otf);
}
@font-face {
    font-family: HoneywellCondLight;
    src: url(honeywellcon/HoneywellCond-Light.otf);
}
@font-face {
    font-family: HoneywellCondMedium;
    src: url(honeywellcon/HoneywellCond-Medium.otf);
}
/* @font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     /*  url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
     /*  url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
    /*   url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
     /*  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
/*}*/
body {
    font-family: "HoneywellSanslight";
    color: #000;
    font-size: 13px;
	background: url("../img/bg.jpg");
	background-size:98%;
   }
.body_bg{

   }
.fontsansbold{
	font-family: "HoneywellSansBold";
}
.fontsansmedium{
	font-family: "HoneywellSansMedium";
}
.fontsanslight{
	font-family: "HoneywellSanslight";
}
.fontcondbold{
	font-family: "HoneywellCondBold";
}
.fontcondmedium{
	font-family: "HoneywellCondMedium";
}
.fontcondlight{
	font-family: "HoneywellCondLight";
}
.fontsansbook{
	font-family: "HoneywellSansBook";
}
#main-container,#page-container {
    min-width: 320px;
}

#page-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
   
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

#page-container,#sidebar {
  
}

#sidebar {
    width: 0;
    position: absolute;
    overflow: hidden;
}

#main-container,#sidebar,.header-fixed-bottom header,.header-fixed-top header {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#page-content {
    padding: 10px 5px 1px;
    min-height: 1200px;
    background-color: #eaedf1;
}

#page-content+footer {
    padding: 9px 10px;
    font-size: 11px;
    background-color: #fff;
    border-top: 1px solid #dbe1e8;
}

#page-container.header-fixed-top {
    padding: 50px 0 0;
}

#page-container.header-fixed-bottom {
    padding: 0 0 50px;
}

.sidebar-open #sidebar {
    width: 190px;
}

.sidebar-open #main-container {
    margin-left: 190px;
}

.header-fixed-bottom #sidebar,.header-fixed-top #sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content {
    padding-bottom: 50px;
}

.sidebar-open header.navbar-fixed-bottom,.sidebar-open header.navbar-fixed-top {
    left: 190px;
}

header.navbar-default,header.navbar-inverse {
    padding: 0;
    margin: 0;
    min-width: 320px;
    max-height: 30px;
    border: 0;
}

header.navbar-fixed-bottom,header.navbar-fixed-top {
    max-height: 51px;
}

header.navbar-default.navbar-fixed-top {
    border-bottom: 1px solid #eaedf1;
}

header.navbar-default.navbar-fixed-bottom {
    border-top: 1px solid #eaedf1;
}

header.navbar-inverse.navbar-fixed-top {
    border-bottom: 1px solid #394263;
}

header.navbar-inverse.navbar-fixed-bottom {
    border-top: 1px solid #394263;
}

.nav.navbar-nav-custom {
    float: left;
    margin: 0;
}

.nav.navbar-nav-custom>li {
    min-height: 50px;
    float: left;
}
.navbar{
	min-height: 38px;
}
.nav.navbar-nav-custom>li>a {
    min-width: 50px;
    padding: 5px 7px;
    line-height: 40px;
    text-align: center;
  
}

.nav.navbar-nav-custom>li>a .fi,.nav.navbar-nav-custom>li>a .gi,.nav.navbar-nav-custom>li>a .hi,.nav.navbar-nav-custom>li>a .si {
    margin-top: -3px;
}

.navbar-inverse .nav.navbar-nav-custom>li>a {
    color: #fff;
}

.nav.navbar-nav-custom>li.open>a,.nav.navbar-nav-custom>li>a:focus,.nav.navbar-nav-custom>li>a:hover {
    background-color: transparent;
    color: #edc106;
}
.marq{
	    padding-top: 8px;
}
.top_left{ 
    background: #34384b;
    color: #8cc9f2;
    padding: 5px;
	font-family: "HoneywellSansMedium";
	border-right: 1px solid #fff;
    border-left: 1px solid #fff;
	}
.top_right{
	    background: #292d3e;
		    padding: 5px 16px 5px 5px;
}
.topul{
	    margin-bottom: 4px;
		    padding-left: 0px;
}
.topul li {
    display: inline-block;
    color: #7eb338;
    font-family: "HoneywellSansMedium";
    font-size: 15px;
	border-bottom: 1px solid #fff;
    margin: 3px;
}
.date_exp{
	margin: 0px;
    padding: 6px 0px 0px 6px;
    color: #FFF;
    font-size: 11px;
    font-family: "HoneywellSansMedium";
    line-height: 22px;
}
.chang_pas {
    font-family: "HoneywellSanslight";
    color: #b3d2fa;
	font-size: 11px;    display: none;
}
.log {
    font-family: "HoneywellSanslight";
    color: transparent;
	font-size: 11px;
	float:right;    padding: 8px;background: url(../img/log.png);    background-repeat: no-repeat;
    background-position: 25%;
}
.col-md-1.top_right {
    border-left: 1px solid #fff;
}
.nav.navbar-nav-custom>li>a>img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    vertical-align: top;
}

.navbar-form-custom {
    padding: 0;
    width: 100px;
    float: left;
    height: 50px;
}

.navbar-form-custom .form-control {
    padding: 10px;
    margin: 0;
    height: 50px;
    font-size: 15px;
    background: 0 0;
    border: 0;
    z-index: 2000;
}

.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover {
    background-color: #fff;
}

.navbar-form-custom .form-control:focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    padding: 10px 20px;
}

.navbar-inverse .navbar-form-custom .form-control {
    color: #fff;
}

.navbar-inverse .navbar-form-custom .form-control:focus,.navbar-inverse .navbar-form-custom .form-control:hover {
    background: #000;
    color: #fff;
}

.sidebar-content {
    width: 183px;
    color: #fff;
	height: 78%;
}

.sidebar-section {
    padding: 10px;
}

.sidebar-brand {
    height: auto;
    line-height: 25px;
       padding: 15px 0;
    margin: 0;
    font-weight: 300;
    font-size: 18px;
	font-family: HoneywellCondBold;
    display: block;
    color: #fff;
    
}
.sidebar-scroll {
    height: 100%;
}
.sidebar-brand:focus,.sidebar-brand:hover {

    color: #fff;
    text-decoration: none;
}

.sidebar-brand i {
    font-size: 14px;
    display: inline-block;
    width: 18px;
    text-align: center;
    margin-right: 10px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.sidebar-user {
    padding-left: 88px;
    background: url(../img/template/ie8_opacity_light_10.png) repeat;
    background: rgba(255,255,255,.1);
}

.sidebar-user-avatar {
    width: 68px;
    height: 68px;
    float: left;
    padding: 2px;
    margin-left: -78px;
    border-radius: 34px;
    background: url(../img/template/ie8_opacity_light_75.png) repeat;
    background: rgba(255,255,255,.75);
}

.sidebar-user-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.sidebar-user-name {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 26px;
}

.sidebar-user-links a {
    color: #fff;
    opacity: .3;
    filter: alpha(opacity:30);
    margin-right: 5px;
}

.sidebar-user-links a:focus,.sidebar-user-links a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity:100);
}

.sidebar-user-links a>i {
    font-size: 14px;
}

.sidebar-themes {
    list-style: none;
    margin: 0;
    padding-bottom: 7px;
    background: url(../img/template/ie8_opacity_dark_15.png) repeat;
    background: rgba(0,0,0,.15);
}

.sidebar-themes li {
    float: left;
    margin: 0 3px 3px 0;
}

.sidebar-themes li a {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.sidebar-themes li a:focus,.sidebar-themes li a:hover,.sidebar-themes li.active a {
    border-color: #fff !important;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0px 0 0;
	font-family: "HoneywellSansMedium";
    font-size: 11px;
	background: #2c2645;height: 100%;
}

.sidebar-nav .sidebar-header:first-child {
    margin-top: 0;
}

.sidebar-nav a {
	display: block;
    color: #eaedf1;
    padding: 4px 6px;
    /* min-height: 25px; */
    line-height: 18px;
 
}

.sidebar-nav a.open,.sidebar-nav li.active>a {
    color: #fff;
    text-decoration: none;
    background: rgba(209, 233, 250, 0.25);
}
.sidebar-nav a:hover{
      background: rgba(209, 233, 250, 0.25);
    color: #fff;
    text-decoration: none;
}
.das_con{
	    border-left: 2px solid #edc106;
    color: #fdcd02!important;
    font-size: 15px;
    font-family: HoneywellsansBold;
    padding: 12px 6px!important;
    background: #18142b;
    margin: 0px!important;
}
.sidebar-nav a.active {
    padding-left: 5px;
   
    background: url(../img/template/ie8_opacity_dark_30.png) repeat;
       background: rgba(209, 233, 250, 0.25);
}

a.das_con:hover {
    background: transparent;
}
.sidebar-nav a>.sidebar-nav-icon {
    margin-right: 10px;
}

.sidebar-nav a>.sidebar-nav-indicator {
    float: right;
    line-height: inherit;
    margin-left: 4px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.sidebar-nav a>.sidebar-nav-icon,.sidebar-nav a>.sidebar-nav-indicator {
    display: inline-block;
    opacity: .5;
    filter: alpha(opacity:50);
    width: 18px;
    font-size: 14px;
    text-align: center;
}

.sidebar-nav a.active,.sidebar-nav a.active>.sidebar-nav-icon,.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open,.sidebar-nav a.open>.sidebar-nav-icon,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav a:hover,.sidebar-nav a:hover>.sidebar-nav-icon,.sidebar-nav a:hover>.sidebar-nav-indicator,.sidebar-nav li.active>a,.sidebar-nav li.active>a>.sidebar-nav-icon,.sidebar-nav li.active>a>.sidebar-nav-indicator {
    opacity: 1;
    filter: alpha(opacity:100);
}

.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav li.active>a>.sidebar-nav-indicator {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background: url(../img/template/ie8_opacity_dark_30.png) repeat;
    background: rgba(0,0,0,.3);
}

.sidebar-nav li.active>ul {
    display: block;
}

.sidebar-nav ul a {
    margin: 0;
    font-size: 11px;
    padding-left: 5px;
   
}

.sidebar-nav ul a.active,.sidebar-nav ul a.active:hover {
    border-left: 5px solid #1bbae1;
    padding-left: 10px;
}

.sidebar-nav ul ul {
    background: url(../img/template/ie8_opacity_dark_40.png) repeat;
    background: rgba(0,0,0,.4);
}

.sidebar-nav ul ul a {
    padding-left: 25px;
}

.sidebar-nav ul ul a.active,.sidebar-nav ul ul a.active:hover {
    padding-left: 20px;
}

.sidebar-header {
    margin: 10px 0 0;
    padding: 10px;
    line-height: 12px;
}

.sidebar-header+.sidebar-section {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-header .sidebar-header-title {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    opacity: .5;
    filter: alpha(opacity:50);
}

.sidebar-header-options {
    float: right;
    display: inline-block;
}

.sidebar-header-options>a,.sidebar-nav .sidebar-header-options a {
    float: right;
    margin: 0;
    padding: 0;
    min-height: 0;
    line-height: inherit;
    display: block;
    min-width: 18px;
    text-align: center;
    color: #fff;
    opacity: .3;
    filter: alpha(opacity:30);
}

.sidebar-header-options a.active,.sidebar-header-options a:focus,.sidebar-header-options a:hover,.sidebar-nav .sidebar-header-options a.active,.sidebar-nav .sidebar-header-options a:focus,.sidebar-nav .sidebar-header-options a:hover {
    background: 0 0;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity:100);
}

.sidebar-header-options a>i {
    font-size: 14px;
}

.content-header {
    background-color: #fff;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #dbe1e8;
}

.content-header h1,.content-header h2 {
    margin: 0;
    font-size: 26px;
    line-height: 32px;
}

.content-header small .content-header small {
    font-size: 17px;
}

.header-section h1 i {
    font-size: 56px;
    float: right;
    color: #eaedf1;
    margin: 0 0 0 10px;
    line-height: 64px;
}

.header-section {
    padding: 30px 10px;
}

.content-header,.content-top {
    margin: -10px -5px 10px;
}

.content-top {
    background-color: #fff;
    border-bottom: 1px solid #dbe1e8;
}

.content-header-media {
    position: relative;
    height: 248px;
    overflow: hidden;
    border-top-color: #222;
}

.content-header-media .header-section {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: url(../img/template/ie8_opacity_dark_60.png) repeat;
    background: rgba(0,0,0,.6);
}

.content-header-media i,.content-header-media small {
    color: #ddd;
}

.content-header-media>img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2560px;
    height: 248px;
    margin-left: -1280px;
}

.content-header-media>.content-header-media-map {
    height: 270px;
}

.block {
    margin: 0 0 10px;
    padding: 20px 15px 1px;
    background-color: #fff;
   border: 3px solid #ebeef3;
    border-radius: 10px;
}

.block.full {
    padding: 20px 15px;
}

.block .block-content-full {
    margin: -20px -15px -1px;
}

.block .block-content-mini-padding {
    padding: 8px;
}

.block.full .block-content-full {
    margin: -20px -15px;
}

.block-title {
    margin: -20px -15px 20px;
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
}

.block-title h1,.block-title h2,.block-title h3,.block-title h4,.block-title h5,.block-title h6 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
    font-weight: 400;
}

.block-title h1 small,.block-title h2 small,.block-title h3 small,.block-title h4 small,.block-title h5 small,.block-title h6 small {
    font-size: 13px;
    color: #777;
    font-weight: 400;
}

.block-title h1,.block-title h2,.block-title h3 {
    padding-left: 15px;
    padding-right: 15px;
}

.block-options,.block-title .nav-tabs {
    min-height: 40px;
    line-height: 38px;
}

.block-title .nav-tabs {
    padding: 3px 1px 0;
    border-bottom: 0;
}

.block-title .nav-tabs>li>a {
    border-bottom: 0;
}

.block-title .nav-tabs {
    margin-bottom: -2px;
}

.block-title .nav-tabs>li>a {
    margin-bottom: 0;
}

.block-title .nav-tabs>li>a:hover {
    background: 0 0;
}

.block-title .nav-tabs>li.active>a,.block-title .nav-tabs>li.active>a:focus,.block-title .nav-tabs>li.active>a:hover {
    border: 1px solid #eaedf1;
    border-bottom-color: #fff;
    background-color: #fff;
}

.block-title code {
    padding: 2px 3px;
}

.block-options {
    margin: 0 6px;
    line-height: 37px;
}

.block-options .label {
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
    font-size: 13px;
}

.block-top {
    margin: -20px -15px 20px;
    border-bottom: 1px dotted #dbe1e8;
}

.block-section {
    margin-bottom: 20px;
}

.widget {
    background-color: #fff;
    margin-bottom: 10px;
}

.widget .widget-extra,.widget .widget-extra-full {
    position: relative;
    padding: 15px;
}

.widget .widget-extra {
    padding-top: 1px;
    padding-bottom: 1px;
}

.widget .widget-content-light {
    color: #fff;
}

.widget .widget-content-light small {
    color: #eee;
}

.widget .widget-icon,.widget .widget-image {
    width: 64px;
    height: 64px;
}

.widget .widget-icon {
    height: 64px;
    display: inline-block;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    border-radius: 32px;
}

.widget .widget-icon .fi,.widget .widget-icon .gi,.widget .widget-icon .hi,.widget .widget-icon .si {
    margin-top: -3px;
}

.widget .widget-options,.widget .widget-options-left {
    position: absolute;
    top: 5px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.widget .widget-options {
    right: 5px;
}

.widget .widget-options-left {
    left: 5px;
}

.widget .widget-options-left:hover,.widget .widget-options:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.widget-simple {
    padding: 15px;
}

.widget-simple:after,.widget-simple:before {
    content: " ";
    display: table;
}

.widget-simple:after {
    clear: both;
}

.widget-simple .widget-icon,.widget-simple .widget-image {
    margin: 0 15px;
}

.widget-simple .widget-icon.pull-left,.widget-simple .widget-image.pull-left {
    margin-left: 0;
}

.widget-simple .widget-icon.pull-right,.widget-simple .widget-image.pull-right {
    margin-right: 0;
}

.widget-simple .widget-content {
    font-size: 18px;
    margin: 12px 0;
}

.widget-simple .widget-content small {
    display: block;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 400;
}

.widget-advanced .widget-header {
    position: relative;
    padding: 15px 15px 50px;
    height: 150px;
    overflow: hidden;
}

.widget-advanced .widget-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
}

.widget-advanced .widget-background-map {
    height: 180px;
    width: 100%;
}

.widget-advanced .widget-content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    background: url(../img/template/ie8_opacity_dark_60.png) repeat;
    background: rgba(0,0,0,.6);
}

.widget-advanced .widget-main {
    position: relative;
    padding: 50px 15px 15px;
}

.widget-advanced .widget-image-container {
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 74px;
    height: 74px;
    top: -36px;
    left: 50%;
    margin-left: -36px;
    border-radius: 36px;
    background-color: #fff;
}

.widget-advanced .widget-header .widget-image-container {
    position: static;
    left: auto;
    top: auto;
    margin: 0;
}

.widget-advanced-alt .widget-header,.widget-advanced-alt .widget-main {
    padding: 15px;
}

.widget-advanced-alt .widget-header {
    height: auto;
    min-height: 150px;
}

.content-float .pull-left {
    margin: 0 20px 20px 0;
}

.content-float .pull-right {
    margin: 0 0 20px 20px;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 55px;
    left: 5px;
    border-radius: 3px;
    padding: 0 12px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: .1;
    filter: alpha(opacity=10);
}

#to-top:hover {
    color: #fff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

#login-background {
    width: 100%;
    height: 224px;
    overflow: hidden;
    position: relative;
}

#login-background>img {
    position: absolute;
    width: 2560px;
    height: 400px;
    left: 50%;
    margin-left: -1280px;
}

#login-container {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    z-index: 1000;
}

#login-container .login-title {
    padding: 20px 10px;
    background: #444;
    background: url(../img/template/ie8_opacity_dark_60.png) repeat;
    background: rgba(0,0,0,.6);
}

#login-container .login-title h1 {
    font-size: 26px;
    color: #fff;
}

#login-container .login-title small {
    font-size: 16px;
    color: #ddd;
}

#login-container>.block {
    border: 0;
}

#login-container .register-terms {
    line-height: 30px;
    margin-right: 10px;
    float: left;
}

.calendar-events {
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar-events li {
    color: #fff;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #555;
    opacity: .85;
    filter: alpha(opacity=85);
}

.calendar-events li:hover {
    cursor: move;
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery a img,.gallery img,.gallery-image img,a[data-toggle=lightbox-image] img {
    max-width: 100%;
}

a.gallery-link,a[data-toggle=lightbox-image] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery a:hover img,.gallery-image:hover img,a[data-toggle=lightbox-image]:hover img {
    opacity: .75;
    filter: alpha(opacity=75);
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

.gallery>.row>div {
    margin-bottom: 15px;
}

.gallery.gallery-widget>.row>div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pie-chart .pie-avatar {
    position: absolute;
    top: 8px;
    left: 8px;
}

.chart {
    height: 360px;
}

.chart-tooltip,.mini-chart-tooltip {
    position: absolute;
    display: none;
    color: #fff;
    background-color: #000;
    padding: 4px 10px;
}

.chart-pie-label {
    font-size: 12px;
    text-align: center;
    padding: 8px 12px;
    color: #fff;
}

.mini-chart-tooltip {
    left: 0;
    top: 0;
    visibility: hidden;
}

.timeline {
    position: relative;
}

.timeline-header {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    min-height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;
    z-index: 500;
}

.timeline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-list:after {
    position: absolute;
    display: block;
    width: 2px;
    top: 0;
    left: 95px;
    bottom: 0;
    content: "";
    background-color: #f0f0f0;
    z-index: 1;
}

.timeline-header+.timeline-list:after {
    top: 60px;
}

.timeline-list li {
    position: relative;
    margin: 0;
    padding: 15px 0;
}

.timeline-list.timeline-hover li:hover {
    background-color: #f9f9f9;
}

.timeline-list .timeline-icon {
    position: absolute;
    left: 80px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 500;
}

.timeline-list .active .timeline-icon {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #fff;
}

.timeline-list .timeline-time {
    float: left;
    width: 70px;
    text-align: right;
}

.timeline-list .timeline-content {
    margin-left: 120px;
}

.block-content-full .timeline-content {
    padding-right: 20px;
}

.media-feed {
    margin-bottom: 0;
}

.media-feed>.media {
    margin-top: 0;
    padding: 20px 20px 0;
    border-top: 1px dotted #dbe1e8;
}

.media-feed>.media:first-child {
    border-top: 0;
}

.media-feed.media-feed-hover>.media:hover {
    background-color: #f9f9f9;
}

#error-container {
    padding: 120px 20px;
    position: relative;
}

#error-container .error-options {
    position: absolute;
    top: 20px;
    left: 20px;
}

#error-container h1 {
    font-size: 96px;
    color: #fff;
    margin-bottom: 40px;
}

#error-container h2 {
    color: #ccc;
    margin-bottom: 40px;
    line-height: 1.4;
}

#error-container form {
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    background: url(../img/template/ie8_opacity_light_10.png) repeat;
    background: rgba(255,255,255,.1);
}

#error-container .form-control {
    border-color: #fff;
}

.table.table-pricing {
    background-color: #fff;
}

.table-pricing td,.table-pricing th {
    text-align: center;
}

.table-pricing th {
    font-size: 24px !important;
}

.table-pricing td {
    font-size: 15px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.table-pricing .table-price {
    background-color: #f9f9f9;
}

.table-pricing .table-price.table-featured,.table-pricing.table-featured .table-price {
    background-color: #252525;
}

.table-pricing th.table-featured,.table-pricing.table-featured th {
    background-color: #1bbae1;
    border-bottom: 2px solid #394263;
    color: #fff;
}

.table-pricing td.table-featured,.table-pricing.table-featured td {
    background-color: #394263;
    color: #fff;
}

.navbar.navbar-default {
    background-color: #34384b;
}

.navbar.navbar-inverse {
    background-color: #4c5471;
}

.navbar-fixed-bottom,.navbar-fixed-top {
    border-width: 0;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    
    font-weight: 300;
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-weight: 300;
    color: #777;
}

h1,h2,h3 {
    margin-bottom: 15px;
}

.text-primary,.text-primary:hover,a,a:focus,a:hover {
    color: #1bbae1;
}

.text-danger,.text-danger:hover,a.text-danger,a.text-danger:focus,a.text-danger:hover {
    color: #e74c3c;
}

.text-warning,.text-warning:hover,a.text-warning,a.text-warning:focus,a.text-warning:hover {
    color: #e67e22;
}

.text-success,.text-success:hover,a.text-success,a.text-success:focus,a.text-success:hover {
    color: #27ae60;
}

.text-info,.text-info:hover,a.text-info,a.text-info:focus,a.text-info:hover {
    color: #3498db;
}

.text-muted,.text-muted:hover,a.text-muted,a.text-muted:focus,a.text-muted:hover {
    color: #999;
}

b,strong {
    font-weight: 600;
}

ol,ul {
    padding-left: 30px;
}

.list-li-push li {
    margin-bottom: 10px;
}

p {
    
}

article p {
    font-size: 16px;
    line-height: 1.8;
}

.well {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.page-header {
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    margin: 30px 0 20px;
}

.sub-header {
    margin: 10px 0 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}

blockquote {
    border-left-width: 3px;
    margin: 20px 0;
    padding: 30px 60px 30px 20px;
    position: relative;
    width: 100%;
    border-color: #eaedf1;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-family: "HoneywellCondLight";
    font-size: 96px;
    position: absolute;
    right: 10px;
    top: -30px;
    color: #eaedf1;
}

blockquote.pull-right:before {
    left: 10px;
    right: auto;
}

label {
    font-weight: 600;
}

fieldset legend {
    font-size: 16px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #eaedf1;
}

input[type=file] {
    padding-top: 7px;
}

input[type=email].form-control,input[type=password].form-control,input[type=text].form-control,textarea.form-control {
    -webkit-appearance: none;
}

.form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border: 2px solid #ebeef3;
}

.form-control-borderless,.form-control-borderless .form-control,.form-control-borderless .input-group-addon,.form-control-borderless:focus {
    border: transparent !important;
}

.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.input-group .form-control {
    margin-top: 0;
}

.form-control:focus {
    border-color: #1bbae1;
}

.help-block {
    color: #777;
    font-weight: 400;
}

.input-group-addon {
    min-width: 45px;
    text-align: center;
    background-color: #fff;
    border-color: #dbe1e8;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: 0;
    padding: 10px;
   
}

.form-bordered .form-group.form-actions {
 
    border-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .input-group-addon,.has-success .radio,.has-success .radio-inline {
    color: #27ae60;
}

.has-success .form-control,.has-success .input-group-addon {
    border-color: #27ae60;
    background-color: #fff;
}

.has-success .form-control:focus {
    border-color: #166638;
}

.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .input-group-addon,.has-warning .radio,.has-warning .radio-inline {
    color: #e67e22;
}

.has-warning .form-control,.has-warning .input-group-addon {
    border-color: #e67e22;
    background-color: #fff;
}

.has-warning .form-control:focus {
    border-color: #b3621b;
}

.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .input-group-addon,.has-error .radio,.has-error .radio-inline {
    color: #e74c3c;
}

.has-error .form-control,.has-error .input-group-addon {
    border-color: #e74c3c;
    background-color: #fff;
}

.has-error .form-control:focus {
    border-color: #c0392b;
}

.wizard-steps {
    border-bottom: 1px solid #eaedf1;
    margin-bottom: 20px;
}

.form-bordered .wizard-steps {
    margin-bottom: 0;
}

.wizard-steps .row {
    margin: 0;
}

.wizard-steps .row div {
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
}

.form-bordered .wizard-steps .row div {
    padding-top: 10px;
}

.wizard-steps span {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #1bbae1;
    border-radius: 50px;
}

.wizard-steps div.active span,.wizard-steps div.done span {
    background-color: #1bbae1;
    color: #fff;
}

.wizard-steps div.done span {
    opacity: .25;
    filter: alpha(opacity=25);
}

.wizard-steps div.active span {
    opacity: 1;
    filter: alpha(opacity=100);
}

.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
}

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    bottom: 7px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 24px;
    -webkit-box-shadow: 1px 0 3px rgba(0,0,0,.05);
    box-shadow: 1px 0 3px rgba(0,0,0,.05);
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.switch input:checked+span:after {
    left: 26px;
    width: 24px;
    top: 1px;
    bottom: 1px;
    border: 0;
    -webkit-box-shadow: -2px 0 3px rgba(0,0,0,.1);
    box-shadow: -2px 0 3px rgba(0,0,0,.1);
}

.switch input:checked+span {
    background-color: #eee;
}

.switch-default span {
    border-color: #dbe1e8;
}

.switch-default input:checked+span {
    background-color: #dbe1e8;
}

.switch-primary span {
    border-color: #1bbae1;
}

.switch-primary input:checked+span {
    background-color: #1bbae1;
}

.switch-info span {
    border-color: #7abce7;
}

.switch-info input:checked+span {
    background-color: #7abce7;
}

.switch-success span {
    border-color: #aad178;
}

.switch-success input:checked+span {
    background-color: #aad178;
}

.switch-warning span {
    border-color: #f7be64;
}

.switch-warning input:checked+span {
    background-color: #f7be64;
}

.switch-danger span {
    border-color: #ef8a80;
}

.switch-danger input:checked+span {
    background-color: #ef8a80;
}

.table.table-vcenter td,.table.table-vcenter th {
    vertical-align: middle;
}

.table-options {
    padding: 6px 0;
}

.table thead>tr>th {
    font-size: 18px;
    font-weight: 600;
}

.table thead>tr>th>small {
    font-weight: 400;
    font-size: 75%;
}

.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th {
    padding-top: 14px;
    padding-bottom: 14px;
}

.table tfoot>tr>td,.table tfoot>tr>th {
    background-color: #f9fafc;
}

.table-borderless tbody>tr>td,.table-borderless tbody>tr>th {
    border-top-width: 0;
}

.table tbody+tbody,.table tbody>tr>td,.table tbody>tr>th,.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th,.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
    border-color: #eaedf1;
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color: #eaedf1;
}

.list-group-item {
    border-color: #eaedf1;
}

a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover {
    background-color: #1bbae1;
    border-color: #1bbae1;
}

a.list-group-item.active .list-group-item-text,a.list-group-item.active:focus .list-group-item-text,a.list-group-item.active:hover .list-group-item-text {
    color: #fff;
}

a.list-group-item:focus,a.list-group-item:hover {
    background-color: #f9fafc;
}

a.list-group-item.active>.badge {
    background: url(../img/template/ie8_opacity_dark_40.png) repeat;
    background: rgba(0,0,0,.4);
    color: #fff;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1bbae1;
}

.nav>li i {
    font-size: 14px;
}

.nav-pills>.active>a>.badge {
    color: #1bbae1;
}

.nav-stacked>li>a {
    margin: 4px 0 0;
}

.nav .caret,.nav a:focus .caret,.nav a:hover .caret {
    border-top-color: #1bbae1;
    border-bottom-color: #1bbae1;
}

.nav>li>a:focus,.nav>li>a:hover {
    background-color: #f9fafc;
}

.nav-tabs {
    border-bottom-color: #eaedf1;
}

.nav-tabs>li {
    margin-bottom: 0;
}

.nav-tabs>li>a {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: -1px;
}

.nav-tabs>li>a:hover {
    border-color: #eaedf1;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    color: #394263;
    border-color: #eaedf1;
    border-bottom-color: transparent;
}

.nav-pills>li.active>a>.badge {
    background: url(../img/template/ie8_opacity_dark_20.png) repeat;
    background: rgba(0,0,0,.2);
    color: #fff;
}

.dropdown-menu {
    padding: 0;
    font-size: 13px;
    border-color: #dbe1e8;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1);
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.dropdown-menu>li>a {
    padding: 6px 10px;
}

.dropdown-menu>li:first-child>a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-menu>li:last-child>a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropdown-menu i {
    opacity: .2;
    filter: alpha(opacity=20);
    line-height: 17px;
}

.dropdown-menu a:hover i {
    opacity: .5;
    filter: alpha(opacity=50);
}

.dropdown-menu .divider {
    margin: 2px 0;
    padding: 0 !important;
    background-color: #f0f0f0;
}

li.dropdown-header {
    padding: 5px 10px;
    color: #394263;
    background-color: #f9fafc;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #eaedf1;
}

.dropdown-menu li:first-child.dropdown-header {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-menu.dropdown-custom {
    min-width: 200px;
}

.dropdown-menu.dropdown-custom>li {
    padding: 8px 10px;
    font-size: 12px;
}

.dropdown-menu.dropdown-custom>li>a {
    border-radius: 3px;
}

.pagination>li>a,.pagination>li>span {
    color: #1bbae1;
    margin-left: 5px;
    margin-right: 5px;
    border: 0 !important;
    border-radius: 25px !important;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    background-color: #1bbae1;
}

.pager>li>a,.pager>li>span {
    border-color: #eaedf1;
}

.pager>li>a:hover,.pagination>li>a:hover {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #fff;
}

.pager>li.disabled>a:hover {
    border-color: #eaedf1;
}

.popover-title {
    background: 0 0;
    border: 0;
    font-size: 17px;
    font-weight: 600;
}

.tooltip {
    z-index: 1051;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip-inner {
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
}

.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow {
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000;
}

.breadcrumb {
    background-color: #fff;
}

.breadcrumb i {
    font-size: 14px;
}

.breadcrumb-top {
    margin: -10px -5px 10px;
    padding: 7px 10px;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #dbe1e8;
    font-size: 12px;
}

.breadcrumb-top+.content-header,.content-header+.breadcrumb-top {
    margin-top: -11px;
}

.breadcrumb>li+li:before {
    content: "\203a";
}
.progress_p {
    margin-bottom: 2px;
	 font-family: HoneywellSansMedium;
}
.progress,.progress-bar {
    height: 5px;
     margin-bottom: 4px;
	     background-color: #000000;
}
.progress_bg{
	background: #26263b;
    color: #fff;
        padding-top: 7px;
}
.progress-bar-danger {
    background-color: #e74c3c;
}

.progress-bar-warning {
    background-color: #f39c12;
}

.progress-bar-success {
    background-color: #2ecc71;
}

.progress-bar-info {
    background-color: #3498db;
}

.modal-content {
    border-radius: 3px;
}

.modal-header {
    padding: 15px 15px 14px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-title {
    font-weight: 300;
}

.modal-body {
    padding: 20px 15px;
}

.modal-body .nav-tabs {
    margin: 0 -15px 15px;
    padding: 0 5px !important;
}

.modal-footer {
    margin-top: 0;
    padding: 14px 15px 15px;
    border-top: 1px solid #eee;
    background-color: #f9f9f9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn {
    margin: 1px 0;
    background-color: #fff;
}

.btn .fi,.btn .gi,.btn .hi,.btn .si {
    line-height: 1;
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    opacity: .4;
    filter: alpha(opacity=40);
}

.block-options .btn,.input-group .btn,.modal-content .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-default {
    background-color: #f1f3f6;
    border-color: #dbe1e8;
    color: #394263;
}

.btn-default.btn-alt {
    background-color: #fff;
}

.btn-default:hover {
    background-color: #eaedf1;
    border-color: #c2c8cf;
}

.btn-default.active,.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default:active,.btn-default:focus,.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,.open .btn-default.dropdown-toggle,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #eaedf1;
    border-color: #eaedf1;
}

.btn-primary {
    background-color: #0070d2;
    border-color: #0070d2;
    color: #fff;    width: 100%;
}

.btn-primary.btn-alt {
    background-color: #fff;
    color: #1272b2;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: auto;  
	height: auto;
	  margin: 0px 8px 0px 0px;
}
.btn-primary:hover {
    background-color: #1272b2;
    border-color: #1272b2;
    color: #fff;
}.my_check {
    float: left;
}
.btn-lg {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 3px;
}
.btn-primary.active,.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary:active,.btn-primary:focus,.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,.open .btn-primary.dropdown-toggle,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
    background-color: #1272b2;
    border-color: #1272b2;
    color: #fff;
}

.btn-danger {
    background-color: #ef8a80;
    border-color: #e74c3c;
    color: #fff;
}

.btn-danger.btn-alt {
    background-color: #fff;
    color: #e74c3c;
}

.btn-danger:hover {
    background-color: #e74c3c;
    border-color: #9c3428;
    color: #fff;
}

.btn-danger.active,.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:active,.btn-danger:focus,.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,.open .btn-danger.dropdown-toggle,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

.btn-warning {
    background-color: #f7be64;
    border-color: #f39c12;
    color: #fff;
}

.btn-warning.btn-alt {
    background-color: #fff;
    color: #f39c12;
}

.btn-warning:hover {
    background-color: #f39c12;
    border-color: #b3730c;
    color: #fff;
}

.btn-warning.active,.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:active,.btn-warning:focus,.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,.open .btn-warning.dropdown-toggle,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff;
}

.btn-success {
    background-color: #aad178;
    border-color: #7db831;
    color: #fff;
}

.btn-success.btn-alt {
    background-color: #fff;
    color: #7db831;
}

.btn-success:hover {
    background-color: #7db831;
    border-color: #578022;
    color: #fff;
}

.btn-success.active,.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:active,.btn-success:focus,.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,.open .btn-success.dropdown-toggle,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
    background-color: #7db831;
    border-color: #7db831;
    color: #fff;
}

.btn-info {
    background-color: #7abce7;
    border-color: #3498db;
    color: #fff;
}

.btn-info.btn-alt {
    background-color: #fff;
    color: #3498db;
}

.btn-info:hover {
    background-color: #3498db;
    border-color: #2875a8;
    color: #fff;
}

.btn-info.active,.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:active,.btn-info:focus,.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,.open .btn-info.dropdown-toggle,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}

.btn-link,.btn-link.btn-icon:focus,.btn-link.btn-icon:hover,.btn-link:focus,.btn-link:hover {
    color: #1bbae1;
}

.btn-link.btn-icon {
    color: #999;
}

.btn-link.btn-icon:focus,.btn-link.btn-icon:hover {
    text-decoration: none;
}

.block-options .btn {
    border-radius: 15px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 30px;
    text-align: center;
}

.panel {
    margin-bottom: 20px;
}

.panel-heading {
    padding: 15px;
}

.panel-title {
    font-size: 14px;
}

.panel-default>.panel-heading {
    background-color: #f9f9f9;
}

.panel-group {
    margin-bottom: 20px;
}

pre {
    background: #151515;
    overflow: scroll;
}

code {
    border: 1px solid #fad4df;
    margin: 1px 0;
    display: inline-block;
}

.btn code {
    display: inline;
    margin: 0;
}

.alert {
    border-top-width: 0;
    border-right-width: 2px;
    border-bottom-width: 0;
    border-left-width: 2px;
}

.alert-danger {
    color: #e74c3c;
    background-color: #ffd1cc;
    border-color: #ffb8b0;
}

.alert-danger .alert-link {
    color: #e74c3c;
}

.alert-warning {
    color: #e67e22;
    background-color: #ffe4cc;
    border-color: #ffd6b2;
}

.alert-warning .alert-link {
    color: #e67e22;
}

.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb;
}

.alert-success .alert-link {
    color: #27ae60;
}

.alert-info {
    color: #3498db;
    background-color: #dae8f2;
    border-color: #b8d2e5;
}

.alert-info .alert-link {
    color: #3498db;
}

.alert-dismissable .close {
    top: -5px;
    right: -25px;
}

.close {
    text-shadow: none;
}

.alert.alert-alt {
    margin: 0 0 2px;
    padding: 5px;
    font-size: 12px;
    border-width: 0;
    border-left-width: 2px;
}

.alert.alert-alt small {
    opacity: .75;
    filter: alpha(opacity=75);
}

.alert-alt.alert-dismissable .close {
    right: 0;
}

.alert-alt.alert-dismissable .close:hover {
    color: #fff;
}

.alert-danger.alert-alt {
    border-color: #e74c3c;
}

.alert-warning.alert-alt {
    border-color: #e67e22;
}

.alert-success.alert-alt {
    border-color: #27ae60;
}

.alert-info.alert-alt {
    border-color: #3498db;
}

.sidebar-content .alert.alert-alt {
    margin-left: -10px;
    padding-left: 15px;
    background: 0 0;
    color: #fff;
}

.badge,.label {
    font-weight: 400;
    font-size: 90%;
}

.label {
    padding: 1px 4px;
}

.badge {
    background: url(../img/template/ie8_opacity_dark_30.png) repeat;
    background: rgba(0,0,0,.3);
    padding: 3px 6px;
}

.label-danger {
    background-color: #e74c3c;
}

.label-danger[href]:focus,.label-danger[href]:hover {
    background-color: #ff5542;
}

.label-warning {
    background-color: #e67e22;
}

.label-warning[href]:focus,.label-warning[href]:hover {
    background-color: #ff8b26;
}

.label-success {
    background-color: #27ae60;
}

.label-success[href]:focus,.label-success[href]:hover {
    background-color: #2cc76c;
}

.label-info {
    background-color: #2980b9;
}

.label-info[href]:focus,.label-info[href]:hover {
    background-color: #2f92d4;
}

.label-primary {
    background-color: #1bbae1;
}

.label-primary[href]:focus,.label-primary[href]:hover {
    background-color: #5ac5e0;
}

.label-default {
    background-color: #999;
}

.label-default[href]:focus,.label-default[href]:hover {
    background-color: #777;
}

.carousel-control.left,.carousel-control.left.no-hover:hover,.carousel-control.right,.carousel-control.right.no-hover:hover {
    background: 0 0;
}

.carousel-control.left:hover,.carousel-control.right:hover {
    background: url(../img/template/ie8_opacity_dark_30.png) repeat;
    background: rgba(0,0,0,.3);
}

.carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control i {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.alert,.carousel,.table,p {
    margin-bottom: 20px;
}

.btn.active,.form-control,.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus,.has-warning .form-control:focus,.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover,.open .btn.dropdown-toggle,.panel,.popover,.progress,.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert.alert-alt,.breadcrumb,.dropdown-menu,.navbar,.navbar-form-custom .form-control,.tooltip-inner {
    border-radius: 0;
}

.push-bit {
    margin-bottom: 10px !important;
}

.push {
    margin-bottom: 15px !important;
}

.push-top-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.lt-ie9 .hidden-lt-ie9 {
    display: none !important;
}

.display-none {
    display: none;
}

.remove-margin {
    margin: 0 !important;
}

.remove-padding {
    padding: 0 !important;
}

.remove-radius {
    border-radius: 0 !important;
}

.remove-box-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.remove-transition {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}

:focus {
    outline: 0 !important;
}

.style-alt #page-content {
    background-color: #fff;
}

.style-alt .block {
    border-color: #dbe1e8;
}

.style-alt .block.block-alt-noborder {
    border-color: transparent;
}

.style-alt .block-title {
    background-color: #dbe1e8;
    border-bottom-color: #dbe1e8;
}

.style-alt #page-content+footer,.style-alt .breadcrumb-top+.content-header,.style-alt .content-header+.breadcrumb-top {
    background-color: #f9fafc;
}

.style-alt .breadcrumb-top,.style-alt .content-header {
    border-bottom-color: #eaedf1;
}

.style-alt #page-content+footer {
    border-top-color: #eaedf1;
}

.style-alt .widget {
    background-color: #f6f6f6;
}

.test-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    background-color: #eee;
    border: 2px solid #ccc;
    color: #fff;
    margin-bottom: 15px;
}

.themed-color {
    color: #1bbae1;
}

.themed-border {
    border-color: #1bbae1;
}

.themed-background {
    background-color: #1bbae1;
}

.themed-color-dark {
    color: #394263;
}

.themed-border-dark {
    border-color: #394263;
}

.themed-background-dark {
    background-color: #394263;
}

@media screen and (min-width:768px) {
    #login-background {
        height: 400px;
    }

    #login-background>img {
        top: 0;
    }

    #login-container {
        width: 480px;
        top: 186px;
        margin-left: -240px;
    }

    #main-container {
        min-width: 768px;
    }

    #page-content {
        padding: 20px 20px 1px;
    }

    #page-content+footer,.block,.block.full,.breadcrumb-top,.header-section,.modal-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .block .block-content-full {
        margin: -20px -20px -1px;
    }

    .block.full .block-content-full {
        margin: -20px;
    }

    .breadcrumb-top,.content-header,.content-top {
        margin: -20px -20px 20px;
    }

    .breadcrumb-top+.content-header,.content-header+.breadcrumb-top {
        margin-top: -21px;
    }

    .block,.widget {
        margin-bottom: 20px;
    }

    .block-title,.block-top,.form-bordered {
        margin-left: -20px;
        margin-right: -20px;
    }

    .form-bordered .form-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-horizontal.form-bordered .form-group {
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-tabs>li>a {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 3px;
        margin-right: 3px;
    }
}

@media (min-width:992px) {
    #sidebar {
        -webkit-transition: opacity .5s linear,background-color .2s ease-out;
        transition: opacity .5s linear,background-color .2s ease-out;
    }

    #main-container,.header-fixed-bottom header,.header-fixed-top header {
        -webkit-transition: none;
        transition: none;
    }

    #sidebar {
        width: 65px !important;
        opacity: .2;
        filter: alpha(opacity=20);
    }

    #main-container {
        margin-left: 65px !important;
    }

    .sidebar-brand i {
        display: none;
    }

    #sidebar:hover,.sidebar-full #sidebar {
        width: 190px !important;
        opacity: 1;
        filter: alpha(opacity=100);
		padding-left: 16px;height: 100%;
    }

    #sidebar:hover .sidebar-brand i,.sidebar-full #sidebar .sidebar-brand i {
        display: inline-block;
    }

    #sidebar:hover+#main-container,.sidebar-full #main-container {
        margin-left:200px !important;
    }

    .sidebar-open header.navbar-fixed-bottom,.sidebar-open header.navbar-fixed-top,header.navbar-fixed-bottom,header.navbar-fixed-top {
        left: 65px;
    }

    #sidebar:hover+#main-container header.navbar-fixed-bottom,#sidebar:hover+#main-container header.navbar-fixed-top,.sidebar-full header.navbar-fixed-bottom,.sidebar-full header.navbar-fixed-top {
        left: 190px;
    }
}

@media (min-width:1200px) {
    .header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content {
        padding-bottom: 0;
    }

    article p {
        font-size: 19px;
        line-height: 1.9;
    }
	.ctrl_but {
    position: relative;
    top: 489px;
	left: 14.666667%;
	}
	button#pre_v2{
		position: absolute;
		left: -17px;
	}
	.vdobg2{
	    float: right;
    margin-top: -12px;
    z-index: 10;
    margin-right: -4px;
	}
}
@media (min-width:1400px) {
.ctrl_but {
    position: relative;
    top: 489px;
   	left: 1.666667%;
	}	
	button#pre_v2{
	position: absolute;
    left: 31%;
	}
	.sidebar-nav{
		height: 85%;
	}
	body {
    background-size: 100% 100%;
}
	.vdobg2{
		
	}
}
@media (min-width: 767px){
.model_col {
        /* padding: 31px 20px; */
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}
.model_col ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
.model_col ul li {
    display: inline-block;
margin: 10px 12px;

}
.model_col ul li a {
       background: url("../img/but_bg.png");
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    width: 97px;
    display: block;
    height: 35px;
    padding: 10px;
}
.current {
    
	   background: url("../img/but_hov.png")!important;
    background-repeat: no-repeat!important;
}
.over{
	/*background: #073d4f!important;
    border: 2px solid #073d4f!important;*/
	    background: url("../img/but_act.png")!important;
		background-repeat: no-repeat!important;
}
.model_col ul li a:hover {
     background: url("../img/but_hov.png")!important;
	text-decoration:none;
	background-repeat: no-repeat!important;
}
ul.nav.navbar-nav-custom {
    position: absolute;
    top: 80px;
    left: -45px;
}
.fa-fw{
	    color: #edc106;
}
}
/*range css-*/
#slider1{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 10px;
    height: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #88bd77),
        color-stop(0.15, #000000)
    );
}

#slider1::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #88bd77;
    border: 1px solid #88bd77;
    height: 5px;
    width:6px;
}

#slider2{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 10px;
    height: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #e8599e),
        color-stop(0.15, #000000)
    );
}

#slider2::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #e8599e;
    border: 1px solid #e8599e;
    height: 5px;
    width:6px;
}
.progress1 {
    background: #88bd77;
}
.progress2 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7f87+0,ff7f87+0,b400ff+100 */
background: #ff7f87; /* Old browsers */
background: -moz-linear-gradient(top,  #ff7f87 0%, #ff7f87 0%, #b400ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff7f87 0%,#ff7f87 0%,#b400ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff7f87 0%,#ff7f87 0%,#b400ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f87', endColorstr='#b400ff',GradientType=0 ); /* IE6-9 */
 

}
/*range css end*/
.no-gutter {
    padding: 0px;
}
.pad_left{
	 padding-left: 0px;
}
.animation {
    
    min-height: 550px;
	margin: 10px 0;
}
.footer{
    text-align: center;
    color: #fff;
   padding: 20px;
      font-family: Honeywellsanslight;
    font-size: 12px;
	 
}
button#nxt_v2 {
    background: url("../mod1_v1/assets/nex.png");
    height: 31px;
    width: 69px;
    border: none;
	float:right;
    background-repeat: no-repeat;
}
button#pre_v2 {
    background: url("../mod1_v2/prev_1.png");
    height: 31px;
    width: 88px;
    border: none;
    float: left;
    background-repeat: no-repeat;
}
.tool_tip + .tooltip > .tooltip-inner {background-color: #f00;}
.tool_tip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }
gwd-doubleclick#gwd-ad {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    top: 44%;
    height: 480px;
    transform: translate3d(-430px, -240px, 0);
    -webkit-transform: translate3d(-430px, -240px, 0);
    -moz-transform: translate3d(-430px, -240px, 0);
    width: 860px;
    transform-origin: 430px 240px 0px;
    -webkit-transform-origin: 430px 240px 0px;
    -moz-transform-origin: 430px 240px 0px;
	box-shadow: 0px 0px 5px #000, -1px -3px 15px #000;
	   
}
.gwd-page-content{
 background: url(../img/animate_bg.jpg)!important;
}
img.gwd-img-1mec {
    position: relative;
    height: 25px;
    left: 0px;
    top: 480px;
    width: 860px;
    opacity: 0.3;
    transform-origin: 430.5px 12.5px 0px;
    -webkit-transform-origin: 430.5px 12.5px 0px;
    -moz-transform-origin: 430.5px 12.5px 0px;
}

/*Model3*/

.inst_head {
    color: #fff;
    font-family: HoneywellSansMedium;
    background: #26364d;
    padding: 15px 4px;
    border-left: 6px solid #1273b2;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
	font-size: 18px;

}
.instruction {
    background: #284664;
    height: 260px;
    border-bottom: 3px solid #1273b2;
}.alerts {
    background: #54404a;
    height: 220px;
    border-bottom: 3px solid #7d6046;
}
.alert_head {
    background: #633f45;
    border-bottom: 1px solid #fff;
    padding: 15px 8px;
    border-left: 6px solid #635936;
    color: #fff;
    font-family: HoneywellSansMedium;
    font-size: 18px;
}
.alerts {
    background: #54404a;
    height: 250px;
    border-bottom: 3px solid #7d6046;
}
.user_name{
	padding: 10px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #fff;
}
.user_email {
    color: #0e83cf;
}
.user_pass{
	padding: 10px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #fff;
}
.password {
    color: #0e83cf;
}.standard_logo {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 145px;
    max-height: 113px;
	margin: 15px 0px;
}
.log_form {
    border: 1px solid #000;
    margin: 15px 0;
    background: #f4f6f9;
}.my_checkbox {
  
}
.forgot_pas {
    font-size: 12px;
    color: #0e83cf;
}
.animate{
margin-bottom: 30px;
}.try {
    background: #fff;
    padding: 10px 20px;
    border: 3px solid #eef1f6;
    border-radius: 10px;
    color: #0e83cf;
    margin-left: 10px;
}
@media (min-width: 992px){
	.col-md-5.col-md-push-4.log_form {
        width: 40.666667%;
    left: 29.333333%;
	}
	#animation_part1 {
    width: 81.333333%;
    padding-right: 10px;
	}
	#animation_part2 {
    width: 18.666667%;
	}
}