
    @font-face {
      font-family: HoneywellCond;
      src: url("assets/HoneywellCond-Medium.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellCond;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-img-19mg {
      position: absolute;
      transform-origin: 240px 240px 0px;
      width: 420px;
      height: 420px;
      top: 31px;
      left: 222px;
      opacity: 0;
      visibility: visible;
    }
    .gwd-p-6is9 {
      position: absolute;
      width: 185px;
      top: 124px;
      text-align: center;
      padding: 0px;
      height: 39px;
      transform-origin: 92.5px 116.25px 0px;
      left: 668px;
      letter-spacing: 3px;
      border-style: solid;
      border-width: 0px;
      border-radius: 0px;
      transform: scale3d(1, 1, 1);
      opacity: 0;
      visibility: visible;
      color: rgb(0, 0, 0);
      font-family: HoneywellCond !important;
    }
    .gwd-span-n28e {
      color: rgb(0, 0, 0);
    }
    .gwd-span-ddkf {
      font-size: 37px;
    }
    .gwd-span-vlid {
      font-family: HoneywellCond;
    }
    .gwd-span-19nm {
      font-family: HoneywellCond;
    }
    .gwd-span-r6ka {
      font-family: HoneywellCond;
    }
    .gwd-span-1ldl {
      font-family: HoneywellCond;
    }
    .gwd-span-1bcq {
      font-family: HoneywellCond;
    }
    .gwd-span-1rga {
      font-family: HoneywellCond;
    }
    .gwd-span-ca26 {
      font-family: HoneywellCond;
    }
    .gwd-p-1v2f {
      position: absolute;
      width: 182.5px;
      height: 41.25px;
      text-align: center;
      top: 163px;
      left: 669px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: scale3d(1, 1, 1);
      visibility: visible;
    }
    .gwd-span-ow0e {
      font-size: xx-large;
      letter-spacing: 3px;
    }
    .gwd-div-i9lx {
      font-size: xx-large;
      color: rgb(255, 255, 255);
      letter-spacing: 3px;
    }
    .gwd-div-1fxu {
      font-size: xx-large;
      color: rgb(255, 255, 255);
      letter-spacing: 3px;
    }
    .gwd-div-1t2o {
      font-size: xx-large;
      color: rgb(255, 255, 255);
      letter-spacing: 3px;
    }
    .gwd-div-g5mu {
      font-size: xx-large;
      color: rgb(255, 255, 255);
      letter-spacing: 3px;
    }
    .gwd-div-18pl {
      font-size: xx-large;
      color: rgb(255, 255, 255);
    }
    .gwd-div-19yu {
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
    .gwd-span-1j3e {
      font-family: HoneywellCond;
    }
    .gwd-span-prqs {
      font-family: HoneywellCond;
      font-size: xx-large;
    }
    .gwd-span-1yec {
      font-family: HoneywellCond;
      font-size: xx-large;
    }
    .gwd-span-10hk {
      font-family: HoneywellCond;
      font-size: xx-large;
    }
    .gwd-span-8pik {
      position: absolute;
      width: 190px;
      height: 38px;
      text-align: center;
      color: rgb(0, 0, 0);
      top: 202px;
      left: 665px;
      opacity: 0;
      visibility: visible;
    }
    .gwd-div-1upf {
      font-size: xx-large;
      letter-spacing: 3px;
    }
    .gwd-span-1hdy {
      position: absolute;
      text-align: center;
      font-size: xx-large;
      top: 241px;
      width: 168px;
      height: 41px;
      left: 676px;
      letter-spacing: 3px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      transform-origin: 85.125px 21.375px 0px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: rotateY(-14deg) rotateX(90deg);
      visibility: visible;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-span-mawt {
      position: absolute;
      width: 149.375px;
      height: 24.875px;
      font-size: 32px;
      text-align: center;
      color: rgb(0, 0, 0);
      left: 685px;
      letter-spacing: 3px;
      opacity: 0;
      top: 370px;
      visibility: visible;
    }
    .gwd-span-1qsf {
      font-family: HoneywellCond;
      font-size: xx-large;
    }
    @keyframes gwd-gen-1fsrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      7.41% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.15% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1fsrgwdanimation {
      animation: gwd-gen-1fsrgwdanimation_gwd-keyframes 5.4s linear 0.2s 1 normal forwards;
    }
    .gwd-span-1maw {
      font-family: HoneywellCond;
    }
    .gwd-span-mbdo {
      font-family: HoneywellCond;
    }
    .gwd-span-1x4t {
      font-family: HoneywellCond;
    }
    @keyframes gwd-gen-hn3qgwdanimation_gwd-keyframes {
      0% {
        transform: scale3d(1, 1, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 124px;
        opacity: 0;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      10.87% {
        transform: scale3d(1.20833, 1.225, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 147.333px;
        opacity: 0;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      17.39% {
        transform: scale3d(1.25, 1.27, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 152px;
        opacity: 1;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      26.09% {
        transform: scale3d(1, 1, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 124px;
        opacity: 1;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      97.83% {
        transform: scale3d(1, 1, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 124px;
        opacity: 1;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      100% {
        transform: scale3d(1, 1, 1);
        border-width: 0px;
        border-radius: 0px;
        left: 668px;
        top: 124px;
        opacity: 0;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hn3qgwdanimation {
      animation: gwd-gen-hn3qgwdanimation_gwd-keyframes 4.6s linear 1s 1 normal forwards;
    }
    .gwd-span-1n2r {
      font-family: HoneywellCond;
    }
    .gwd-span-7ipm {
      font-family: HoneywellCond;
    }
    .gwd-span-1ci7 {
      font-family: HoneywellCond;
    }
    .gwd-span-1iye {
      font-family: HoneywellCond;
    }
    .gwd-span-1kaj {
      font-family: HoneywellCond;
    }
    .gwd-span-1c7w {
      font-family: HoneywellCond;
    }
    .gwd-span-1wvq {
      font-family: HoneywellCond;
    }
    .gwd-span-1wc0 {
      font-family: HoneywellCond;
    }
    .gwd-span-1941 {
      font-family: HoneywellCond;
    }
    @keyframes gwd-gen-lovogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      14.71% {
        opacity: 0;
        transform: scale3d(0.62, 0.68, 1);
        animation-timing-function: linear;
      }
      23.53% {
        opacity: 1;
        transform: scale3d(0.62, 0.68, 1);
        animation-timing-function: linear;
      }
      35.29% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      97.06% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lovogwdanimation {
      animation: gwd-gen-lovogwdanimation_gwd-keyframes 3.4s linear 2.2s 1 normal forwards;
    }
    @keyframes gwd-gen-lgpugwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.45% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lgpugwdanimation {
      animation: gwd-gen-lgpugwdanimation_gwd-keyframes 2.2s linear 3.4s 1 normal forwards;
    }
    @keyframes gwd-gen-d9xbgwdanimation_gwd-keyframes {
      0% {
        transform: rotateY(-14deg) rotateX(90deg);
        opacity: 0;
        animation-timing-function: linear;
      }
      11.11% {
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
        animation-timing-function: linear;
      }
      94.44% {
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-d9xbgwdanimation {
      animation: gwd-gen-d9xbgwdanimation_gwd-keyframes 1.8s linear 3.8s 1 normal forwards;
    }
    @keyframes gwd-gen-ml00gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 370px;
        animation-timing-function: linear;
      }
      18.75% {
        opacity: 1;
        top: 282px;
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        top: 282px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 282px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ml00gwdanimation {
      animation: gwd-gen-ml00gwdanimation_gwd-keyframes 1.6s linear 4s 1 normal forwards;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    .gwd-img-f1wy {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
      opacity: 1;
      visibility: hidden;
    }
    .gwd-img-3fgm {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      visibility: hidden;
      opacity: 0;
    }
    .gwd-div-1v2e {
      position: absolute;
      left: 0px;
      top: -1px;
      width: 860px;
      height: 480px;
      opacity: 0;
      background-image: none;
      background-color: rgb(255, 255, 255);
    }
    @keyframes gwd-gen-1bpqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      50% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1bpqgwdanimation {
      animation: gwd-gen-1bpqgwdanimation_gwd-keyframes 0.2s linear 5.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1jqtgwdanimation_gwd-keyframes {
      0% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.21% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jqtgwdanimation {
      animation: gwd-gen-1jqtgwdanimation_gwd-keyframes 5.6s linear 0s 1 normal forwards;
    }
    .gwd-img-ivjc {
      position: absolute;
      width: 591px;
      height: 328px;
      transform-origin: 295.375px 163.868px 0px;
      left: 140px;
      top: 83px;
      opacity: 0;
    }
    .gwd-div-beyi {
      position: absolute;
      left: 265px;
      transform-origin: 65.25px 25px 0px;
      height: 39px;
      top: 21px;
      width: 5px;
      opacity: 0;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-p-1ph4 {
      position: absolute;
      height: 34px;
      transform-origin: 65px -16px 0px;
      width: 130px;
      font-size: 23px;
      top: 28px;
      left: 267px;
      opacity: 0;
    }
    .gwd-p-41t9 {
      position: absolute;
      transform-origin: 0px 0px 0px;
      height: 36px;
      width: 214px;
      color: rgb(0, 0, 0);
      font-size: 23px;
      top: 28px;
      opacity: 0;
      left: 458px;
    }
    .gwd-div-jpf3 {
      position: absolute;
      width: 466.75px;
      height: 1px;
      left: 222px;
      top: 450px;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-div-1ocj {
      top: 422px;
      height: 2px;
      opacity: 0;
      left: 392px;
    }
    .gwd-div-hcnh {
      top: 466px;
      height: 2px;
      opacity: 0;
      left: 0px;
    }
    .gwd-p-1v4q {
      position: absolute;
      width: 436px;
      height: 53px;
      color: rgb(0, 0, 0);
      font-size: 28px;
      top: 428px;
      left: 244px;
      opacity: 0;
    }
    .gwd-img-lkni {
      position: absolute;
      left: 305px;
      top: 218px;
      transform-origin: 17.5px 23.25px 0px;
      width: 45px;
      height: 45px;
    }
    .gwd-img-1v3a {
      left: 173px;
      top: 169px;
    }
    .gwd-img-1thz {
      opacity: 0;
      width: 36px;
      left: 260px;
      top: 257px;
    }
    .gwd-img-spak {
      opacity: 0;
      left: 400px;
      top: 177px;
    }
    .gwd-img-17wy {
      opacity: 0;
      left: 460px;
      top: 290px;
    }
    .gwd-img-1hln {
      opacity: 0;
      top: 172px;
      left: 580px;
    }
    .gwd-img-1aw9 {
      opacity: 0;
      left: 667px;
      top: 140px;
    }
    .gwd-img-ji7j {
      opacity: 0;
      top: 295px;
      left: 690px;
    }
    @keyframes gwd-gen-1eg1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 591px;
        height: 328px;
        left: 140px;
        top: 83px;
        animation-timing-function: linear;
      }
      0.77% {
        opacity: 1;
        width: 591px;
        height: 328px;
        left: 140px;
        top: 83px;
        animation-timing-function: linear;
      }
      5.38% {
        opacity: 1;
        width: 860px;
        height: 480px;
        left: 0px;
        top: 0px;
        animation-timing-function: linear;
      }
      98.46% {
        opacity: 1;
        width: 860px;
        height: 480px;
        left: 0px;
        top: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        width: 860px;
        height: 480px;
        left: 0px;
        top: 0px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1eg1gwdanimation {
      animation: gwd-gen-1eg1gwdanimation_gwd-keyframes 13s linear 5.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1ra4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      2.86% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      5.71% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      8.57% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      17.14% {
        opacity: 1;
        width: 130px;
        animation-timing-function: linear;
      }
      97.14% {
        opacity: 1;
        width: 130px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        width: 130px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ra4gwdanimation {
      animation: gwd-gen-1ra4gwdanimation_gwd-keyframes 7s linear 5.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1ktlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      5.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ktlgwdanimation {
      animation: gwd-gen-1ktlgwdanimation_gwd-keyframes 5.8s linear 7s 1 normal forwards;
    }
    @keyframes gwd-gen-yatzgwdanimation_gwd-keyframes {
      0% {
        left: 458px;
        opacity: 0;
        animation-timing-function: linear;
      }
      5.45% {
        left: 399px;
        opacity: 1;
        animation-timing-function: linear;
      }
      96.36% {
        left: 399px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 399px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-yatzgwdanimation {
      animation: gwd-gen-yatzgwdanimation_gwd-keyframes 5.5s linear 7.3s 1 normal forwards;
    }
    @keyframes gwd-gen-11yvgwdanimation_gwd-keyframes {
      0% {
        left: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      18.92% {
        left: 205px;
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        left: 205px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 205px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11yvgwdanimation {
      animation: gwd-gen-11yvgwdanimation_gwd-keyframes 3.7s linear 9.1s 1 normal forwards;
    }
    @keyframes gwd-gen-jedcgwdanimation_gwd-keyframes {
      0% {
        left: 392px;
        opacity: 0;
        animation-timing-function: linear;
      }
      18.92% {
        left: 205px;
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        left: 205px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 205px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-jedcgwdanimation {
      animation: gwd-gen-jedcgwdanimation_gwd-keyframes 3.7s linear 9.1s 1 normal forwards;
    }
    @keyframes gwd-gen-120jgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      14.29% {
        opacity: 1;
        animation-timing-function: linear;
      }
      94.29% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-120jgwdanimation {
      animation: gwd-gen-120jgwdanimation_gwd-keyframes 3.5s linear 9.3s 1 normal forwards;
    }
    .gwd-img-1ssa {
      opacity: 0;
      left: 188px;
      top: 142px;
    }
    @keyframes gwd-gen-uhk5gwdanimation_gwd-keyframes {
      0% {
        top: 142px;
        opacity: 0;
        left: 188px;
        animation-timing-function: linear;
      }
      6.52% {
        top: 142px;
        opacity: 1;
        left: 188px;
        animation-timing-function: linear;
      }
      95.65% {
        top: 142px;
        opacity: 1;
        left: 188px;
        animation-timing-function: linear;
      }
      100% {
        top: 142px;
        opacity: 0;
        left: 188px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-uhk5gwdanimation {
      animation: gwd-gen-uhk5gwdanimation_gwd-keyframes 4.6s linear 8.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1swdgwdanimation_gwd-keyframes {
      0% {
        top: 257px;
        opacity: 0;
        left: 260px;
        animation-timing-function: linear;
      }
      6.98% {
        top: 257px;
        opacity: 1;
        left: 260px;
        animation-timing-function: linear;
      }
      95.35% {
        top: 257px;
        opacity: 1;
        left: 260px;
        animation-timing-function: linear;
      }
      100% {
        top: 257px;
        opacity: 0;
        left: 260px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1swdgwdanimation {
      animation: gwd-gen-1swdgwdanimation_gwd-keyframes 4.3s linear 8.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1g1tgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 177px;
        left: 400px;
        animation-timing-function: linear;
      }
      7.5% {
        opacity: 1;
        top: 177px;
        left: 400px;
        animation-timing-function: linear;
      }
      95% {
        opacity: 1;
        top: 177px;
        left: 400px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 177px;
        left: 400px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1g1tgwdanimation {
      animation: gwd-gen-1g1tgwdanimation_gwd-keyframes 4s linear 8.8s 1 normal forwards;
    }
    @keyframes gwd-gen-15e2gwdanimation_gwd-keyframes {
      0% {
        top: 290px;
        opacity: 0;
        left: 460px;
        animation-timing-function: linear;
      }
      8.11% {
        top: 290px;
        opacity: 1;
        left: 460px;
        animation-timing-function: linear;
      }
      94.59% {
        top: 290px;
        opacity: 1;
        left: 460px;
        animation-timing-function: linear;
      }
      100% {
        top: 290px;
        opacity: 0;
        left: 460px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-15e2gwdanimation {
      animation: gwd-gen-15e2gwdanimation_gwd-keyframes 3.7s linear 9.1s 1 normal forwards;
    }
    @keyframes gwd-gen-1j4xgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 172px;
        left: 580px;
        animation-timing-function: linear;
      }
      8.82% {
        opacity: 1;
        top: 172px;
        left: 580px;
        animation-timing-function: linear;
      }
      94.12% {
        opacity: 1;
        top: 172px;
        left: 580px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 172px;
        left: 580px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1j4xgwdanimation {
      animation: gwd-gen-1j4xgwdanimation_gwd-keyframes 3.4s linear 9.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1tysgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 140px;
        left: 667px;
        animation-timing-function: linear;
      }
      3.37% {
        opacity: 1;
        top: 140px;
        left: 667px;
        animation-timing-function: linear;
      }
      32.58% {
        opacity: 1;
        top: 140px;
        left: 667px;
        animation-timing-function: linear;
      }
      34.83% {
        opacity: 0;
        top: 140px;
        left: 667px;
        animation-timing-function: linear;
      }
      97.75% {
        opacity: 0;
        top: 163px;
        left: 658px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 163px;
        left: 658px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1tysgwdanimation {
      animation: gwd-gen-1tysgwdanimation_gwd-keyframes 8.9s linear 9.7s 1 normal forwards;
    }
    @keyframes gwd-gen-4fk6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 295px;
        left: 690px;
        animation-timing-function: linear;
      }
      3.49% {
        opacity: 1;
        top: 295px;
        left: 690px;
        animation-timing-function: linear;
      }
      30.23% {
        opacity: 1;
        top: 295px;
        left: 690px;
        animation-timing-function: linear;
      }
      32.56% {
        opacity: 0;
        top: 295px;
        left: 690px;
        animation-timing-function: linear;
      }
      97.67% {
        opacity: 0;
        top: 297px;
        left: 653px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 297px;
        left: 653px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-4fk6gwdanimation {
      animation: gwd-gen-4fk6gwdanimation_gwd-keyframes 8.6s linear 10s 1 normal forwards;
    }
    .gwd-img-19yl {
      position: absolute;
      top: 175px;
      left: 214px;
      width: 63px;
      height: 67px;
    }
    .gwd-img-11pl {
      opacity: 0;
      left: 643px;
      top: 150px;
    }
    .gwd-img-1o0o {
      opacity: 0;
      left: 557px;
      width: 63px;
      height: 67px;
      top: 184px;
    }
    .gwd-img-1sb0 {
      opacity: 0;
      top: 189px;
      left: 244px;
    }
    .gwd-img-db1d {
      opacity: 0;
      top: 126px;
      left: 154px;
      width: 63px;
      height: 67px;
    }
    .gwd-p-1nvz {
      position: absolute;
      text-align: center;
      width: 90px;
      transform-origin: 61px 20px 0px;
      font-size: 23px;
      height: 26px;
      top: 142px;
      left: 165px;
      color: rgb(0, 0, 0);
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-p-m2sj {
      width: 76px;
      font-size: 19px;
      transform-origin: 126px 63.3462px 0px;
      height: 21px;
    }
    .gwd-p-9n4j {
      left: 231px;
      top: 186px;
    }
    .gwd-p-g3i4 {
      left: 533px;
      top: 185px;
    }
    .gwd-p-1caj {
      opacity: 0;
      top: 130px;
      left: 634px;
    }
    .gwd-p-1cg6 {
      opacity: 0;
      top: 111px;
      left: 150px;
    }
    .gwd-p-4xlf {
      opacity: 0;
      left: 238px;
      top: 168px;
    }
    .gwd-p-h2sr {
      opacity: 0;
      top: 166px;
      left: 548px;
    }
    @keyframes gwd-gen-1jtwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 126px;
        width: 63px;
        height: 67px;
        left: 154px;
        animation-timing-function: linear;
      }
      22.92% {
        opacity: 1;
        top: 149px;
        width: 63px;
        height: 67px;
        left: 154px;
        animation-timing-function: linear;
      }
      95.83% {
        opacity: 1;
        top: 149px;
        width: 63px;
        height: 67px;
        left: 154px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 149px;
        width: 63px;
        height: 67px;
        left: 154px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jtwgwdanimation {
      animation: gwd-gen-1jtwgwdanimation_gwd-keyframes 4.8s linear 13.8s 1 normal forwards;
    }
    @keyframes gwd-gen-74g7gwdanimation_gwd-keyframes {
      0% {
        top: 111px;
        opacity: 0;
        left: 150px;
        animation-timing-function: linear;
      }
      22.92% {
        top: 132px;
        opacity: 1;
        left: 150px;
        animation-timing-function: linear;
      }
      95.83% {
        top: 132px;
        opacity: 1;
        left: 150px;
        animation-timing-function: linear;
      }
      100% {
        top: 132px;
        opacity: 0;
        left: 150px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-74g7gwdanimation {
      animation: gwd-gen-74g7gwdanimation_gwd-keyframes 4.8s linear 13.8s 1 normal forwards;
    }
    @keyframes gwd-gen-jnyigwdanimation_gwd-keyframes {
      0% {
        top: 166px;
        opacity: 0;
        left: 548px;
        width: 76px;
        height: 21px;
        animation-timing-function: linear;
      }
      24.32% {
        top: 176px;
        opacity: 1;
        left: 548px;
        width: 76px;
        height: 21px;
        animation-timing-function: linear;
      }
      94.59% {
        top: 176px;
        opacity: 1;
        left: 548px;
        width: 76px;
        height: 21px;
        animation-timing-function: linear;
      }
      100% {
        top: 176px;
        opacity: 0;
        left: 548px;
        width: 76px;
        height: 21px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-jnyigwdanimation {
      animation: gwd-gen-jnyigwdanimation_gwd-keyframes 3.7s linear 14.9s 1 normal forwards;
    }
    @keyframes gwd-gen-1iqigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 557px;
        top: 184px;
        width: 63px;
        height: 67px;
        animation-timing-function: linear;
      }
      24.32% {
        opacity: 1;
        left: 557px;
        top: 194px;
        width: 63px;
        height: 67px;
        animation-timing-function: linear;
      }
      94.59% {
        opacity: 1;
        left: 557px;
        top: 194px;
        width: 63px;
        height: 67px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 557px;
        top: 194px;
        width: 63px;
        height: 67px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1iqigwdanimation {
      animation: gwd-gen-1iqigwdanimation_gwd-keyframes 3.7s linear 14.9s 1 normal forwards;
    }
    @keyframes gwd-gen-joj9gwdanimation_gwd-keyframes {
      0% {
        left: 634px;
        top: 130px;
        opacity: 0;
        animation-timing-function: linear;
      }
      34.62% {
        left: 634px;
        top: 140px;
        opacity: 1;
        animation-timing-function: linear;
      }
      92.31% {
        left: 634px;
        top: 140px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 634px;
        top: 140px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-joj9gwdanimation {
      animation: gwd-gen-joj9gwdanimation_gwd-keyframes 2.6s linear 16s 1 normal forwards;
    }
    @keyframes gwd-gen-16c4gwdanimation_gwd-keyframes {
      0% {
        left: 643px;
        top: 150px;
        opacity: 0;
        animation-timing-function: linear;
      }
      34.62% {
        left: 643px;
        top: 157px;
        opacity: 1;
        animation-timing-function: linear;
      }
      92.31% {
        left: 643px;
        top: 157px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 643px;
        top: 157px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-16c4gwdanimation {
      animation: gwd-gen-16c4gwdanimation_gwd-keyframes 2.6s linear 16s 1 normal forwards;
    }
    @keyframes gwd-gen-xhlngwdanimation_gwd-keyframes {
      0% {
        left: 238px;
        top: 168px;
        opacity: 0;
        animation-timing-function: linear;
      }
      62.5% {
        left: 238px;
        top: 184px;
        opacity: 1;
        animation-timing-function: linear;
      }
      87.5% {
        left: 238px;
        top: 184px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 238px;
        top: 184px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-xhlngwdanimation {
      animation: gwd-gen-xhlngwdanimation_gwd-keyframes 1.6s linear 17s 1 normal forwards;
    }
    @keyframes gwd-gen-9qmrgwdanimation_gwd-keyframes {
      0% {
        left: 244px;
        top: 189px;
        opacity: 0;
        animation-timing-function: linear;
      }
      62.5% {
        left: 244px;
        top: 201px;
        opacity: 1;
        animation-timing-function: linear;
      }
      87.5% {
        left: 244px;
        top: 201px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 244px;
        top: 201px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-9qmrgwdanimation {
      animation: gwd-gen-9qmrgwdanimation_gwd-keyframes 1.6s linear 17s 1 normal forwards;
    }
    .gwd-img-1dh7 {
      position: absolute;
      width: 401px;
      height: 249px;
      left: 47px;
      top: 196px;
      opacity: 0;
      transform: translate3d(0px, 0px, 0px);
      transform-style: preserve-3d;
    }
    .gwd-img-1400 {
      position: absolute;
      width: 70px;
      height: 70px;
      opacity: 0;
      top: 137px;
      left: 262px;
    }
    .gwd-img-77g2 {
      position: absolute;
      opacity: 0;
      width: 70px;
      height: 70px;
      top: 137px;
      left: 157px;
    }
    .gwd-img-1vdd {
      position: absolute;
      width: 70px;
      height: 70px;
      opacity: 0;
      left: 57px;
      top: 137px;
    }
    .gwd-div-pdqz {
      width: 100%;
    }
    .gwd-div-1eb4 {
      width: 100%;
    }
    .gwd-p-hlkc {
      position: absolute;
      font-size: 32px;
      left: 606px;
      width: 167px;
      height: 51px;
      transform-origin: 79.563px -24.5625px 0px;
      opacity: 0;
      top: 48px;
      color: rgb(0, 0, 0);
    }
    .gwd-span-5epd {
      font-size: 45px;
    }
    .gwd-span-1gcz {
      position: absolute;
      text-align: left;
      height: 53px;
      transform-origin: 117.563px -8.5625px 0px;
      width: 167px;
      font-size: 29px;
      left: 612px;
      top: 105px;
    }
    .gwd-p-69d1 {
      position: absolute;
      height: 49px;
      width: 208px;
      transform-origin: 101px 24.5px 0px;
      font-size: 42px;
      left: 612px;
      opacity: 0;
      top: 144px;
      border-image-source: none;
      border-color: rgb(167, 224, 225);
      color: rgb(0, 0, 0);
      background-image: none;
    }
    .gwd-span-1cjn {
      font-size: 16px;
    }
    .gwd-span-7wo5 {
      left: 612px;
      opacity: 0;
      top: 175px;
    }
    .gwd-p-htg0 {
      position: absolute;
      width: 173px;
      text-align: center;
      color: rgb(167, 224, 225);
      height: 78px;
      font-size: 38px;
      line-height: 32px;
      top: 190px;
      left: 601px;
      opacity: 0;
    }
    .gwd-div-11w3 {
      position: absolute;
      width: 52px;
      left: 608px;
      height: 5px;
      top: 241px;
      background-image: none;
      background-color: rgb(255, 255, 255);
    }
    .gwd-div-1g6m {
      width: 48px;
      height: 3px;
      opacity: 0;
      top: 243px;
      left: 741px;
      background-color: rgb(0, 0, 0);
    }
    .gwd-div-47l5 {
      height: 3px;
      opacity: 0;
      top: 226px;
      left: 593px;
      background-color: rgb(0, 0, 0);
    }
    .gwd-div-x3j5 {
      position: absolute;
      width: 151px;
      top: 312px;
      left: 609px;
      height: 7px;
      background-image: none;
      background-color: rgb(244, 190, 42);
    }
    .gwd-p-jfzr {
      position: absolute;
      width: 159px;
      height: 31px;
      color: rgb(167, 224, 225);
      font-size: 40px;
      left: 605px;
      opacity: 0;
      top: 341px;
    }
    .gwd-div-8v7f {
      opacity: 0;
      top: 378px;
      height: 3px;
      background-color: rgb(0, 0, 0);
    }
    .gwd-p-wcpb {
      position: absolute;
      width: 188.36px;
      height: 59.6181px;
      font-size: 43px;
      left: 609px;
      top: 359px;
      opacity: 0;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1nx9 {
      opacity: 0;
      top: 108px;
      border-image-source: none;
      color: rgb(1, 1, 1);
      border-color: rgb(172, 231, 232);
    }
    .gwd-div-18v4 {
      opacity: 0;
      top: 323px;
    }
    @keyframes gwd-gen-1luqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      25% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-26px, 31px, 0px) scale3d(0.725686, 0.725686, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1luqgwdanimation {
      animation: gwd-gen-1luqgwdanimation_gwd-keyframes 0.8s linear 18.8s 1 normal forwards;
    }
    @keyframes gwd-gen-7me0gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 48px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 63px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-7me0gwdanimation {
      animation: gwd-gen-7me0gwdanimation_gwd-keyframes 0.2s linear 45s 1 normal forwards;
    }
    @keyframes gwd-gen-2pt8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 108px;
        border-color: rgb(172, 231, 232);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 92px;
        border-color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-2pt8gwdanimation {
      animation: gwd-gen-2pt8gwdanimation_gwd-keyframes 0.199s linear 45.001s 1 normal forwards;
    }
    @keyframes gwd-gen-1wpegwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 144px;
        border-color: rgb(167, 224, 225);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 130px;
        border-color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1wpegwdanimation {
      animation: gwd-gen-1wpegwdanimation_gwd-keyframes 0.201s linear 45.399s 1 normal forwards;
    }
    @keyframes gwd-gen-16lfgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 175px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 149px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-16lfgwdanimation {
      animation: gwd-gen-16lfgwdanimation_gwd-keyframes 0.2s linear 45.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1uyygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1uyygwdanimation {
      animation: gwd-gen-1uyygwdanimation_gwd-keyframes 0.3s linear 45.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1bsggwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 593px;
        top: 226px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
      100% {
        opacity: 1;
        left: 609px;
        top: 226px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
    }
    #page1.gwd-play-animation .gwd-gen-1bsggwdanimation {
      animation: gwd-gen-1bsggwdanimation_gwd-keyframes 0.2s linear 45.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1t97gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 243px;
        left: 741px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
      100% {
        opacity: 1;
        top: 243px;
        left: 717px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
    }
    #page1.gwd-play-animation .gwd-gen-1t97gwdanimation {
      animation: gwd-gen-1t97gwdanimation_gwd-keyframes 0.2s linear 45.6s 1 normal forwards;
    }
    @keyframes gwd-gen-uuj6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 323px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 295px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-uuj6gwdanimation {
      animation: gwd-gen-uuj6gwdanimation_gwd-keyframes 0.2s linear 45.8s 1 normal forwards;
    }
    @keyframes gwd-gen-z088gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 378px;
        height: 3px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
      100% {
        opacity: 1;
        top: 356px;
        height: 3px;
        animation-timing-function: linear;
        background-color: rgb(0, 0, 0);
      }
    }
    #page1.gwd-play-animation .gwd-gen-z088gwdanimation {
      animation: gwd-gen-z088gwdanimation_gwd-keyframes 0.4s linear 46.4s 1 normal forwards;
    }
    @keyframes gwd-gen-bqcbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 341px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 302px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-bqcbgwdanimation {
      animation: gwd-gen-bqcbgwdanimation_gwd-keyframes 0.4s linear 46s 1 normal forwards;
    }
    @keyframes gwd-gen-1897gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1897gwdanimation {
      animation: gwd-gen-1897gwdanimation_gwd-keyframes 0.3s linear 46.8s 1 normal forwards;
    }
    .gwd-div-ohgd {
      position: absolute;
      opacity: 0;
      left: 490px;
      transform-style: preserve-3d;
      transform: translate3d(177px, 0px, 0px) scale3d(0.0432432, 1, 1);
      top: 0px;
      height: 480px;
      width: 377px;
      background-image: none;
      background-color: rgb(218, 218, 218);
    }
    @keyframes gwd-gen-sn7tgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(177px, 0px, 0px) scale3d(0.0432432, 1, 1);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-2px, 0px, 0px) scale3d(0.991118, 1, 1);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-sn7tgwdanimation {
      animation: gwd-gen-sn7tgwdanimation_gwd-keyframes 0.2s linear 32.1s 1 normal forwards;
    }
    .gwd-img-13tr {
      position: absolute;
      width: 78px;
      height: 87px;
      transform-origin: 39px 43.4474px 0px;
      top: 236px;
      left: 565px;
      opacity: 0;
    }
    .gwd-img-4gik {
      position: absolute;
      width: 88px;
      height: 88px;
      transform-origin: 44px 44px 0px;
      top: 349px;
      left: 553px;
      opacity: 0;
    }
    .gwd-img-lklq {
      position: absolute;
      transform-origin: 61.269px 41.682px 0px;
      top: 14px;
      left: 534px;
      opacity: 0;
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      transform: translate3d(0px, -7px, 0px);
    }
    .gwd-img-117o {
      position: absolute;
      width: 162px;
      height: 103px;
      transform-origin: 81.0099px 51.5px 0px;
      top: 117px;
      left: 528px;
      opacity: 0;
    }
    .gwd-p-1bwx {
      position: absolute;
      transform-origin: 101.156px 45.6843px 0px;
      font-size: xx-large;
      height: 37px;
      width: 195px;
      text-align: center;
      left: 663px;
      top: 109px;
      line-height: 1.8;
      background-image: none;
      background-color: rgb(227, 176, 35);
    }
    .gwd-div-clme {
      position: absolute;
      width: 125px;
      left: 538px;
      height: 1px;
      top: 110px;
      background-image: none;
      background-color: rgb(200, 207, 109);
    }
    .gwd-p-5prs {
      top: 233px;
      font-size: 27px;
      line-height: 38px;
    }
    .gwd-div-1nef {
      top: 234px;
    }
    .gwd-p-12b8 {
      top: 341px;
      font-size: 21px;
    }
    .gwd-div-1wex {
      top: 342px;
    }
    .gwd-p-2t0z {
      top: 431px;
      opacity: 0;
      left: 708px;
      font-size: 21px;
    }
    .gwd-div-m4tg {
      top: 432px;
      opacity: 0;
      left: 583px;
    }
    .gwd-p-mrna {
      opacity: 0;
      left: 707px;
      font-size: 21px;
      top: 98px;
    }
    .gwd-div-cc96 {
      opacity: 0;
      left: 582px;
      top: 98px;
    }
    .gwd-p-k4v2 {
      top: 215px;
      opacity: 0;
      left: 690px;
      font-size: 21px;
    }
    .gwd-div-1qav {
      top: 216px;
      opacity: 0;
      left: 565px;
    }
    .gwd-p-kvqa {
      top: 323px;
      opacity: 0;
      left: 700px;
    }
    .gwd-div-18fj {
      top: 324px;
      opacity: 0;
      left: 575px;
    }
    @keyframes gwd-gen-am9bgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        height: 100px;
        width: 100px;
        transform: translate3d(0px, -7px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        height: 100px;
        width: 100px;
        transform: translate3d(0px, -7px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-am9bgwdanimation {
      animation: gwd-gen-am9bgwdanimation_gwd-keyframes 0.2s linear 32.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1w5jgwdanimation_gwd-keyframes {
      0% {
        left: 707px;
        top: 98px;
        opacity: 0;
        animation-timing-function: linear;
      }
      20% {
        left: 660px;
        top: 98px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 660px;
        top: 98px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1w5jgwdanimation {
      animation: gwd-gen-1w5jgwdanimation_gwd-keyframes 2.5s linear 32.6s 1 normal forwards;
    }
    @keyframes gwd-gen-hma1gwdanimation_gwd-keyframes {
      0% {
        left: 582px;
        top: 98px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 539px;
        top: 98px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hma1gwdanimation {
      animation: gwd-gen-hma1gwdanimation_gwd-keyframes 0.5s linear 32.6s 1 normal forwards;
    }
    @keyframes gwd-gen-t9eqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-t9eqgwdanimation {
      animation: gwd-gen-t9eqgwdanimation_gwd-keyframes 0.2s linear 33.9s 1 normal forwards;
    }
    @keyframes gwd-gen-mwpjgwdanimation_gwd-keyframes {
      0% {
        left: 690px;
        top: 215px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 659px;
        top: 215px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-mwpjgwdanimation {
      animation: gwd-gen-mwpjgwdanimation_gwd-keyframes 0.8s linear 34.1s 1 normal forwards;
    }
    @keyframes gwd-gen-12dhgwdanimation_gwd-keyframes {
      0% {
        left: 565px;
        top: 216px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 534px;
        top: 216px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-12dhgwdanimation {
      animation: gwd-gen-12dhgwdanimation_gwd-keyframes 0.8s linear 34.1s 1 normal forwards;
    }
    @keyframes gwd-gen-d4magwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-d4magwdanimation {
      animation: gwd-gen-d4magwdanimation_gwd-keyframes 0.2s linear 35.2s 1 normal forwards;
    }
    @keyframes gwd-gen-pp88gwdanimation_gwd-keyframes {
      0% {
        left: 700px;
        top: 323px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 659px;
        top: 323px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-pp88gwdanimation {
      animation: gwd-gen-pp88gwdanimation_gwd-keyframes 0.7s linear 35.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1jnegwdanimation_gwd-keyframes {
      0% {
        left: 575px;
        top: 324px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 534px;
        top: 324px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jnegwdanimation {
      animation: gwd-gen-1jnegwdanimation_gwd-keyframes 0.7s linear 35.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1jwegwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jwegwdanimation {
      animation: gwd-gen-1jwegwdanimation_gwd-keyframes 0.2s linear 36.1s 1 normal forwards;
    }
    @keyframes gwd-gen-axv8gwdanimation_gwd-keyframes {
      0% {
        left: 708px;
        top: 431px;
        opacity: 0;
        font-size: 21px;
        animation-timing-function: linear;
      }
      100% {
        left: 659px;
        top: 431px;
        opacity: 1;
        font-size: 21px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-axv8gwdanimation {
      animation: gwd-gen-axv8gwdanimation_gwd-keyframes 1s linear 36.3s 1 normal forwards;
    }
    @keyframes gwd-gen-170zgwdanimation_gwd-keyframes {
      0% {
        left: 583px;
        top: 432px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 534px;
        top: 432px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-170zgwdanimation {
      animation: gwd-gen-170zgwdanimation_gwd-keyframes 1s linear 36.3s 1 normal forwards;
    }
    .gwd-img-5bhh {
      position: absolute;
      width: 375px;
      height: 207px;
      transform-origin: 187.175px 103.355px 0px;
      left: 489px;
      top: 272px;
      opacity: 0;
    }
    .gwd-div-1gk4 {
      position: absolute;
      top: 0px;
      width: 375px;
      left: 489px;
      transform-style: preserve-3d;
      transform: translate3d(185px, 0px, 0px) scale3d(0.008, 1, 1);
      opacity: 0;
      height: 480px;
      background-image: none;
      background-color: rgb(0, 0, 0);
    }
    .gwd-p-1y32 {
      position: absolute;
      height: 13px;
      transform-origin: 0px 0px 0px;
      width: 349px;
      color: rgb(255, 255, 255);
      left: 535px;
      opacity: 0;
      top: 192px;
    }
    @keyframes gwd-gen-l1tqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(185px, 0px, 0px) scale3d(0.008, 1, 1);
        left: 489px;
        width: 375px;
        height: 480px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(0.989333, 1, 1);
        left: 487px;
        width: 382px;
        height: 480px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-l1tqgwdanimation {
      animation: gwd-gen-l1tqgwdanimation_gwd-keyframes 1.1s linear 38.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1betgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1betgwdanimation {
      animation: gwd-gen-1betgwdanimation_gwd-keyframes 0.4s linear 39.1s 1 normal forwards;
    }
    @keyframes gwd-gen-918igwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 192px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 192px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-918igwdanimation {
      animation: gwd-gen-918igwdanimation_gwd-keyframes 0.4s linear 39.6s 1 normal forwards;
    }
    .gwd-img-6no3 {
      position: absolute;
      top: 316px;
      left: 815px;
      height: 480px;
      transform-style: preserve-3d;
      transform: translate3d(-327px, -317px, 0px);
      transform-origin: 183.5px 240px 0px;
      width: 380px;
      opacity: 0;
    }
    @keyframes gwd-gen-gu9zgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-327px, -317px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-327px, -316px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gu9zgwdanimation {
      animation: gwd-gen-gu9zgwdanimation_gwd-keyframes 0.1s linear 44.9s 1 normal forwards;
    }
    .gwd-p-1uzw {
      position: absolute;
      transform-origin: 21.5px 20.5px 0px;
      top: 84px;
      font-size: 30px;
      width: 75px;
      height: 29px;
      left: 500px;
      opacity: 0;
      color: rgb(0, 0, 0);
    }
    .gwd-p-1kpx {
      position: absolute;
      font-size: 30px;
      text-align: left;
      width: 65px;
      top: 85px;
      height: 29px;
      color: rgb(0, 0, 0);
      left: 631px;
      opacity: 0;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-p-fznw {
      position: absolute;
      font-size: 30px;
      transform-origin: 71.5px 25px 0px;
      height: 29px;
      left: 600px;
      top: 120px;
      width: 148px;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-p-1wfe {
      top: 156px;
      width: 54px;
      left: 631px;
      opacity: 0;
    }
    .gwd-p-2eu5 {
      position: absolute;
      width: 311px;
      height: 19px;
      transform-origin: 138.5px -4px 0px;
      font-size: 18px;
      left: 529px;
      color: rgb(0, 0, 0);
      top: 205px;
      opacity: 0;
    }
    .gwd-p-hrg0 {
      position: absolute;
      height: 48px;
      color: rgb(177, 238, 239);
      font-size: 24px;
      width: 320px;
      left: 529px;
      top: 231px;
      opacity: 0;
    }
    .gwd-p-162m {
      left: 631px;
      opacity: 0;
    }
    @keyframes gwd-gen-7pcvgwdanimation_gwd-keyframes {
      0% {
        left: 500px;
        opacity: 0;
        top: 84px;
        animation-timing-function: linear;
      }
      18.18% {
        left: 530px;
        opacity: 1;
        top: 84px;
        animation-timing-function: linear;
      }
      100% {
        left: 530px;
        opacity: 1;
        top: 166px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-7pcvgwdanimation {
      animation: gwd-gen-7pcvgwdanimation_gwd-keyframes 1.1s linear 20.1s 1 normal forwards;
    }
    @keyframes gwd-gen-ud31gwdanimation_gwd-keyframes {
      0% {
        left: 631px;
        opacity: 0;
        top: 85px;
        animation-timing-function: linear;
      }
      44.44% {
        left: 600px;
        opacity: 1;
        top: 85px;
        animation-timing-function: linear;
      }
      100% {
        left: 602px;
        opacity: 1;
        top: 167px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ud31gwdanimation {
      animation: gwd-gen-ud31gwdanimation_gwd-keyframes 0.9s linear 20.3s 1 normal forwards;
    }
    @keyframes gwd-gen-e0htgwdanimation_gwd-keyframes {
      0% {
        top: 205px;
        opacity: 0;
        color: rgb(0, 0, 0);
        left: 529px;
        animation-timing-function: linear;
      }
      100% {
        top: 267px;
        opacity: 1;
        color: rgb(0, 0, 0);
        left: 529px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-e0htgwdanimation {
      animation: gwd-gen-e0htgwdanimation_gwd-keyframes 0.3s linear 20.9s 1 normal forwards;
    }
    @keyframes gwd-gen-17pjgwdanimation_gwd-keyframes {
      0% {
        top: 231px;
        opacity: 0;
        color: rgb(177, 238, 239);
        left: 529px;
        animation-timing-function: linear;
      }
      100% {
        top: 292px;
        opacity: 1;
        color: rgb(0, 0, 0);
        left: 529px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-17pjgwdanimation {
      animation: gwd-gen-17pjgwdanimation_gwd-keyframes 0.3s linear 20.9s 1 normal forwards;
    }
    @keyframes gwd-gen-56h5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 631px;
        top: 120px;
        animation-timing-function: linear;
      }
      44.44% {
        opacity: 1;
        left: 600px;
        top: 120px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 600px;
        top: 202px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-56h5gwdanimation {
      animation: gwd-gen-56h5gwdanimation_gwd-keyframes 0.9s linear 20.3s 1 normal forwards;
    }
    @keyframes gwd-gen-tmzygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 631px;
        top: 156px;
        animation-timing-function: linear;
      }
      44.44% {
        opacity: 1;
        left: 600px;
        top: 156px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 600px;
        top: 238px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-tmzygwdanimation {
      animation: gwd-gen-tmzygwdanimation_gwd-keyframes 0.9s linear 20.3s 1 normal forwards;
    }
    @keyframes gwd-gen-bjbwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-bjbwgwdanimation {
      animation: gwd-gen-bjbwgwdanimation_gwd-keyframes 0.2s linear 48.5s 1 normal forwards;
    }
    .gwd-p-rx6i {
      position: absolute;
      width: 282px;
      height: 31px;
      text-align: center;
      left: 303px;
      top: 82px;
      opacity: 0;
    }
    .gwd-div-9vym {
      color: rgb(255, 255, 255);
    }
    .gwd-span-160i {
      color: rgb(255, 255, 255);
    }
    @keyframes gwd-gen-1cw8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 82px;
        animation-timing-function: linear;
      }
      6.9% {
        opacity: 0;
        top: 54px;
        animation-timing-function: linear;
      }
      96.55% {
        opacity: 1;
        top: 54px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 54px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cw8gwdanimation {
      animation: gwd-gen-1cw8gwdanimation_gwd-keyframes 5.8s linear 12.7s 1 normal forwards;
    }
    .gwd-div-8dyu {
      position: absolute;
      height: 2px;
      opacity: 0;
      width: 0px;
      top: 94px;
      left: 62px;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    @keyframes gwd-gen-7gldgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        left: 62px;
        height: 2px;
        top: 94px;
        animation-timing-function: linear;
        background-color: rgb(255, 198, 39);
      }
      100% {
        opacity: 1;
        width: 301px;
        left: 66px;
        height: 2px;
        top: 131px;
        animation-timing-function: linear;
        background-color: rgb(255, 198, 39);
      }
    }
    #page1.gwd-play-animation .gwd-gen-7gldgwdanimation {
      animation: gwd-gen-7gldgwdanimation_gwd-keyframes 0.2s linear 19.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1oi1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 137px;
        left: 262px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 137px;
        left: 262px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1oi1gwdanimation {
      animation: gwd-gen-1oi1gwdanimation_gwd-keyframes 0.4s linear 20.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1veygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 137px;
        left: 157px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 137px;
        left: 157px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1veygwdanimation {
      animation: gwd-gen-1veygwdanimation_gwd-keyframes 0.4s linear 20.3s 1 normal forwards;
    }
    @keyframes gwd-gen-19f2gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 57px;
        top: 137px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 56px;
        top: 137px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-19f2gwdanimation {
      animation: gwd-gen-19f2gwdanimation_gwd-keyframes 0.2s linear 19.9s 1 normal forwards;
    }
    .gwd-p-rpxc {
      position: absolute;
      text-align: center;
      width: 201px;
      height: 21px;
      top: 449px;
      left: 108px;
      opacity: 0;
    }
    .gwd-span-6wmo {
      color: rgb(255, 255, 255);
    }
    @keyframes gwd-gen-lbexgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.25% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.88% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lbexgwdanimation {
      animation: gwd-gen-lbexgwdanimation_gwd-keyframes 17.8s linear 20.1s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-ymzjgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-6lgmgwdanimation_gwd-keyframes {
      0% {
        width: 5px;
        opacity: 0;
        animation-timing-function: linear;
      }
      4.21% {
        width: 5px;
        opacity: 1;
        animation-timing-function: linear;
      }
      8.37% {
        width: 5px;
        opacity: 0;
        animation-timing-function: linear;
      }
      12.54% {
        width: 5px;
        opacity: 1;
        animation-timing-function: linear;
      }
      20.85% {
        width: 152px;
        opacity: 1;
        animation-timing-function: linear;
      }
      95.83% {
        width: 152px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        width: 152px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-6lgmgwdanimation {
      animation: gwd-gen-6lgmgwdanimation_gwd-keyframes 4.801s linear 13.699s 1 normal forwards;
    }
    @keyframes gwd-gen-1jppgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 150px;
        left: 269px;
        top: 23px;
        animation-timing-function: linear;
      }
      5.26% {
        opacity: 1;
        width: 150px;
        left: 269px;
        top: 23px;
        animation-timing-function: linear;
      }
      94.74% {
        opacity: 1;
        width: 150px;
        left: 269px;
        top: 23px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        width: 150px;
        left: 269px;
        top: 23px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jppgwdanimation {
      animation: gwd-gen-1jppgwdanimation_gwd-keyframes 3.8s linear 14.7s 1 normal forwards;
    }
    @keyframes gwd-gen-86ofgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 458px;
        top: 29px;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 1;
        left: 421px;
        top: 29px;
        animation-timing-function: linear;
      }
      94.44% {
        opacity: 1;
        left: 421px;
        top: 29px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 421px;
        top: 29px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-86ofgwdanimation {
      animation: gwd-gen-86ofgwdanimation_gwd-keyframes 3.6s linear 14.9s 1 normal forwards;
    }
    .gwd-span-1kp0 {
      position: absolute;
      color: rgb(255, 255, 255);
      font-size: 28px;
      text-align: left;
      left: 531px;
      opacity: 0;
      top: 22px;
    }
    .gwd-span-jvqy {
      position: absolute;
      height: 43px;
      transform-origin: 75.8906px 152.5px 0px;
      width: 259px;
      font-size: 28px;
      left: 531px;
      opacity: 0;
      border-image-source: none;
      border-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      top: 149px;
    }
    .gwd-span-f5pe {
      position: absolute;
      color: rgb(255, 255, 255);
      font-size: 28px;
      left: 531px;
      opacity: 0;
      top: 178px;
    }
    .gwd-span-qzpp {
      position: absolute;
      border-image-source: none;
      border-color: rgb(218, 167, 29);
      top: 80px;
      opacity: 0;
      left: 591px;
      color: rgb(0, 0, 0);
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-span-3j5n {
      font-size: 28px;
    }
    .gwd-span-1io9 {
      font-size: 28px;
    }
    .gwd-span-16l4 {
      font-size: 35px;
    }
    .gwd-span-nb1u {
      font-size: 28px;
    }
    .gwd-span-1lzk {
      font-size: xx-large;
    }
    .gwd-span-7jnt {
      font-size: xx-large;
    }
    .gwd-span-1wmo {
      font-size: xx-large;
    }
    .gwd-span-751g {
      font-size: xx-large;
    }
    .gwd-span-37vd {
      font-size: xx-large;
    }
    .gwd-span-1dk6 {
      background-color: transparent;
    }
    .gwd-span-x15p {
      background-color: transparent;
    }
    @keyframes gwd-gen-11dwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 22px;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 1;
        top: 42px;
        animation-timing-function: linear;
      }
      98.33% {
        opacity: 1;
        top: 42px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 42px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11dwgwdanimation {
      animation: gwd-gen-11dwgwdanimation_gwd-keyframes 6s linear 38.9s 1 normal forwards;
    }
    @keyframes gwd-gen-1g3jgwdanimation_gwd-keyframes {
      0% {
        top: 149px;
        left: 531px;
        opacity: 0;
        border-color: rgb(255, 255, 255);
        animation-timing-function: linear;
      }
      6.88% {
        top: 119px;
        left: 531px;
        opacity: 1;
        border-color: rgb(255, 255, 255);
        animation-timing-function: linear;
      }
      98.29% {
        top: 119px;
        left: 531px;
        opacity: 1;
        border-color: rgb(255, 255, 255);
        animation-timing-function: linear;
      }
      100% {
        top: 119px;
        left: 531px;
        opacity: 0;
        border-color: rgb(255, 255, 255);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1g3jgwdanimation {
      animation: gwd-gen-1g3jgwdanimation_gwd-keyframes 5.801s linear 39.099s 1 normal forwards;
    }
    @keyframes gwd-gen-1q57gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 178px;
        animation-timing-function: linear;
      }
      7.02% {
        opacity: 1;
        top: 158px;
        animation-timing-function: linear;
      }
      98.25% {
        opacity: 1;
        top: 158px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 158px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1q57gwdanimation {
      animation: gwd-gen-1q57gwdanimation_gwd-keyframes 5.7s linear 39.2s 1 normal forwards;
    }
    @keyframes gwd-gen-11xvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 591px;
        animation-timing-function: linear;
      }
      8.47% {
        opacity: 1;
        left: 531px;
        animation-timing-function: linear;
      }
      98.31% {
        opacity: 1;
        left: 531px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 531px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11xvgwdanimation {
      animation: gwd-gen-11xvgwdanimation_gwd-keyframes 5.9s linear 39s 1 normal forwards;
    }
    .gwd-span-iigr {
      color: rgb(0, 0, 0);
    }
    .gwd-span-t2ki {
      color: rgb(0, 0, 0);
    }
    .gwd-span-4e0m {
      color: rgb(0, 0, 0);
    }
    .gwd-span-b3wx {
      color: rgb(238, 50, 65);
    }
    .gwd-span-hrly {
      color: rgb(0, 0, 0);
    }
    .gwd-p-y2g3 {
      position: absolute;
      font-size: 20px;
      top: 65px;
      left: 66px;
      opacity: 0;
      background-image: none;
    }
    .gwd-p-3ike {
      position: absolute;
      font-size: 20px;
      top: 90px;
      left: 66px;
      opacity: 0;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    @keyframes gwd-gen-s1c8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-s1c8gwdanimation {
      animation: gwd-gen-s1c8gwdanimation_gwd-keyframes 0.2s linear 19s 1 normal forwards;
    }
    @keyframes gwd-gen-1mvigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mvigwdanimation {
      animation: gwd-gen-1mvigwdanimation_gwd-keyframes 0.2s linear 18.8s 1 normal forwards;
    }
    .gwd-img-1wd0 {
      position: absolute;
      width: 12px;
      height: 11px;
      transform-style: preserve-3d;
      transform: translate3d(75px, 246px, 0px);
      opacity: 0;
      top: 41px;
      left: 28px;
    }
    .gwd-img-1v5i {
      position: absolute;
      width: 21px;
      height: 14px;
      transform-style: preserve-3d;
      transform: translate3d(66px, 234px, 0px);
      opacity: 0;
      left: 20px;
      top: 41px;
    }
    .gwd-img-1mh6 {
      position: absolute;
      width: 29px;
      height: 18px;
      transform-style: preserve-3d;
      transform: translate3d(62px, 219px, 0px);
      opacity: 0;
      top: 41px;
      left: 28px;
    }
    .gwd-img-b5hz {
      position: absolute;
      width: 37px;
      height: 25px;
      transform-style: preserve-3d;
      transform: translate3d(66px, 204px, 0px);
      opacity: 0;
      top: 41px;
      left: 28px;
    }
    .gwd-img-x35q {
      transform: translate3d(103px, 204px, 0px);
    }
    .gwd-img-1lxp {
      transform: translate3d(102px, 219px, 0px);
    }
    .gwd-img-ckpa {
      transform: translate3d(114px, 231px, 0px);
    }
    .gwd-img-8ih1 {
      transform: translate3d(99px, 246px, 0px);
      left: 30px;
    }
    .gwd-img-6owx {
      top: 36px;
    }
    .gwd-img-4vnc {
      top: 30px;
      transform: translate3d(108px, 219px, 0px);
    }
    .gwd-img-clo3 {
      top: 24px;
      transform: translate3d(108px, 203px, 0px);
    }
    .gwd-p-1jcc {
      top: 29px;
    }
    .gwd-p-14w5 {
      width: 150px;
      left: 269px;
      top: 23px;
      line-height: 1.6;
    }
    .gwd-img-1jmy {
      position: absolute;
      width: 110px;
      left: 742px;
      top: 440px;
      height: 28px;
      opacity: 1;
    }
    #page1.gwd-pause-animation .gwd-gen-1fsngwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-12u3 {
      position: absolute;
      top: 520px;
      left: 0px;
      width: 88px;
      height: 34px;
    }
    #page1.gwd-pause-animation .gwd-gen-1f24gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-lq7pgwdanimation_gwd-keyframes {
      0% {
        opacity: 1;
        animation-timing-function: linear;
      }
      74.62% {
        opacity: 1;
        animation-timing-function: linear;
      }
      82.05% {
        opacity: 1;
        animation-timing-function: linear;
      }
      82.56% {
        opacity: 0;
        animation-timing-function: linear;
      }
      99.74% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lq7pgwdanimation {
      animation: gwd-gen-lq7pgwdanimation_gwd-keyframes 39s linear 0s 1 normal forwards;
    }
    .gwd-audio-1clu {
      position: absolute;
      width: 200px;
      height: 140px;
      left: 421px;
      top: 317px;
      opacity: 0;
    }
    #page1.gwd-pause-animation .gwd-gen-1lf2gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-bc66 {
      position: absolute;
      width: 116px;
      height: 106px;
      top: 198px;
      left: 103px;
      opacity: 0;
    }
    @keyframes gwd-gen-13fvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-13fvgwdanimation {
      animation: gwd-gen-13fvgwdanimation_gwd-keyframes 0.1s linear 19.7s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-1qvxgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-lbexgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1cw8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-bjbwgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1897gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-z088gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-bqcbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-uuj6gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1t97gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1bsggwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1uyygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-16lfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1wpegwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-2pt8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-7me0gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-gu9zgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-918igwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1betgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-l1tqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-170zgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-axv8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jwegwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jnegwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-pp88gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-d4magwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-12dhgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-mwpjgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-t9eqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-hma1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1w5jgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-am9bgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-sn7tgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-17pjgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-e0htgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-tmzygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-56h5gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ud31gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-7pcvgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1veygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1oi1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-19f2gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-7gldgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1luqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-xhlngwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-9qmrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-joj9gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-16c4gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-jnyigwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1iqigwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-74g7gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jtwgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-4fk6gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1tysgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1j4xgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-15e2gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1g1tgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1swdgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-uhk5gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-120jgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1eg1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11yvgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-jedcgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-yatzgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ktlgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ra4gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1bpqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jqtgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ml00gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-d9xbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-lgpugwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-lovogwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-hn3qgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1fsrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-6lgmgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jppgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-86ofgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11dwgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1g3jgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1q57gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11xvgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1mvigwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-s1c8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-lq7pgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-13fvgwdanimation {
      animation-play-state: paused !important;
    }
