
    @font-face {
      font-family: HoneywellSansbold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    @font-face {
      font-family: HoneywellSansEbold;
      src: url("HoneywellSans-Extrabold.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      perspective: 1400px;
      transform-style: preserve-3d;
      position: absolute;
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background: url("animate_bg.jpg");
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-nfnt {
      position: absolute;
      height: 40px;
      left: 0px;
      top: 31px;
      transform-style: preserve-3d;
      transform-origin: 3.5px 20px 0px;
      width: 22px;
      transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
      opacity: 1;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-img-1lo6 {
      position: absolute;
      height: 129px;
      transform-origin: 81.1773px 64.6204px 0px;
      width: 162px;
      top: -20px;
      left: 100px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: rotateZ(0deg) scale3d(1, 1, 1);
    }
    .gwd-p-1six {
      position: absolute;
      left: 528px;
      font-weight: bold;
      width: 123px;
      height: 23px;
      transform-origin: -427.438px 4381.5px 0px;
      top: 96px;
    }
    .gwd-p-1ycr {
      font-weight: normal;
      height: 18px;
      top: 196px;
      width: 128px;
      transform-origin: -541.704px 4381.5px 0px;
      opacity: 0;
      left: 591px;
      overflow: visible;
      visibility: visible;
    }
    .gwd-p-pmbo {
      position: absolute;
      height: 45px;
      font-size: 27px;
      color: rgb(10, 64, 102);
      transform-origin: 77.5px 22.5px 0px;
      left: 378px;
      top: 11px;
      transform-style: preserve-3d;
      line-height: 1.2;
      font-family: HoneywellSansEbold;
      opacity: 1;
      transform: translate3d(-7px, 0px, 0px);
      width: 384px;
    }
    .grow {
      font-family: HoneywellSanslight !important;
      color: rgb(0, 0, 0) !important;
    }
    .gwd-div-9xxe {
      position: absolute;
      left: 378px;
      top: 76px;
      transform-origin: 1570.53px 0.820313px 0px;
      height: 2px;
      width: 377px;
      background-image: none;
      background-color: rgb(250, 218, 214);
    }
    .gwd-p-1chu {
      position: absolute;
      line-height: 1.2;
      transform-origin: 123px 47.9375px 0px;
      height: 30px;
      font-size: 26px;
      top: 188px;
      left: 57px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
      visibility: visible;
      width: 148px;
    }
    .gwd-span-1tlo {
      font-weight: bold;
    }
    .gwd-div-13ih {
      position: absolute;
      height: 40px;
      transform-origin: 56.9306px 20.3125px 0px;
      top: 184px;
      transform-style: preserve-3d;
      opacity: 0;
      left: 52px;
      width: 158px;
      transform: translate3d(116px, 0px, 0px) scale3d(0.0253165, 1, 1);
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-p-a6j7 {
      position: absolute;
      width: 139.844px;
      height: 33.5px;
      left: 76px;
      font-size: 26px;
      top: 215px;
    }
    .gwd-p-u5x2 {
      left: 57px;
      transform-style: preserve-3d;
      opacity: 0;
      top: 260px;
      transform: translate3d(49px, -9px, 0px);
    }
    .gwd-p-f4zo {
      top: 228px;
      left: 57px;
      opacity: 0;
      transform-origin: 97px 16px 0px;
      transform-style: preserve-3d;
      transform: translate3d(-44px, 0px, 0px);
    }
    .gwd-div-3p1n {
      height: 100%;
      width: 100%;
    }
    .gwd-div-1x4s {
      height: 100%;
      width: 100%;
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      75% {
        opacity: 1;
        transform: translate3d(55px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      75% {
        opacity: 1;
        transform: translate3d(55px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      75% {
        opacity: 1;
        transform: translate3d(55px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      75% {
        opacity: 1;
        transform: translate3d(55px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xkbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-160px, 0px, 0px);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 0;
        transform: translate3d(-68.5px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      20% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      80% {
        opacity: 0.5;
        transform: translate3d(51px, 0px, 0px) scale3d(0.498357, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      20% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      80% {
        opacity: 0.5;
        transform: translate3d(51px, 0px, 0px) scale3d(0.498357, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      20% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      80% {
        opacity: 0.5;
        transform: translate3d(51px, 0px, 0px) scale3d(0.498357, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      20% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      80% {
        opacity: 0.5;
        transform: translate3d(51px, 0px, 0px) scale3d(0.498357, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1.99% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      2.99% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      3.65% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.026063, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.32% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0271828, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.98% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.027183, 1, 1);
        width: 158px;
        left: 50px;
        animation-timing-function: linear;
      }
      5.65% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      93.69% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      94.02% {
        transform: translate3d(3px, 0px, 0px) scale3d(0.969383, 1, 1);
        animation-timing-function: linear;
      }
      95.35% {
        opacity: 0.5;
        transform: translate3d(-24px, 0px, 0px) scale3d(0.497493, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      96.35% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      97.34% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.01% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.67% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      99.34% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.972544, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1.99% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      2.99% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      3.65% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.026063, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.32% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0271828, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.98% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.027183, 1, 1);
        width: 158px;
        left: 50px;
        animation-timing-function: linear;
      }
      5.65% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      93.69% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      94.02% {
        transform: translate3d(3px, 0px, 0px) scale3d(0.969383, 1, 1);
        animation-timing-function: linear;
      }
      95.35% {
        opacity: 0.5;
        transform: translate3d(-24px, 0px, 0px) scale3d(0.497493, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      96.35% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      97.34% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.01% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.67% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      99.34% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.972544, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      1.99% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      2.99% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      3.65% {
        opacity: 0;
        transform: translate3d(99px, 0px, 0px) scale3d(0.026063, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.32% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.0271828, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      4.98% {
        opacity: 1;
        transform: translate3d(99px, 0px, 0px) scale3d(0.027183, 1, 1);
        width: 158px;
        left: 50px;
        animation-timing-function: linear;
      }
      5.65% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      20.93% {
        width: 160px;
        animation-timing-function: linear;
      }
      93.69% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.96669, 1, 1);
        width: 160px;
        left: 48px;
        animation-timing-function: linear;
      }
      94.02% {
        transform: translate3d(3px, 0px, 0px) scale3d(0.969383, 1, 1);
        animation-timing-function: linear;
      }
      95.35% {
        opacity: 0.5;
        transform: translate3d(-24px, 0px, 0px) scale3d(0.497493, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      96.35% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      97.34% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.01% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      98.67% {
        opacity: 0;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      99.34% {
        opacity: 1;
        transform: translate3d(-51px, 0px, 0px) scale3d(0.027825, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(3px, 0px, 0px) scale3d(0.972544, 1, 1);
        width: 158px;
        left: 48px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-s0mrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(116px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      17.72% {
        opacity: 1;
        transform: translate3d(116px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      35.31% {
        opacity: 0;
        transform: translate3d(116px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      53.03% {
        opacity: 1;
        transform: translate3d(116px, 0px, 0px) scale3d(0.0253165, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      76.52% {
        opacity: 0;
        transform: translate3d(116px, 0px, 0px) scale3d(0.026063, 1, 1);
        width: 158px;
        left: 52px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(17px, 0px, 0px) scale3d(1.01073, 1, 1);
        width: 145px;
        left: 52px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-s0mrgwdanimation {
      animation: gwd-gen-s0mrgwdanimation_gwd-keyframes 1.699s linear 0.1s 1 normal forwards;
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      14.29% {
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      57.14% {
        opacity: 0.571429;
        transform: translate3d(25px, 0.5px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      14.29% {
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      57.14% {
        opacity: 0.571429;
        transform: translate3d(25px, 0.5px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      14.29% {
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      57.14% {
        opacity: 0.571429;
        transform: translate3d(25px, 0.5px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      14.29% {
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      57.14% {
        opacity: 0.571429;
        transform: translate3d(25px, 0.5px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      16.72% {
        opacity: 0;
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      17.96% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      98.76% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      16.72% {
        opacity: 0;
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      17.96% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      98.76% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      16.72% {
        opacity: 0;
        transform: translate3d(0px, 1px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      17.96% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      98.76% {
        opacity: 1;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(0px, 2px, 0px);
        top: 188px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-16mlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        top: 188px;
        width: 148px;
        animation-timing-function: linear;
      }
      33.44% {
        opacity: 0;
        transform: translate3d(4px, 2px, 0px) scale3d(0.924138, 1, 1);
        top: 188px;
        width: 148px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(8px, 2px, 0px) scale3d(0.924138, 1, 1);
        top: 188px;
        width: 148px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-16mlgwdanimation {
      animation: gwd-gen-16mlgwdanimation_gwd-keyframes 0.302s linear 1.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-174px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      75% {
        transform: translate3d(14px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-174px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      75% {
        transform: translate3d(14px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-174px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      75% {
        transform: translate3d(14px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-174px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      75% {
        transform: translate3d(14px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-44px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-44px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-44px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1epagwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-44px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1epagwdanimation {
      animation: gwd-gen-1epagwdanimation_gwd-keyframes 0.5s linear 5.8s 1 normal forwards;
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(149px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      66.67% {
        transform: translate3d(-20px, 0px, 0px);
        opacity: 0.54;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(149px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      66.67% {
        transform: translate3d(-20px, 0px, 0px);
        opacity: 0.54;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(149px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      66.67% {
        transform: translate3d(-20px, 0px, 0px);
        opacity: 0.54;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(149px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      66.67% {
        transform: translate3d(-20px, 0px, 0px);
        opacity: 0.54;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(49px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(49px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(49px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-q3jngwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(49px, -9px, 0px);
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-1px, -2px, 0px);
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-q3jngwdanimation {
      animation: gwd-gen-q3jngwdanimation_gwd-keyframes 0.4s linear 6.6s 1 normal forwards;
    }
    .gwd-p-19kg {
      position: absolute;
      height: 23px;
      font-family: 'Times New Roman';
      transform-origin: 197.5px -41px 0px;
      width: 73px;
      color: rgb(249, 242, 242);
      left: 786px;
      top: 498px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      background-image: none;
      background-color: rgb(255, 188, 18);
    }
    .gwd-taparea-yzpw {
      position: absolute;
      width: 72px;
      height: 23px;
      opacity: 0;
      visibility: hidden;
      transform-origin: -209px 22px 0px;
      left: 586px;
      top: 520px;
    }
    #page1.gwd-pause-animation .gwd-gen-5j9lgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-14ptgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    .gwd-play-animation .gwd-p-1dby .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-hlobgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-34px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-100px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-hlobgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-34px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-100px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-hlobgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-34px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-100px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-hlobgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-34px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-100px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hlobgwdanimation {
      animation: gwd-gen-hlobgwdanimation_gwd-keyframes 0.3s linear 38.9s 1 normal forwards;
    }
    .gwd-p-1lpr {
      transform-style: preserve-3d;
      transform: translate3d(-34px, 0px, 0px);
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    #page1.gwd-pause-animation .event-1-animation {
      animation-play-state: paused !important;
    }
    .gwd-img-1bp1 {
      position: absolute;
      width: 88px;
      height: 34px;
      transform-origin: 44px 429.5px 0px;
      top: 520px;
      left: 0px;
      opacity: 1;
    }
    #page1.gwd-pause-animation .gwd-gen-14o1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-etpagwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-12go {
      position: absolute;
      width: 69px;
      height: 31px;
      transform-origin: 153px 335px 0px;
      top: 520px;
      left: 791px;
      opacity: 0;
      visibility: visible;
    }
    #page1.gwd-pause-animation .gwd-gen-1i82gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1im9gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-1i97 {
      position: absolute;
      width: 97px;
      height: 54px;
      transform-origin: 48.5px 27px 0px;
      top: 414px;
      left: 757px;
    }
    #page1.gwd-pause-animation .gwd-gen-1kpdgwdanimation {
      animation-play-state: paused !important;
    }
    .mis {
      line-height: 14px;
      width: 100px;
    }
    #page1.gwd-pause-animation .gwd-gen-1epagwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-q3jngwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-hlobgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-o29ugwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1fgtgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-gih4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gih4gwdanimation {
      animation: gwd-gen-gih4gwdanimation_gwd-keyframes 0.4s linear 23.8s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-1xhmgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xkbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-wn8ygwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-1dic {
      opacity: 1;
      top: 13px;
      left: 715px;
    }
    #page1.gwd-pause-animation .gwd-gen-15xsgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-vd2bgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-font-bzs2 {
      font-weight: bold;
    }
    .gwd-p-krm6 {
      position: absolute;
      left: 188px;
      font-size: 26px;
      top: 233px;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
      opacity: 0;
    }
    @keyframes gwd-gen-vi2wgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-123px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-vi2wgwdanimation {
      animation: gwd-gen-vi2wgwdanimation_gwd-keyframes 0.2s linear 2.2s 1 normal forwards;
    }
    .gwd-img-1mrz {
      position: absolute;
      width: 150px;
      height: 36px;
      left: 469px;
      top: 125px;
      opacity: 0;
    }
    .gwd-img-1bhr {
      position: absolute;
      width: 150px;
      height: 42px;
      left: 469px;
      top: 191px;
      opacity: 0;
    }
    .gwd-img-11sr {
      position: absolute;
      width: 150px;
      height: 17px;
      left: 470px;
      top: 382px;
      opacity: 0;
    }
    .gwd-img-1iir {
      position: absolute;
      width: 150px;
      height: 16px;
      left: 470px;
      top: 335px;
      opacity: 0;
    }
    .gwd-img-rull {
      position: absolute;
      width: 58px;
      height: 56px;
      left: 470px;
      top: 249px;
      opacity: 0;
    }
    @keyframes gwd-gen-1ye8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      1.72% {
        opacity: 1;
        animation-timing-function: linear;
      }
      4.31% {
        opacity: 0;
        animation-timing-function: linear;
      }
      6.9% {
        opacity: 1;
        animation-timing-function: linear;
      }
      9.48% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.28% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ye8gwdanimation {
      animation: gwd-gen-1ye8gwdanimation_gwd-keyframes 11.6s linear 2.9s 1 normal forwards;
    }
    @keyframes gwd-gen-13t1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.03% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.06% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.1% {
        opacity: 1;
        animation-timing-function: linear;
      }
      13.13% {
        opacity: 1;
        animation-timing-function: linear;
      }
      97.98% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-13t1gwdanimation {
      animation: gwd-gen-13t1gwdanimation_gwd-keyframes 9.9s linear 4.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1uqigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 264px;
        animation-timing-function: linear;
      }
      5% {
        opacity: 1;
        top: 264px;
        animation-timing-function: linear;
      }
      8.75% {
        opacity: 0;
        top: 264px;
        animation-timing-function: linear;
      }
      13.75% {
        opacity: 1;
        top: 264px;
        animation-timing-function: linear;
      }
      17.5% {
        opacity: 1;
        top: 264px;
        animation-timing-function: linear;
      }
      97.5% {
        opacity: 1;
        top: 264px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        top: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1uqigwdanimation {
      animation: gwd-gen-1uqigwdanimation_gwd-keyframes 8s linear 6.5s 1 normal forwards;
    }
    @keyframes gwd-gen-mvpxgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      5% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      10% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      15% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      21.67% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      96.67% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-mvpxgwdanimation {
      animation: gwd-gen-mvpxgwdanimation_gwd-keyframes 6s linear 8.5s 1 normal forwards;
    }
    @keyframes gwd-gen-4w69gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      20% {
        opacity: 0;
        animation-timing-function: linear;
      }
      30% {
        opacity: 1;
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-4w69gwdanimation {
      animation: gwd-gen-4w69gwdanimation_gwd-keyframes 4s linear 10.5s 1 normal forwards;
    }
    .gwd-img-zd7t {
      height: 60px;
      width: 75px;
    }
    @keyframes gwd-gen-t85kgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      41.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      83.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-t85kgwdanimation {
      animation: gwd-gen-t85kgwdanimation_gwd-keyframes 1.2s linear 14.8s 1 normal forwards;
    }
    .gwd-img-1xnx {
      width: 53px;
      height: 46px;
      transform-style: preserve-3d;
      transform: translate3d(14px, 0px, 0px);
    }
    #page1.gwd-pause-animation .gwd-gen-66w7gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-1c84gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(14px, 0px, 0px);
        animation-timing-function: linear;
      }
      23.08% {
        opacity: 1;
        transform: translate3d(14px, 0px, 0px);
        animation-timing-function: linear;
      }
      46.15% {
        opacity: 0;
        transform: translate3d(14px, 0px, 0px);
        animation-timing-function: linear;
      }
      69.23% {
        opacity: 1;
        transform: translate3d(14px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(14px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1c84gwdanimation {
      animation: gwd-gen-1c84gwdanimation_gwd-keyframes 1.3s linear 16.7s 1 normal forwards;
    }
    .gwd-img-1h9p {
      width: 150px;
      height: 37px;
      transform: translate3d(1px, 0px, 0px);
      transform-style: preserve-3d;
    }
    @keyframes gwd-gen-8ql0gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      27.27% {
        opacity: 1;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 0;
        animation-timing-function: linear;
      }
      81.82% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-8ql0gwdanimation {
      animation: gwd-gen-8ql0gwdanimation_gwd-keyframes 1.1s linear 22.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1swrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0;
        animation-timing-function: linear;
      }
      63.64% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1swrgwdanimation {
      animation: gwd-gen-1swrgwdanimation_gwd-keyframes 1.1s linear 18.6s 1 normal forwards;
    }
    .gwd-img-q1hq {
      height: 60px;
      width: 45px;
      transform-style: preserve-3d;
      transform: translate3d(0px, -26px, 0px);
    }
    @keyframes gwd-gen-c73egwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      25% {
        opacity: 1;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0;
        animation-timing-function: linear;
      }
      75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-c73egwdanimation {
      animation: gwd-gen-c73egwdanimation_gwd-keyframes 1.2s linear 20.3s 1 normal forwards;
    }
    .gwd-img-u0m2 {
      width: 150px;
      height: 37px;
    }
    .gwd-img-18wt {
      height: 75px;
    }
    .gwd-img-rqm1 {
      top: 264px;
    }
    #page1.gwd-pause-animation .gwd-gen-vi2wgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-16mlgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-s0mrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-gih4gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ye8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-13t1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-4w69gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-mvpxgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1uqigwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-t85kgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1c84gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-c73egwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1swrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-8ql0gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-qror {
      transform: translate3d(0px, 0px, 0px);
    }
 gwd-doubleclick#gwd-ad {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    top: 44%;
    height: 480px;
    transform: translate3d(-430px, -240px, 0);
    -webkit-transform: translate3d(-430px, -240px, 0);
    -moz-transform: translate3d(-430px, -240px, 0);
    width: 860px;
    transform-origin: 430px 240px 0px;
    -webkit-transform-origin: 430px 240px 0px;
    -moz-transform-origin: 430px 240px 0px;
	box-shadow: 0px 0px 5px #000, -1px -3px 15px #000;
}
@media (min-width:1400px) {
	img.gwd-img-1mec {
        position: relative;
    height: 25px;
    left: 25.3%!important;
    top: 442px;
    width: 860px;
    opacity: 0.3;
    transform-origin: 430.5px 12.5px 0px;
    -webkit-transform-origin: 430.5px 12.5px 0px;
    -moz-transform-origin: 430.5px 12.5px 0px;
}
}
@media (min-width:1200px) {
	img.gwd-img-1mec {
        position: relative;
    height: 25px;
    left: 12.8%;
    top: 442px;
    width: 860px;
    opacity: 0.3;
    transform-origin: 430.5px 12.5px 0px;
    -webkit-transform-origin: 430.5px 12.5px 0px;
    -moz-transform-origin: 430.5px 12.5px 0px;
}
}