
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      perspective: 1400px;
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-img-bf90 {
      position: absolute;
      width: 860px;
      height: 480px;
      left: 0px;
      top: 0px;
      opacity: 0;
    }
    @keyframes gwd-gen-2bbmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-2bbmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-2bbmgwdanimation {
      animation: gwd-gen-2bbmgwdanimation_gwd-keyframes 0.6s linear 0s 1 normal forwards;
    }
    .gwd-img-5ibu {
      position: absolute;
      top: 266px;
      left: 403px;
      width: 860px;
      height: 480px;
      transform-style: preserve-3d;
      transform: translate3d(16px, 28px, 0px);
      opacity: 0;
    }
    @keyframes gwd-gen-iytygwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(16px, 28px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      12.5% {
        transform: translate3d(-36.375px, -8.875px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-403px, -267px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-iytygwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(16px, 28px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      12.5% {
        transform: translate3d(-36.375px, -8.875px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-403px, -267px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-iytygwdanimation {
      animation: gwd-gen-iytygwdanimation_gwd-keyframes 0.8s linear 0.6s 1 normal forwards;
    }
    .gwd-div-5wvl {
      position: absolute;
      height: 63px;
      left: 28px;
      top: 31px;
      width: 5px;
      opacity: 0;
      background-image: none;
      background-color: rgb(36, 59, 74);
    }
    .gwd-p-1cmm {
      position: absolute;
      width: 303px;
      height: 63px;
      top: 46px;
      left: 100px;
      opacity: 0;
    }
    .gwd-span-i5cg {
      font-size: 27px;
      color: rgb(255, 255, 255);
    }
    .gwd-span-194q {
      color: rgb(255, 198, 39);
      font-weight: bold;
    }
    .gwd-span-1f8p {
      font-size: 27px;
    }
    .gwd-span-pvgv {
      font-size: 23px;
    }
    .gwd-span-18xh {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1fyx {
      color: rgb(255, 255, 255);
    }
    .gwd-div-5it2 {
      position: absolute;
      height: 2px;
      top: 91.875px;
      left: 330px;
      width: 0px;
      background-image: none;
      background-color: rgb(36, 59, 74);
    }
    .gwd-p-aplu {
      position: absolute;
      width: 266px;
      height: 71px;
      transform-origin: 156.688px 20.625px 0px;
      font-size: 25px;
      font-family: HoneywellSanslight;
      top: 29px;
      left: 133px;
      opacity: 0;
    }
    .gwd-span-1f1r {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1qdb {
      color: rgb(238, 50, 65);
    }
    .gwd-span-vtqf {
      color: rgb(255, 255, 255);
    }
    .gwd-span-pea7 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-10zd {
      font-weight: bold;
    }
    .gwd-span-wm9c {
      font-weight: bold;
    }
    .gwd-span-1jg2 {
      font-weight: bold;
    }
    .gwd-span-1uav {
      font-weight: bold;
    }
    .gwd-img-xu04 {
      position: absolute;
      width: 77px;
      height: 74px;
      top: 322px;
      left: 197px;
      opacity: 0;
    }
    .gwd-img-1dx0 {
      position: absolute;
      width: 123px;
      height: 46px;
      top: 281px;
      left: 100px;
      opacity: 0;
      transform-origin: 58px 23px 0px;
      transform: rotateY(-15deg);
    }
    .gwd-p-1cl0 {
      position: absolute;
      height: 42px;
      text-align: left;
      color: rgb(255, 255, 255);
      font-family: HoneywellSanslight;
      font-size: 15px;
      left: 100px;
      top: 287px;
      width: 109px;
      transform-origin: 52px 21px 0px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
    }
    .gwd-span-110f {
      font-weight: bold;
    }
    .gwd-span-z9rd {
      font-weight: bold;
    }
    .gwd-span-n2ur {
      font-weight: bold;
    }
    .gwd-img-1icu {
      position: absolute;
      width: 120px;
      height: 46px;
      left: 125px;
      top: 265px;
      opacity: 0;
    }
    .gwd-img-rwy3 {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 231px;
      top: 306px;
      transform-style: preserve-3d;
      transform: rotateZ(-3deg);
      opacity: 0;
    }
    @keyframes gwd-gen-1xi6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      7.69% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      15.38% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      23.08% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      30.77% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      38.46% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      46.15% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      53.85% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 303px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xi6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      7.69% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      15.38% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      23.08% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      30.77% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      38.46% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      46.15% {
        opacity: 0;
        width: 5px;
        animation-timing-function: linear;
      }
      53.85% {
        opacity: 1;
        width: 5px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 303px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xi6gwdanimation {
      animation: gwd-gen-1xi6gwdanimation_gwd-keyframes 2.6s linear 1.4s 1 normal forwards;
    }
    @keyframes gwd-gen-mf1ugwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 37px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-mf1ugwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 37px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-mf1ugwdanimation {
      animation: gwd-gen-mf1ugwdanimation_gwd-keyframes 0.2s linear 4s 1 normal forwards;
    }
    @keyframes gwd-gen-1tfpgwdanimation_gwd-keyframes {
      0% {
        left: 133px;
        top: 29px;
        opacity: 0;
        width: 266px;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        top: 29px;
        opacity: 1;
        width: 266px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1tfpgwdanimation_gwd-keyframes {
      0% {
        left: 133px;
        top: 29px;
        opacity: 0;
        width: 266px;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        top: 29px;
        opacity: 1;
        width: 266px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1tfpgwdanimation {
      animation: gwd-gen-1tfpgwdanimation_gwd-keyframes 1s linear 4.2s 1 normal forwards;
    }
    @keyframes gwd-gen-14awgwdanimation_gwd-keyframes {
      0% {
        left: 330px;
        top: 91.875px;
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        left: 330px;
        top: 91.875px;
        width: 528px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-14awgwdanimation_gwd-keyframes {
      0% {
        left: 330px;
        top: 91.875px;
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        left: 330px;
        top: 91.875px;
        width: 528px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-14awgwdanimation {
      animation: gwd-gen-14awgwdanimation_gwd-keyframes 1s linear 4.2s 1 normal forwards;
    }
    @keyframes gwd-gen-hf03gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.35% {
        opacity: 0;
        animation-timing-function: linear;
      }
      9.52% {
        opacity: 1;
        animation-timing-function: linear;
      }
      17.46% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-hf03gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.35% {
        opacity: 0;
        animation-timing-function: linear;
      }
      9.52% {
        opacity: 1;
        animation-timing-function: linear;
      }
      17.46% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hf03gwdanimation {
      animation: gwd-gen-hf03gwdanimation_gwd-keyframes 6.3s linear 5.2s 1 normal forwards;
    }
    @keyframes gwd-gen-d1rygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      7.55% {
        opacity: 1;
        transform: translate3d(8px, 0px, 0px);
        animation-timing-function: linear;
      }
      96.23% {
        opacity: 1;
        transform: translate3d(8px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(2px, 2px, 0px);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-d1rygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      7.55% {
        opacity: 1;
        transform: translate3d(8px, 0px, 0px);
        animation-timing-function: linear;
      }
      96.23% {
        opacity: 1;
        transform: translate3d(8px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(2px, 2px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-d1rygwdanimation {
      animation: gwd-gen-d1rygwdanimation_gwd-keyframes 5.3s linear 6.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1ar5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1ar5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ar5gwdanimation {
      animation: gwd-gen-1ar5gwdanimation_gwd-keyframes 6s linear 11.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1l4egwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.33% {
        opacity: 0.98;
        animation-timing-function: linear;
      }
      96.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1l4egwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.33% {
        opacity: 0.98;
        animation-timing-function: linear;
      }
      96.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1l4egwdanimation {
      animation: gwd-gen-1l4egwdanimation_gwd-keyframes 6s linear 11.5s 1 normal forwards;
    }
    .gwd-p-10qu {
      position: absolute;
      width: 116px;
      height: 46px;
      color: rgb(255, 255, 255);
      left: 137px;
      font-family: HoneywellSanslight;
      top: 270px;
      opacity: 0;
    }
    @keyframes gwd-gen-1xfwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      96.08% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xfwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      96.08% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xfwgwdanimation {
      animation: gwd-gen-1xfwgwdanimation_gwd-keyframes 5.1s linear 12.4s 1 normal forwards;
    }
    @keyframes gwd-gen-qlo8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: rotateY(-15deg);
        animation-timing-function: linear;
      }
      5.66% {
        opacity: 1;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
      96.23% {
        opacity: 1;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-qlo8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: rotateY(-15deg);
        animation-timing-function: linear;
      }
      5.66% {
        opacity: 1;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
      96.23% {
        opacity: 1;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: rotateY(0deg);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-qlo8gwdanimation {
      animation: gwd-gen-qlo8gwdanimation_gwd-keyframes 5.3s linear 6.2s 1 normal forwards;
    }
    .gwd-img-ml6w {
      position: absolute;
      left: 173px;
      top: 252px;
      transform-style: preserve-3d;
      height: 46px;
      width: 128px;
      transform-origin: 64.4785px 22.9811px 0px;
      opacity: 0;
      transform: translate3d(457px, 167px, 0px) rotateZ(-175.541deg) scale3d(1, 1, 1);
    }
    .gwd-img-tclq {
      position: absolute;
      left: 173px;
      top: 252px;
      transform-style: preserve-3d;
      width: 77px;
      height: 74px;
      transform-origin: 10.491px 16.7491px 0px;
      transform: translate3d(448px, 135px, 0px) rotateZ(165.156deg);
      opacity: 0;
    }
    .gwd-p-151i {
      position: absolute;
      top: 417px;
      font-family: HoneywellSanslight;
      height: 54px;
      left: 644px;
      width: 131px;
      transform-origin: 60px 26px 0px;
      color: rgb(255, 255, 255);
      transform-style: preserve-3d;
      transform: translate3d(3px, 8px, 0px) rotateZ(4.22657deg);
      opacity: 0;
    }
    @keyframes gwd-gen-1ku8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 0;
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1ku8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 0;
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ku8gwdanimation {
      animation: gwd-gen-1ku8gwdanimation_gwd-keyframes 4.8s linear 17.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1lw9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(457px, 167px, 0px) rotateZ(-175.541deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 0;
        transform: translate3d(457px, 167px, 0px) rotateZ(-175.541deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1lw9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(457px, 167px, 0px) rotateZ(-175.541deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 0;
        transform: translate3d(457px, 167px, 0px) rotateZ(-175.541deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(463px, 167px, 0px) rotateZ(-175.541deg) scale3d(1.09791, 1, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1lw9gwdanimation {
      animation: gwd-gen-1lw9gwdanimation_gwd-keyframes 4.8s linear 17.5s 1 normal forwards;
    }
    @keyframes gwd-gen-ixhfgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-ixhfgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      12.5% {
        opacity: 1;
        animation-timing-function: linear;
      }
      93.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ixhfgwdanimation {
      animation: gwd-gen-ixhfgwdanimation_gwd-keyframes 4.8s linear 17.5s 1 normal forwards;
    }
    .gwd-img-1p8c {
      position: absolute;
      top: 330px;
      left: 784px;
      height: 46px;
      transform-style: preserve-3d;
      width: 190px;
      transform-origin: 95.7203px 22.9982px 0px;
      opacity: 0;
      transform: translate3d(-206px, 100px, 0px) rotateZ(179.17deg) scale3d(1, 1, 1);
    }
    .gwd-img-nf9s {
      position: absolute;
      top: 330px;
      left: 784px;
      width: 77px;
      height: 74px;
      transform-style: preserve-3d;
      transform: translate3d(-277px, 38px, 0px) rotateZ(165.825deg);
      opacity: 0;
    }
    .gwd-p-19qk {
      position: absolute;
      left: 619px;
      top: 431px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      width: 167px;
      height: 43px;
      transform-origin: 83.5623px 21.7344px 0px;
      transform-style: preserve-3d;
      opacity: 0;
      transform: translate3d(6px, 4px, 0px) rotateZ(-1.15926deg);
      font-size: 15px;
    }
    @keyframes gwd-gen-1bfbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.64% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1bfbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.64% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1bfbgwdanimation {
      animation: gwd-gen-1bfbgwdanimation_gwd-keyframes 5.5s linear 22.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1czagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-206px, 100px, 0px) rotateZ(179.17deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        transform: translate3d(-206px, 100px, 0px) rotateZ(179.17deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 0.99;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 0.99;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1czagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-206px, 100px, 0px) rotateZ(179.17deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        transform: translate3d(-206px, 100px, 0px) rotateZ(179.17deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 0.99;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 0.99;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-185px, 100px, 0px) rotateZ(179.17deg) scale3d(1.2186, 1, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1czagwdanimation {
      animation: gwd-gen-1czagwdanimation_gwd-keyframes 5.5s linear 22.3s 1 normal forwards;
    }
    @keyframes gwd-gen-512ogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-512ogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      7.27% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.36% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-512ogwdanimation {
      animation: gwd-gen-512ogwdanimation_gwd-keyframes 5.5s linear 22.3s 1 normal forwards;
    }
    .gwd-img-1rsx {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 432px;
      top: 372px;
      transform-style: preserve-3d;
      transform: translate3d(-29px, -3px, 0px) rotateZ(151.773deg);
      opacity: 0;
    }
    .gwd-img-1j3c {
      position: absolute;
      width: 116px;
      height: 46px;
      left: 206px;
      top: 417px;
      transform-style: preserve-3d;
      transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
      opacity: 0;
    }
    .gwd-p-v12o {
      position: absolute;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      width: 177px;
      height: 47px;
      transform-origin: 88.4123px 23.5781px 0px;
      text-align: right;
      left: 460px;
      top: 434px;
      opacity: 0;
    }
    @keyframes gwd-gen-1xgbgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 0;
        animation-timing-function: linear;
      }
      10.34% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 1;
        animation-timing-function: linear;
      }
      96.55% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xgbgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 0;
        animation-timing-function: linear;
      }
      10.34% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 1;
        animation-timing-function: linear;
      }
      96.55% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(301px, 4px, 0px) rotateZ(-179.42deg) scale3d(1.46254, 1, 1);
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xgbgwdanimation {
      animation: gwd-gen-1xgbgwdanimation_gwd-keyframes 5.8s linear 27.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1s29gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.45% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.9% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.34% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1s29gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.45% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.9% {
        opacity: 0;
        animation-timing-function: linear;
      }
      10.34% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1s29gwdanimation {
      animation: gwd-gen-1s29gwdanimation_gwd-keyframes 5.8s linear 27.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1zmkgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.3% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1zmkgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.3% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1zmkgwdanimation {
      animation: gwd-gen-1zmkgwdanimation_gwd-keyframes 5.4s linear 28.2s 1 normal forwards;
    }
    .gwd-img-nbo4 {
      position: absolute;
      top: 301px;
      height: 46px;
      transform-style: preserve-3d;
      left: 767px;
      width: 194px;
      transform-origin: 91.2504px 22.9724px 0px;
      opacity: 0;
      transform: translate3d(-293px, -150px, 0px) rotateZ(165.201deg) scale3d(1, 1, 1);
    }
    .gwd-img-oemv {
      position: absolute;
      left: 766px;
      width: 77px;
      height: 74px;
      transform-style: preserve-3d;
      top: 299px;
      transform: translate3d(-345px, -98px, 0px) rotateZ(93.2295deg);
      opacity: 0;
    }
    .gwd-p-h521 {
      position: absolute;
      font-family: HoneywellSanslight;
      top: 173px;
      height: 54px;
      left: 488px;
      width: 176px;
      transform-origin: 72.6563px 26.25px 0px;
      color: rgb(255, 255, 255);
      transform-style: preserve-3d;
      text-align: right;
      transform: translate3d(-15px, -13px, 0px) rotateZ(-15.1919deg);
      opacity: 0;
      font-size: 15px;
    }
    @keyframes gwd-gen-at0cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.41% {
        opacity: 0;
        animation-timing-function: linear;
      }
      11.11% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.3% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-at0cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.41% {
        opacity: 0;
        animation-timing-function: linear;
      }
      11.11% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.3% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-at0cgwdanimation {
      animation: gwd-gen-at0cgwdanimation_gwd-keyframes 5.4s linear 33.6s 1 normal forwards;
    }
    @keyframes gwd-gen-kon7gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-293px, -150px, 0px) rotateZ(165.201deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        transform: translate3d(-286px, -152px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
      95.83% {
        opacity: 1;
        transform: translate3d(-286px, -150px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-286px, -150px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-kon7gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-293px, -150px, 0px) rotateZ(165.201deg) scale3d(1, 1, 1);
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        transform: translate3d(-286px, -152px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
      95.83% {
        opacity: 1;
        transform: translate3d(-286px, -150px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-286px, -150px, 0px) rotateZ(165.201deg) scale3d(1.08325, 1, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kon7gwdanimation {
      animation: gwd-gen-kon7gwdanimation_gwd-keyframes 4.8s linear 34.2s 1 normal forwards;
    }
    @keyframes gwd-gen-laa6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-15px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        transform: translate3d(-1px, -15px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      95.83% {
        opacity: 1;
        transform: translate3d(-1px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-15px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-laa6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-15px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      4.17% {
        opacity: 1;
        transform: translate3d(-1px, -15px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      95.83% {
        opacity: 1;
        transform: translate3d(-1px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        transform: translate3d(-15px, -13px, 0px) rotateZ(-15.1919deg);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-laa6gwdanimation {
      animation: gwd-gen-laa6gwdanimation_gwd-keyframes 4.8s linear 34.2s 1 normal forwards;
    }
    .gwd-img-1yap {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 329px;
      top: 143px;
      transform-style: preserve-3d;
      transform: translate3d(59px, 20px, 0px) rotateZ(103.49deg);
      opacity: 0;
    }
    .gwd-img-149c {
      position: absolute;
      left: 502px;
      top: 138px;
      height: 46px;
      transform-style: preserve-3d;
      width: 167px;
      transform-origin: 78.4147px 22.9914px 0px;
      transform: translate3d(-52px, -7px, 0px) rotateZ(174.211deg);
      opacity: 0;
    }
    .gwd-p-2bbx {
      position: absolute;
      width: 152.607px;
      height: 40.6158px;
      left: 447px;
      top: 138px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      transform-style: preserve-3d;
      text-align: right;
      transform: translate3d(-2px, 0px, 0px) rotateZ(-6.45582deg);
      opacity: 0;
      font-size: 15px;
    }
    @keyframes gwd-gen-hij1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.65% {
        opacity: 1;
        animation-timing-function: linear;
      }
      9.3% {
        opacity: 0;
        animation-timing-function: linear;
      }
      13.95% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.35% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-hij1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.65% {
        opacity: 1;
        animation-timing-function: linear;
      }
      9.3% {
        opacity: 0;
        animation-timing-function: linear;
      }
      13.95% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.35% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hij1gwdanimation {
      animation: gwd-gen-hij1gwdanimation_gwd-keyframes 4.3s linear 39s 1 normal forwards;
    }
    @keyframes gwd-gen-115cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      5.41% {
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-115cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      5.41% {
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-115cgwdanimation {
      animation: gwd-gen-115cgwdanimation_gwd-keyframes 3.7s linear 39.6s 1 normal forwards;
    }
    @keyframes gwd-gen-ryuogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      5.41% {
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-ryuogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      5.41% {
        opacity: 1;
        animation-timing-function: linear;
      }
      94.59% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ryuogwdanimation {
      animation: gwd-gen-ryuogwdanimation_gwd-keyframes 3.7s linear 39.6s 1 normal forwards;
    }
    .gwd-img-x6qj {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 247px;
      top: 159px;
      transform-style: preserve-3d;
      transform: translate3d(-8px, 2px, 0px) rotateZ(-15.8472deg);
      opacity: 0;
    }
    .gwd-img-1q42 {
      position: absolute;
      height: 46px;
      width: 178px;
      transform-origin: 89.2165px 23px 0px;
      top: 132px;
      left: 69px;
      opacity: 0;
    }
    .gwd-p-1wh9 {
      position: absolute;
      width: 185.229px;
      height: 47.8325px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      left: 79px;
      top: 137px;
      opacity: 0;
      font-size: 14px;
    }
    @keyframes gwd-gen-1jt8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8% {
        opacity: 0;
        animation-timing-function: linear;
      }
      12% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1jt8gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8% {
        opacity: 0;
        animation-timing-function: linear;
      }
      12% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1jt8gwdanimation {
      animation: gwd-gen-1jt8gwdanimation_gwd-keyframes 5s linear 43.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1t7bgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.45% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1t7bgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.45% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1t7bgwdanimation {
      animation: gwd-gen-1t7bgwdanimation_gwd-keyframes 4.4s linear 43.9s 1 normal forwards;
    }
    @keyframes gwd-gen-scgqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        font-size: 14px;
        animation-timing-function: linear;
      }
      4.55% {
        opacity: 1;
        font-size: 14px;
        animation-timing-function: linear;
      }
      9.09% {
        font-size: 14px;
        animation-timing-function: linear;
      }
      95.45% {
        opacity: 1;
        font-size: 14px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        font-size: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-scgqgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        font-size: 14px;
        animation-timing-function: linear;
      }
      4.55% {
        opacity: 1;
        font-size: 14px;
        animation-timing-function: linear;
      }
      9.09% {
        font-size: 14px;
        animation-timing-function: linear;
      }
      95.45% {
        opacity: 1;
        font-size: 14px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        font-size: 16px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-scgqgwdanimation {
      animation: gwd-gen-scgqgwdanimation_gwd-keyframes 4.4s linear 43.9s 1 normal forwards;
    }
    .gwd-img-ikza {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 254px;
      top: 152px;
      transform-style: preserve-3d;
      transform: translate3d(-16px, 17px, 0px) rotateZ(-29.7511deg);
      opacity: 0;
    }
    .gwd-img-nfaq {
      position: absolute;
      width: 116px;
      height: 46px;
      left: 125px;
      top: 147px;
      opacity: 0;
    }
    .gwd-p-9yt8 {
      position: absolute;
      width: 116px;
      height: 46px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      top: 151px;
      left: 134px;
      opacity: 0;
      line-height: 1.5 !important;
    }
    @keyframes gwd-gen-kpprgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.9% {
        opacity: 1;
        animation-timing-function: linear;
      }
      5.8% {
        opacity: 0;
        animation-timing-function: linear;
      }
      8.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      97.1% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-kpprgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.9% {
        opacity: 1;
        animation-timing-function: linear;
      }
      5.8% {
        opacity: 0;
        animation-timing-function: linear;
      }
      8.7% {
        opacity: 1;
        animation-timing-function: linear;
      }
      97.1% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kpprgwdanimation {
      animation: gwd-gen-kpprgwdanimation_gwd-keyframes 6.9s linear 48.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1tywgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1tywgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1tywgwdanimation {
      animation: gwd-gen-1tywgwdanimation_gwd-keyframes 6.3s linear 48.9s 1 normal forwards;
    }
    @keyframes gwd-gen-1yhjgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1yhjgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.17% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.83% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1yhjgwdanimation {
      animation: gwd-gen-1yhjgwdanimation_gwd-keyframes 6.3s linear 48.9s 1 normal forwards;
    }
    .gwd-img-1iob {
      position: absolute;
      width: 77px;
      height: 74px;
      left: 280px;
      top: 193px;
      transform-style: preserve-3d;
      transform: translate3d(-10px, 17px, 0px) rotateZ(-24.3382deg);
      opacity: 0;
    }
    .gwd-img-n083 {
      position: absolute;
      height: 46px;
      top: 183px;
      width: 139px;
      transform-origin: 69.5px 23px 0px;
      left: 134px;
      opacity: 0;
    }
    .gwd-p-9flx {
      position: absolute;
      width: 127px;
      height: 46px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      top: 188px;
      left: 144px;
      opacity: 0;
      font-size: 15px;
    }
    @keyframes gwd-gen-1o40gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.84% {
        opacity: 0;
        animation-timing-function: linear;
      }
      11.76% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.08% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1o40gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.84% {
        opacity: 0;
        animation-timing-function: linear;
      }
      11.76% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.08% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1o40gwdanimation {
      animation: gwd-gen-1o40gwdanimation_gwd-keyframes 5.1s linear 55.2s 1 normal forwards;
    }
    @keyframes gwd-gen-138zgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.44% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.56% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-138zgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.44% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.56% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-138zgwdanimation {
      animation: gwd-gen-138zgwdanimation_gwd-keyframes 4.5s linear 55.8s 1 normal forwards;
    }
    @keyframes gwd-gen-ma19gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.44% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.56% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-ma19gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      4.44% {
        opacity: 1;
        animation-timing-function: linear;
      }
      95.56% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ma19gwdanimation {
      animation: gwd-gen-ma19gwdanimation_gwd-keyframes 4.5s linear 55.8s 1 normal forwards;
    }
    .gwd-img-ucow {
      position: absolute;
      top: 371px;
      left: 732px;
      transform-style: preserve-3d;
      width: 77px;
      height: 74px;
      transform: translate3d(-490px, -88px, 0px) rotateZ(-8.55065deg);
      opacity: 0;
    }
    .gwd-img-15m5 {
      position: absolute;
      top: 371px;
      left: 732px;
      transform-style: preserve-3d;
      height: 46px;
      width: 214px;
      transform-origin: 106.944px 22.9909px 0px;
      transform: translate3d(-696px, -126px, 0px) rotateZ(0.740942deg);
      opacity: 0;
    }
    .gwd-p-16p5 {
      position: absolute;
      width: 179.053px;
      height: 49.0339px;
      font-family: HoneywellSanslight;
      left: 50px;
      top: 238px;
      color: rgb(255, 255, 255);
      transform-style: preserve-3d;
      transform: translate3d(3px, 11px, 0px) rotateZ(0.6878deg);
      opacity: 0;
      line-height: 1.5 !important;
    }
    .gwd-p-ob9r {
      position: absolute;
      left: 51px;
      top: 288px;
      font-family: HoneywellSanslight;
      width: 181px;
      height: 27px;
      transform-origin: 62.6094px 13.5781px 0px;
    }
    .gwd-span-tgmh {
      background-color: transparent;
    }
    .gwd-p-1qht {
      top: 324px;
      opacity: 0;
      left: -155px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }
    .gwd-p-17k6 {
      top: 354px;
      opacity: 0;
      left: -155px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }
    .gwd-p-1xk6 {
      top: 384px;
      opacity: 0;
      left: -155px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }
    .gwd-p-f18r {
      top: 293px;
      opacity: 0;
      left: -155px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }
    .gwd-span-9d2h {
      color: rgb(255, 255, 255);
    }
    .gwd-span-cpvg {
      color: rgb(255, 198, 39);
    }
    @keyframes gwd-gen-1f6xgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      4.65% {
        opacity: 0;
        animation-timing-function: linear;
      }
      6.98% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.51% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f6xgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      4.65% {
        opacity: 0;
        animation-timing-function: linear;
      }
      6.98% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.51% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1f6xgwdanimation {
      animation: gwd-gen-1f6xgwdanimation_gwd-keyframes 8.6s linear 60.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1g90gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.25% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1g90gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.75% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.25% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1g90gwdanimation {
      animation: gwd-gen-1g90gwdanimation_gwd-keyframes 8s linear 60.9s 1 normal forwards;
    }
    @keyframes gwd-gen-5tdjgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.9% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.1% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-5tdjgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      3.9% {
        opacity: 1;
        animation-timing-function: linear;
      }
      96.1% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-5tdjgwdanimation {
      animation: gwd-gen-5tdjgwdanimation_gwd-keyframes 7.7s linear 61.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1qwbgwdanimation_gwd-keyframes {
      0% {
        left: -155px;
        opacity: 0;
        animation-timing-function: linear;
      }
      8.11% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      95.95% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 35px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1qwbgwdanimation_gwd-keyframes {
      0% {
        left: -155px;
        opacity: 0;
        animation-timing-function: linear;
      }
      8.11% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      95.95% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 35px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1qwbgwdanimation {
      animation: gwd-gen-1qwbgwdanimation_gwd-keyframes 7.4s linear 61.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1qt9gwdanimation_gwd-keyframes {
      0% {
        left: -155px;
        opacity: 0;
        animation-timing-function: linear;
      }
      20.27% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      95.95% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 35px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1qt9gwdanimation_gwd-keyframes {
      0% {
        left: -155px;
        opacity: 0;
        animation-timing-function: linear;
      }
      20.27% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      95.95% {
        left: 35px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 35px;
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1qt9gwdanimation {
      animation: gwd-gen-1qt9gwdanimation_gwd-keyframes 7.4s linear 61.5s 1 normal forwards;
    }
    @keyframes gwd-gen-58ckgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: -155px;
        animation-timing-function: linear;
      }
      16.22% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      95.95% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 35px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-58ckgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: -155px;
        animation-timing-function: linear;
      }
      16.22% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      95.95% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 35px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-58ckgwdanimation {
      animation: gwd-gen-58ckgwdanimation_gwd-keyframes 7.4s linear 61.5s 1 normal forwards;
    }
    @keyframes gwd-gen-nh3fgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: -155px;
        animation-timing-function: linear;
      }
      12.16% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      95.95% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 35px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-nh3fgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: -155px;
        animation-timing-function: linear;
      }
      12.16% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      95.95% {
        opacity: 1;
        left: 35px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        left: 35px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-nh3fgwdanimation {
      animation: gwd-gen-nh3fgwdanimation_gwd-keyframes 7.4s linear 61.5s 1 normal forwards;
    }
    .gwd-img-jwhl {
      position: absolute;
      left: 527px;
      top: 359px;
      transform-style: preserve-3d;
      width: 77px;
      height: 74px;
      transform: translate3d(-107px, -40px, 0px) rotateZ(-156.378deg);
      opacity: 0;
    }
    .gwd-img-1pul {
      position: absolute;
      height: 46px;
      top: 394px;
      left: 371px;
      width: 111px;
      transform-origin: 55.5px 23px 0px;
      opacity: 0;
    }
    .gwd-span-1efz {
      position: absolute;
      width: 125px;
      height: 46px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      left: 379px;
      top: 400px;
      opacity: 0;
    }
    .gwd-span-1vp7 {
      position: absolute;
      left: 482px;
      top: 394px;
      font-family: HoneywellSanslight;
      color: rgb(255, 255, 255);
      width: 213px;
      height: 20px;
      transform-origin: 75.4531px 10.0313px 0px;
    }
    @keyframes gwd-gen-y4ragwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      0.95% {
        opacity: 1;
        animation-timing-function: linear;
      }
      1.9% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.84% {
        opacity: 1;
        animation-timing-function: linear;
      }
      11.37% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.58% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-y4ragwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      0.72% {
        opacity: 1;
        animation-timing-function: linear;
      }
      1.45% {
        opacity: 0;
        animation-timing-function: linear;
      }
      2.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8.72% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-y4ragwdanimation {
      animation: gwd-gen-y4ragwdanimation_gwd-keyframes 27.5s linear 69s 1 normal forwards;
    }
    @keyframes gwd-gen-lr72gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      1.46% {
        opacity: 1;
        animation-timing-function: linear;
      }
      8.78% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.54% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-lr72gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      1.11% {
        opacity: 1;
        animation-timing-function: linear;
      }
      6.69% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.89% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lr72gwdanimation {
      animation: gwd-gen-lr72gwdanimation_gwd-keyframes 26.9s linear 69.6s 1 normal forwards;
    }
    @keyframes gwd-gen-j3d1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      1.49% {
        opacity: 1;
        animation-timing-function: linear;
      }
      7.43% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.51% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-j3d1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      1.14% {
        opacity: 1;
        animation-timing-function: linear;
      }
      5.64% {
        opacity: 1;
        animation-timing-function: linear;
      }
      98.87% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-j3d1gwdanimation {
      animation: gwd-gen-j3d1gwdanimation_gwd-keyframes 26.6s linear 69.9s 1 normal forwards;
    }
    .gwd-span-1si7 {
      opacity: 0;
    }
    .gwd-span-17pl {
      opacity: 0;
    }
    .gwd-span-sj3k {
      opacity: 0;
    }
    .gwd-span-3bxs {
      opacity: 0;
    }
    .gwd-span-12hm {
      opacity: 0;
    }
    .gwd-span-1u4y {
      opacity: 0;
    }
    .gwd-span-17xl {
      opacity: 0;
    }
    @keyframes gwd-gen-jelrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-jelrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      83.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-jelrgwdanimation {
      animation: gwd-gen-jelrgwdanimation_gwd-keyframes 3.6s linear 71.4s 1 normal forwards;
    }
    @keyframes gwd-gen-ydfcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-ydfcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      14.63% {
        opacity: 1;
        animation-timing-function: linear;
      }
      85.37% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ydfcgwdanimation {
      animation: gwd-gen-ydfcgwdanimation_gwd-keyframes 4.1s linear 75s 1 normal forwards;
    }
    @keyframes gwd-gen-1ns1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1ns1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      14.29% {
        opacity: 1;
        animation-timing-function: linear;
      }
      82.86% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ns1gwdanimation {
      animation: gwd-gen-1ns1gwdanimation_gwd-keyframes 3.5s linear 79.1s 1 normal forwards;
    }
    @keyframes gwd-gen-1fq5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1fq5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      86.36% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1fq5gwdanimation {
      animation: gwd-gen-1fq5gwdanimation_gwd-keyframes 4.4s linear 82.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1c9bgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1c9bgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      85.71% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1c9bgwdanimation {
      animation: gwd-gen-1c9bgwdanimation_gwd-keyframes 4.2s linear 87s 1 normal forwards;
    }
    @keyframes gwd-gen-1u1cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1u1cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      16.22% {
        opacity: 1;
        animation-timing-function: linear;
      }
      83.78% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1u1cgwdanimation {
      animation: gwd-gen-1u1cgwdanimation_gwd-keyframes 3.7s linear 91.2s 1 normal forwards;
    }
    @keyframes gwd-gen-12jngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-12jngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      76.92% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-12jngwdanimation {
      animation: gwd-gen-12jngwdanimation_gwd-keyframes 2.6s linear 87s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-1gq2gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-5hoq {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-1o0w {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
    }
    #page1.gwd-pause-animation .gwd-gen-1uvvgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-o8yfgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-1uvvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    @keyframes gwd-gen-1uvvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1uvvgwdanimation {
      animation: gwd-gen-1uvvgwdanimation_gwd-keyframes 0.4s linear 90.1s 1 normal forwards;
    }
    gwd-doubleclick#gwd-ad {
      position: absolute;
      left: 50%;
      transform-style: preserve-3d;
      top: 44%;
      height: 480px;
      transform: translate3d(-430px, -240px, 0px);
      width: 860px;
      transform-origin: 430px 240px 0px;
      box-shadow: rgb(0, 0, 0) 0px 0px 5px, rgb(0, 0, 0) -1px -3px 15px;
    }
    img.gwd-img-1mec {
      position: relative;
      height: 25px;
      left: 0px;
      top: 479px;
      width: 860px;
      opacity: 0.3;
      transform-origin: 430.5px 12.5px 0px;
    }
    gwd-doubleclick#gwd-ad p {
      line-height: 1.3;
    }
    #page1.gwd-pause-animation .gwd-gen-1u1cgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1c9bgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1fq5gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ns1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ydfcgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-jelrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-j3d1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-lr72gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-y4ragwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1qt9gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-58ckgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-nh3fgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1qwbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-5tdjgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1g90gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1f6xgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-138zgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ma19gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1o40gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1yhjgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1tywgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-kpprgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-scgqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1t7bgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jt8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ryuogwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-115cgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-hij1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-laa6gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-kon7gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-at0cgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1zmkgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xgbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1s29gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-512ogwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1czagwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1bfbgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-ixhfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1lw9gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ku8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xfwgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ar5gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1l4egwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-d1rygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-qlo8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-hf03gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1tfpgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-14awgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-mf1ugwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xi6gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-iytygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-2bbmgwdanimation {
      animation-play-state: paused !important;
    }
