
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    @font-face {
      font-family: HoneywellSansbold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    @font-face {
      font-family: HoneywellSansEbold;
      src: url("HoneywellSans-Extrabold.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      perspective: 1400px;
      transform-style: preserve-3d;
      position: absolute;
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background: url("animate_bg.jpg");
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-nfnt {
      position: absolute;
      height: 40px;
      left: 0px;
      top: 31px;
      transform-style: preserve-3d;
      transform-origin: 3.5px 20px 0px;
      width: 22px;
      opacity: 0;
      transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-img-1lo6 {
      position: absolute;
      height: 129px;
      transform-origin: 81.1773px 64.6204px 0px;
      width: 162px;
      top: -20px;
      left: 100px;
      opacity: 0;
      transform: rotateZ(0deg) scale3d(1, 1, 1);
      transform-style: preserve-3d;
    }
    .grow {
      font-family: HoneywellSanslight !important;
      color: rgb(0, 0, 0) !important;
    }
    .gwd-div-9xxe {
      position: absolute;
      left: 378px;
      transform-origin: 201.99px 0.55469px 0px;
      top: 76px;
      height: 2px;
      width: 0px;
      background-image: none;
      background-color: rgb(250, 218, 214);
    }
    .gwd-p-1lyv {
      position: absolute;
      text-align: center;
      width: 383px;
      height: 22px;
      transform-origin: 230.406px 9.5px 0px;
      left: 389px;
      top: 448px;
      opacity: 0;
    }
    .gwd-span-t3f8 {
      font-size: 15px;
    }
    .gwd-div-uyhv {
      position: absolute;
      left: 0.40615px;
      top: 459px;
      height: 2px;
      width: 0px;
      opacity: 0;
      background-image: none;
      background-color: rgb(235, 222, 240);
    }
    .gwd-div-o9qp {
      position: absolute;
      transform-origin: 50.8211px 0.451997px 0px;
      height: 2px;
      top: 456px;
      width: 90px;
      left: 888px;
      opacity: 0;
      background-image: none;
      background-color: rgb(235, 222, 240);
    }
    .gwd-div-3p1n {
      height: 100%;
      width: 100%;
    }
    .gwd-div-1x4s {
      height: 100%;
      width: 100%;
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xhmgwdanimation {
      animation: gwd-gen-1xhmgwdanimation_gwd-keyframes 2.3s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-15xsgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 405px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-15xsgwdanimation {
      animation: gwd-gen-15xsgwdanimation_gwd-keyframes 1.1s linear 3.4s 1 normal forwards;
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-wn8ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 100px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: -20px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0.57;
        left: 242px;
        transform-origin: 81px 63.2222px 0px;
        transform: rotateZ(17deg) scale3d(1, 1, 135.88);
        top: -20px;
        animation-timing-function: linear;
      }
      45.45% {
        opacity: 0.742;
        left: 430.8px;
        transform-origin: 81.0625px 63.7813px 0px;
        transform: rotateZ(1.2deg) scale3d(1, 1, 81.928);
        top: 15px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 714px;
        transform-origin: 81.1773px 64.6204px 0px;
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        top: 16px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-wn8ygwdanimation {
      animation: gwd-gen-wn8ygwdanimation_gwd-keyframes 1.1s linear 3.4s 1 normal forwards;
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-uzeigwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        opacity: 0;
        top: 459px;
        animation-timing-function: linear;
      }
      100% {
        width: 395px;
        opacity: 1;
        top: 456px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-uzeigwdanimation {
      animation: gwd-gen-uzeigwdanimation_gwd-keyframes 0.9s linear 4.6s 1 normal forwards;
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-i0ejgwdanimation_gwd-keyframes {
      0% {
        left: 888px;
        opacity: 0;
        top: 456px;
        animation-timing-function: linear;
      }
      100% {
        left: 769px;
        opacity: 1;
        top: 457px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-i0ejgwdanimation {
      animation: gwd-gen-i0ejgwdanimation_gwd-keyframes 0.9s linear 4.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      36.36% {
        opacity: 0;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      72.73% {
        opacity: 0;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      36.36% {
        opacity: 0;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      72.73% {
        opacity: 0;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      36.36% {
        opacity: 0;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      72.73% {
        opacity: 0;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        animation-timing-function: linear;
      }
      36.36% {
        opacity: 0;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 1;
        animation-timing-function: linear;
      }
      72.73% {
        opacity: 0;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1f37gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      22.22% {
        opacity: 1;
        animation-timing-function: linear;
      }
      44.44% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1f37gwdanimation {
      animation: gwd-gen-1f37gwdanimation_gwd-keyframes 0.9s linear 4.6s 1 normal forwards;
    }
    .gwd-taparea-yzpw {
      position: absolute;
      width: 72px;
      height: 23px;
      opacity: 0;
      visibility: hidden;
      transform-origin: -209px 22px 0px;
      left: 586px;
      top: 520px;
    }
    #page1.gwd-pause-animation .gwd-gen-5j9lgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-14ptgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    .gwd-play-animation .gwd-p-1dby .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    #page1.gwd-pause-animation .event-1-animation {
      animation-play-state: paused !important;
    }
    .gwd-img-1bp1 {
      position: absolute;
      width: 88px;
      height: 34px;
      transform-origin: 44px 429.5px 0px;
      left: 0px;
      top: 520px;
      opacity: 1;
    }
    #page1.gwd-pause-animation .gwd-gen-14o1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-etpagwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-12go {
      position: absolute;
      width: 69px;
      height: 31px;
      transform-origin: 153px 335px 0px;
      top: 520px;
      left: 791px;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0px, 0px, 0px);
    }
    #page1.gwd-pause-animation .gwd-gen-1i82gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1im9gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-gih4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    .gwd-img-1i97 {
      position: absolute;
      left: 742px;
      width: 110px;
      top: 420px;
      height: 34px;
    }
    #page1.gwd-pause-animation .gwd-gen-1kpdgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-div-1fpr {
      width: 241px;
    }
    #page1.gwd-pause-animation .gwd-gen-gih4gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-1j6ngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
         }
      100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1j6ngwdanimation {
      animation: gwd-gen-1j6ngwdanimation_gwd-keyframes 0.3s linear 12.2s 1 normal forwards;
    }
    .gwd-p-18vn {
      position: absolute;
      transform-origin: 367.234px -116px 0px;
      height: 16px;
      top: 422px;
      left: 381px;
      opacity: 0;
      transform-style: preserve-3d;
      color: rgb(0, 0, 0);
      width: 360px;
      font-size: 15px;
      transform: translate3d(20px, 2px, 0px);
    }
    @keyframes gwd-gen-bkxfgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(20px, 2px, 0px);
        color: rgb(0, 0, 0);
        width: 360px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.5;
        transform: translate3d(20px, -19px, 0px);
        color: rgb(0, 0, 0);
        width: 360px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(21px, -12px, 0px);
        color: rgb(238, 49, 36);
        width: 360px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-bkxfgwdanimation {
      animation: gwd-gen-bkxfgwdanimation_gwd-keyframes 0.6s linear 11.9s 1 normal forwards;
    }
    .gwd-span-1lds {
      color: rgb(214, 31, 31);
    }
    #page1.gwd-pause-animation .gwd-gen-cj00gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-9snh {
      left: 100px;
      top: -20px;
    }
    #page1.gwd-pause-animation .gwd-gen-19szgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-gnbagwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-164mgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11ovgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-1vqn {}
    .gwd-div-v5xv {
      width: 100%;
      height: 100%;
    }
    .gwd-div-1prf {
      width: 100%;
      height: 100%;
    }
    .gwd-p-1iw8 {
      position: absolute;
      font-family: HoneywellSansBold;
      font-size: 20px;
      color: rgb(255, 255, 255);
      left: 17px;
      height: 22px;
      width: 205px;
      top: 35px;
      opacity: 0;
    }
    #page1.gwd-pause-animation .gwd-gen-1vlfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-2dnegwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-canvas-1qij {
      position: absolute;
      height: 67px;
      top: 154px;
      transform-style: preserve-3d;
      opacity: 0;
      left: 414px;
      border: 1px solid rgb(74, 126, 187);
      width: 1px;
      background: rgb(74, 126, 187);
    }
    @keyframes gwd-gen-kptcgwdanimation_gwd-keyframes {
      0% {
        width: 1px;
        animation-timing-function: linear;
      }
      60% {
        opacity: 0;
        left: 414px;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 414px;
        transform: translate3d(-1px, 0px, 0px);
        width: 1px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kptcgwdanimation {
      animation: gwd-gen-kptcgwdanimation_gwd-keyframes 0.5s linear 6s 1 normal forwards;
    }
    .gwd-p-1047 {
      position: absolute;
      left: 120px;
      top: 366px;
    }
    .gwd-p-1ynj {
      position: absolute;
      left: 100px;
      top: 393px;
    }
    .gwd-img-1lgn {
      position: absolute;
      width: 325px;
      height: 82px;
      left: 261px;
      top: 82px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(-11px, -6px, 0px) scale3d(0.843077, 0.843077, 1);
    }
    @keyframes gwd-gen-t15ygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-11px, -6px, 0px) scale3d(0.843077, 0.843077, 1);
        animation-timing-function: linear;
      }
      50% {
        opacity: 0.5;
        transform: translate3d(-9px, -5.5px, 0px) scale3d(0.843461, 0.843461, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-7px, 7px, 0px) scale3d(0.843846, 0.843846, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-t15ygwdanimation {
      animation: gwd-gen-t15ygwdanimation_gwd-keyframes 0.6s linear 5.7s 1 normal forwards;
    }
    .gwd-canvas-lp4x {
      position: absolute;
      height: 104px;
      top: 221px;
      left: 180.5px;
      transform-style: preserve-3d;
      border: 1px solid rgb(74, 126, 187);
      width: 1px;
      background: rgb(74, 126, 187);
    }
    @keyframes gwd-gen-1kjogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(5px, 0px, 0px) scale3d(1, 1, 1);
        width: 1px;
        animation-timing-function: linear;
      }
      55.56% {
        opacity: 0;
        transform: translate3d(5px, -33px, 0px) scale3d(1, 0.331731, 1);
        width: 1px;
        animation-timing-function: linear;
      }
      77.78% {
        opacity: 1;
        transform: translate3d(5px, -24.75px, 0px) scale3d(1, 0.498798, 1);
        width: 1px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(5px, -14px, 0px) scale3d(0.5, 0.730769, 1);
        width: 3px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1kjogwdanimation {
      animation: gwd-gen-1kjogwdanimation_gwd-keyframes 0.9s linear 8.1s 1 normal forwards;
    }
    .gwd-canvas-eibh {
      opacity: 0;
      transform: translate3d(5px, 0px, 0px) scale3d(1, 1, 1);
    }
    .gwd-p-1eqy {
      position: absolute;
      width: 239px;
      left: 68px;
      top: 295px;
      text-align: center;
      font-size: 19px;
      font-family: HoneywellSansBold;
      line-height: 2;
      height: 35px;
      background: rgb(255, 198, 39);
    }
    .gwd-span-7vdn {
      font-size: xx-large;
    }
    #page1.gwd-pause-animation .gwd-gen-1bfjgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-p-1njf {
      transform-origin: 486.625px 26px 0px;
      left: 554px;
      top: 298px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(-15px, -29px, 0px);
    }
    #page1.gwd-pause-animation .gwd-gen-1vsqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-wvw5gwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-p-1sn6 {
      opacity: 0;
      transform: translate3d(0px, -29px, 0px);
      transform-style: preserve-3d;
      height: 24px;
    }
    .gwd-canvas-1f9a {
      position: absolute;
      width: 484.694px;
      height: 1px;
      left: 182.153px;
      top: 220.5px;
      transform-style: preserve-3d;
      opacity: 0;
      transform: translate3d(-9px, 0px, 0px) scale3d(0.141369, 1, 1);
      border: 1px solid rgb(74, 126, 187);
      background: rgb(74, 126, 187);
    }
    @keyframes gwd-gen-bznlgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(-9px, 0px, 0px) scale3d(0.141369, 1, 1);
        opacity: 0;
        height: 1px;
        animation-timing-function: linear;
      }
      27.27% {
        transform: translate3d(-8px, 0px, 0px) scale3d(0.566107, 1, 1);
        opacity: 0.5;
        height: 1px;
        animation-timing-function: linear;
      }
      63.64% {
        transform: translate3d(8px, 0px, 0px) scale3d(0.781193, 1, 1);
        opacity: 0.5;
        height: 1px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(-2px, 0px, 0px) scale3d(0.971432, 1, 1);
        opacity: 1;
        height: 1px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-bznlgwdanimation {
      animation: gwd-gen-bznlgwdanimation_gwd-keyframes 1.1s linear 7s 1 normal forwards;
    }
    @keyframes gwd-gen-11m4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-15px, -29px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-15px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11m4gwdanimation {
      animation: gwd-gen-11m4gwdanimation_gwd-keyframes 0.5s linear 9.9s 1 normal forwards;
    }
    @keyframes gwd-gen-4o9igwdanimation_gwd-keyframes {
      0% {
        font-size: 19px;
        height: 24px;
        opacity: 0;
        transform: translate3d(0px, -29px, 0px);
        top: 295px;
        left: 68px;
        animation-timing-function: linear;
      }
      91.8% {
        opacity: 0;
        transform: translate3d(0px, -29px, 0px);
        top: 295px;
        left: 68px;
        animation-timing-function: linear;
      }
      100% {
        font-size: 19px;
        height: 35px;
        opacity: 1;
        transform: translate3d(8px, 4px, 0px);
        top: 294px;
        left: 73px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-4o9igwdanimation {
      animation: gwd-gen-4o9igwdanimation_gwd-keyframes 6.1s linear 4.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1l8vgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        color: rgb(255, 255, 255);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1l8vgwdanimation {
      animation: gwd-gen-1l8vgwdanimation_gwd-keyframes 0.2s linear 2.3s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-14u8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-qwbfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1e1agwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jztgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-canvas-1ez3 {
      transform: translate3d(476px, 2px, 0px) scale3d(1, 1, 1);
    }
    @keyframes gwd-gen-rszmgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(476px, 2px, 0px) scale3d(1, 1, 1);
        height: 104px;
        opacity: 0;
        width: 1px;
        animation-timing-function: linear;
      }
      55.56% {
        transform: translate3d(477px, -33px, 0px) scale3d(0.833332, 0.354545, 1);
        height: 104px;
        opacity: 0;
        width: 0px;
        animation-timing-function: linear;
      }
      77.78% {
        transform: translate3d(477px, -17px, 0px) scale3d(0.579861, 0.617088, 1);
        height: 90px;
        opacity: 1;
        width: 1px;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(476px, -10px, 0px) scale3d(0.805555, 0.781046, 1);
        height: 97px;
        opacity: 1;
        width: 2px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-rszmgwdanimation {
      animation: gwd-gen-rszmgwdanimation_gwd-keyframes 0.9s linear 8.1s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-1279gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xhmgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-wn8ygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-15xsgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-t15ygwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-kptcgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-bznlgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1kjogwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-rszmgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-i0ejgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11m4gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-4o9igwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-uzeigwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1f37gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1l8vgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1j6ngwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-bkxfgwdanimation {
      animation-play-state: paused !important;
    }
