
    @font-face {
      font-family: HoneywellCond;
      src: url("HoneywellCond-Medium.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
     
    }
 
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 860px;
      height: 480px;
    }
    .gwd-p-9pdc {
      position: absolute;
      width: 385px;
      height: 53px;
      text-align: center;
      top: 151px;
      left: 253px;
      opacity: 0;
      background-image: none;
      background-color: rgb(244, 190, 42);
    }
    .gwd-span-aefw {
     color: rgb(0, 0, 0);
    font-family: HoneywellSansBold;
    font-size: 26px;
    }
    .gwd-p-1k0a {
      position: absolute;
      width: 335px;
      text-align: center;
      color: rgb(255, 255, 255);
      height: 18px;
      left: 277px;
      top: 172px;
      opacity: 0;
      font-size: 16px;
    }
    .gwd-span-hyam {
      color: rgb(0, 0, 0);
    }
    .gwd-p-ldyy {
      position: absolute;
      width: 412px;
      top: 292px;
      text-align: center;
      color: rgb(255, 255, 255);
      left: 239px;
      height: 39px;
      opacity: 0;
      font-size: 16px;
    }
    .gwd-span-1rb7 {
      color: rgb(0, 0, 0);
    }
    .gwd-img-1uav {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-4fvh {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
    }
    .gwd-span-1rae {
      color: rgb(10, 64, 102);
    }
    .gwd-span-i8co {
      color: rgb(10, 64, 102);
    }
    .gwd-img-1k4a {
      position: absolute;
      left: 742px;
      top: 440px;
      width: 110px;
      height: 34px;
    }
    @keyframes gwd-gen-5hzogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-5hzogwdanimation {
      animation: gwd-gen-5hzogwdanimation_gwd-keyframes 0.5s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-1vshgwdanimation_gwd-keyframes {
      0% {
        top: 172px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        top: 249px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1vshgwdanimation {
      animation: gwd-gen-1vshgwdanimation_gwd-keyframes 0.5s linear 0.5s 1 normal forwards;
    }
    @keyframes gwd-gen-uu5wgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-uu5wgwdanimation {
      animation: gwd-gen-uu5wgwdanimation_gwd-keyframes 0.3s linear 1s 1 normal forwards;
    }
    @keyframes gwd-gen-16zhgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-16zhgwdanimation {
      animation: gwd-gen-16zhgwdanimation_gwd-keyframes 0.2s linear 1.4s 1 normal forwards;
    }
 