
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
   
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-img-1l89 {
      position: absolute;
      top: 145px;
      opacity: 0;
      left: 232px;
      width: 0px;
      height: 0px;
    }
    .gwd-div-44d9 {
      position: absolute;
      width: 455px;
      left: 210px;
      top: 5px;
      height: 5px;
      background-image: none;
      background-color: rgb(36, 58, 74);
    }
    .gwd-div-15at {
      width: 360px;
      top: 54px;
      height: 3px;
      left: 498px;
      opacity: 0;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    .gwd-div-1ex6 {
      width: 360px;
      height: 3px;
      top: 14px;
      left: 0px;
      opacity: 0;
    }
    .gwd-p-9ino {
      position: absolute;
      border-image-source: none;
      border-color: rgb(0, 0, 0);
      font-size: 26px;
      width: 348px;
      height: 29px;
      transform-origin: 230.563px 6.5px 0px;
      left: 276px;
      top: 21px;
      opacity: 0;
    }
    .gwd-span-1g1b {
      color: rgb(0, 0, 0);
    }
    .gwd-span-ulcb {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1a0v {
      font-family: Roboto;
    }
    .gwd-span-e2r8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1gre {
      font-family: Roboto;
    }
    .gwd-span-fbms {
      font-family: HoneywellSanslight;
      font-size: xx-large;
    }
    .gwd-span-1nfh {
      font-size: 30px;
    }
    .gwd-span-15ng {
      font-family: Roboto;
      font-size: 30px;
    }
    .gwd-img-1m4a {
      position: absolute;
      width: 133px;
      height: 71px;
      top: -3px;
      left: 485px;
      opacity: 0;
    }
    .gwd-span-1059 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-vfwk {
      font-size: 32px;
    }
    .gwd-span-mktw {
      font-size: 35px;
    }
    .gwd-span-1sxw {
      font-size: 35px;
    }
    .gwd-span-1a51 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1qwn {
      font-size: 35px;
    }
    .gwd-span-14ma {
      font-size: 35px;
    }
    .gwd-span-1sdi {
      font-size: 35px;
    }
    .gwd-span-8g49 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-12m5 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1h4l {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1fel {
      font-size: 35px;
    }
    .gwd-span-1oo0 {
      font-size: 17px;
    }
    .gwd-span-15vu {
      color: rgb(0, 0, 0);
    }
    .gwd-span-ds77 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1tgq {
      position: absolute;
      color: rgb(0, 0, 0);
      left: 408px;
      font-size: 22px;
      top: 104px;
      opacity: 0;
      font-family: HoneywellSanslight;
    }
    .gwd-span-ahur {
      position: absolute;
      color: rgb(0, 0, 0);
      font-size: 22px;
      left: 383px;
      top: 132px;
      opacity: 0;
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-div-agtf {
      height: 100%;
    }
    .gwd-div-1agc {
      height: 100%;
    }
    .gwd-span-dnjo {
      font-size: 27px;
    }
    .gwd-span-o8q5 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-qcge {
      font-size: 26px;
    }
    .gwd-p-x6mk {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: 235.188px 19.5px 0px;
      width: 287px;
      height: 29px;
      top: 154px;
      opacity: 0;
      left: 157px;
      font-family: HoneywellSansBold;
    }
    .gwd-span-1lcq {
      font-weight: bold;
      font-size: 22px;
    }
    .gwd-img-gy03 {
      position: absolute;
      opacity: 0;
      left: 232px;
      height: 40px;
      width: 39px;
      top: 207px;
    }
    .gwd-span-9j88 {
      font-size: xx-large;
    }
    .gwd-span-4xkg {
      font-weight: bold;
    }
    .gwd-span-s6rl {
      font-weight: bold;
    }
    .gwd-img-14qg {
      position: absolute;
      top: 272px;
      opacity: 0;
      width: 0px;
      height: 0px;
      left: 232px;
    }
    .gwd-span-1px9 {
      font-size: 20px;
    }
    .gwd-span-1hgs {
      font-weight: bold;
    }
    .gwd-span-za34 {
      font-weight: bold;
    }
    .gwd-span-1edn {
      font-weight: bold;
    }
    .gwd-span-gwjd {
      font-weight: bold;
    }
    .gwd-span-uci2 {
      font-size: 20px;
    }
    .gwd-span-1eih {
      font-size: xx-large;
    }
    .gwd-span-17y8 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-b07t {
      font-size: 20px;
    }
    .gwd-span-1oas {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-3xgt {
      font-size: 20px;
    }
    .gwd-p-ksqg {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: 64.7344px 22px 0px;
      opacity: 0;
      height: 32px;
      width: 211px;
      left: 157px;
      top: 207px;
    }
    .gwd-span-1bl5 {
      font-size: 20px;
    }
    .gwd-span-1eav {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-p-15am {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: -203.797px 16.5px 0px;
      width: 271px;
      height: 26px;
      opacity: 0;
      top: 283px;
      left: 157px;
    }
    .gwd-span-1obv {
      font-size: 20px;
    }
    .gwd-span-1rn4 {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-img-1k6j {
      position: absolute;
      top: 336px;
      opacity: 0;
      width: 0px;
      height: 0px;
      left: 232px;
    }
    .gwd-p-1f67 {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: -19.5px 0px 0px;
      height: 26px;
      top: 346px;
      opacity: 0;
      left: 157px;
      width: 224px;
    }
    .gwd-span-1vow {
      font-size: 20px;
    }
    .gwd-span-c363 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-img-76em {
      position: absolute;
      top: 146px;
      opacity: 0;
      left: 620px;
      width: 0px;
      height: 0px;
    }
    .gwd-span-fcmz {
      font-size: 18px;
    }
    .gwd-span-khib {
      font-size: 18px;
    }
    .gwd-span-1r4y {
      font-size: 18px;
    }
    .gwd-span-1nps {
      font-size: 20px;
    }
    .gwd-span-1wvq {
      font-size: 18px;
    }
    .gwd-span-33gd {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-11ep {
      font-weight: bold;
    }
    .gwd-span-gmt4 {
      font-size: 18px;
    }
    .gwd-div-gn7h {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-usbt {
      font-size: 18px;
    }
    .gwd-div-17ca {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-vw01 {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-yaez {
      font-size: 18px;
      font-weight: bold;
    }
    .gwd-span-ecwy {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-obj8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1jcq {
      font-size: 16px;
    }
    .gwd-span-1l5u {
      font-size: 18px;
    }
    .gwd-div-v1h8 {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-gp3h {
      font-weight: bold;
    }
    .gwd-span-1gph {
      font-size: 18px;
    }
    .gwd-span-1209 {
      font-size: 18px;
    }
    .gwd-p-4f91 {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: 43.2344px 22px 0px;
      width: 178px;
      height: 28px;
      top: 157px;
      opacity: 0;
      left: 585px;
    }
    .gwd-span-1li5 {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-4to5 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-wboh {
      color: rgb(0, 0, 0);
      font-weight: normal;
    }
    .gwd-span-1kkh {
      color: rgb(0, 0, 0);
      font-weight: normal;
    }
    .gwd-span-1dlc {
      font-size: 18px;
    }
    .gwd-span-yuf6 {
      font-weight: bold;
      font-size: 20px;
      font-family: HoneywellSansBold;
    }
    .gwd-img-pct0 {
      position: absolute;
      top: 207px;
      opacity: 0;
      left: 620px;
      width: 0px;
      height: 0px;
    }
    .gwd-p-4dc6 {
      position: absolute;
      transform-origin: -19.5px 0px 0px;
      height: 28px;
      top: 217px;
      opacity: 0;
      left: 585px;
      width: 210px;
    }
    .gwd-span-4lob {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-xxgc {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1e10 {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-kt2i {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1e9m {
      color: rgb(0, 0, 0);
    }
    .gwd-img-l2tb {
      position: absolute;
      top: 270px;
      opacity: 0;
      left: 620px;
      width: 0px;
      height: 0px;
    }
    .gwd-p-1hhi {
      position: absolute;
      color: rgb(0, 0, 0);
      transform-origin: 51.625px 22px 0px;
      height: 29px;
      top: 281px;
      opacity: 0;
      left: 585px;
      width: 175px;
    }
    .gwd-span-1psu {
      font-size: 18px;
    }
    .gwd-span-1y2z {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-img-182m {
      position: absolute;
      width: 39px;
      height: 40px;
      left: 548px;
      top: 336px;
      opacity: 0;
    }
    .gwd-p-1unl {
      position: absolute;
      width: 147px;
      transform-origin: -14.375px 96px 0px;
      height: 27px;
      opacity: 0;
      left: 616px;
      top: 345px;
    }
    .gwd-span-1gdz {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-1kbi {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1dxv {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-1i5f {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-fna4 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-aomc {
      font-size: 18px;
    }
    .gwd-span-nog7 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1o2f {
      font-size: 18px;
    }
    .gwd-span-1ulk {
      font-weight: bold;
      font-size: 20px;
      font-family: HoneywellSansBold;
    }
    .gwd-span-oo6r {
      font-weight: bold;
    }
    .gwd-span-1r6m {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1t58 {
      color: rgb(0, 0, 0);
    }
    .gwd-div-jwxs {
      position: absolute;
      top: 85px;
      width: 40px;
      height: 2px;
      left: 253px;
      opacity: 0;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-div-1wlp {
      position: absolute;
      width: 40px;
      height: 2px;
      top: 86px;
      left: 568px;
      opacity: 0;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-enc3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-enc3gwdanimation {
      animation: gwd-gen-enc3gwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1mctgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 498px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mctgwdanimation {
      animation: gwd-gen-1mctgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1hbqgwdanimation_gwd-keyframes {
      0% {
        left: 485px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1hbqgwdanimation {
      animation: gwd-gen-1hbqgwdanimation_gwd-keyframes 0.6s linear 0.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1ljzgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 276px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 257px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ljzgwdanimation {
      animation: gwd-gen-1ljzgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1etcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 568px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 459px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1etcgwdanimation {
      animation: gwd-gen-1etcgwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-alcagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 253px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 351px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-alcagwdanimation {
      animation: gwd-gen-alcagwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-gjjugwdanimation_gwd-keyframes {
      0% {
        left: 383px;
        top: 132px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 378px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gjjugwdanimation {
      animation: gwd-gen-gjjugwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1cd9gwdanimation_gwd-keyframes {
      0% {
        left: 408px;
        top: 104px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 408px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cd9gwdanimation {
      animation: gwd-gen-1cd9gwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1gtsgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 232px;
        top: 145px;
        animation-timing-function: linear;
      }
      9.09% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 232px;
        top: 140px;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 232px;
        top: 140px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 117px;
        top: 145px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1gtsgwdanimation {
      animation: gwd-gen-1gtsgwdanimation_gwd-keyframes 1.1s linear 2s 1 normal forwards;
    }
    @keyframes gwd-gen-1g6igwdanimation_gwd-keyframes {
      0% {
        left: 157px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 157px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1g6igwdanimation {
      animation: gwd-gen-1g6igwdanimation_gwd-keyframes 0.4s linear 3.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1sfigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 39px;
        height: 40px;
        left: 232px;
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 232px;
        animation-timing-function: linear;
      }
      90% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 232px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 117px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1sfigwdanimation {
      animation: gwd-gen-1sfigwdanimation_gwd-keyframes 1s linear 3.7s 1 normal forwards;
    }
    @keyframes gwd-gen-5gp4gwdanimation_gwd-keyframes {
      0% {
        top: 207px;
        width: 211px;
        animation-timing-function: linear;
      }
      73.33% {
        top: 217px;
        opacity: 0;
        left: 157px;
        width: 309px;
        animation-timing-function: linear;
      }
      100% {
        top: 217px;
        opacity: 1;
        left: 157px;
        width: 309px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-5gp4gwdanimation {
      animation: gwd-gen-5gp4gwdanimation_gwd-keyframes 1.5s linear 3.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1xuagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 232px;
        animation-timing-function: linear;
      }
      8.33% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 232px;
        animation-timing-function: linear;
      }
      91.67% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 232px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 117px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xuagwdanimation {
      animation: gwd-gen-1xuagwdanimation_gwd-keyframes 1.2s linear 5.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1uyegwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 157px;
        top: 283px;
        animation-timing-function: linear;
      }
      3.74% {
        opacity: 1;
        left: 157px;
        top: 283px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 157px;
        top: 283px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1uyegwdanimation {
      animation: gwd-gen-1uyegwdanimation_gwd-keyframes 10.7s linear 6.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1i6jgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 232px;
        animation-timing-function: linear;
      }
      9.09% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 232px;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 232px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 117px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1i6jgwdanimation {
      animation: gwd-gen-1i6jgwdanimation_gwd-keyframes 1.1s linear 7.1s 1 normal forwards;
    }
    @keyframes gwd-gen-mqjbgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 157px;
        width: 224px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 157px;
        width: 247px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-mqjbgwdanimation {
      animation: gwd-gen-mqjbgwdanimation_gwd-keyframes 0.4s linear 8.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1syvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 620px;
        animation-timing-function: linear;
      }
      9.09% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 620px;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 620px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 545px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1syvgwdanimation {
      animation: gwd-gen-1syvgwdanimation_gwd-keyframes 1.1s linear 8.8s 1 normal forwards;
    }
    @keyframes gwd-gen-kp4cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 585px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 585px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kp4cgwdanimation {
      animation: gwd-gen-kp4cgwdanimation_gwd-keyframes 0.4s linear 10.1s 1 normal forwards;
    }
    @keyframes gwd-gen-11k3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 620px;
        animation-timing-function: linear;
      }
      9.09% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 620px;
        animation-timing-function: linear;
      }
      90.91% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 620px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 545px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11k3gwdanimation {
      animation: gwd-gen-11k3gwdanimation_gwd-keyframes 1.1s linear 10.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1bo2gwdanimation_gwd-keyframes {
      0% {
        left: 585px;
        opacity: 0;
        width: 210px;
        animation-timing-function: linear;
      }
      100% {
        left: 585px;
        opacity: 1;
        width: 210px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1bo2gwdanimation {
      animation: gwd-gen-1bo2gwdanimation_gwd-keyframes 0.4s linear 11.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1s88gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 620px;
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 620px;
        animation-timing-function: linear;
      }
      90% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 620px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 40px;
        height: 39px;
        left: 545px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1s88gwdanimation {
      animation: gwd-gen-1s88gwdanimation_gwd-keyframes 1s linear 12.2s 1 normal forwards;
    }
    @keyframes gwd-gen-hnfwgwdanimation_gwd-keyframes {
      0% {
        left: 585px;
        opacity: 0;
        width: 175px;
        animation-timing-function: linear;
      }
      100% {
        left: 585px;
        opacity: 1;
        width: 175px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hnfwgwdanimation {
      animation: gwd-gen-hnfwgwdanimation_gwd-keyframes 0.4s linear 13.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1ij6gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: 620px;
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 620px;
        animation-timing-function: linear;
      }
      90% {
        opacity: 1;
        width: 47px;
        height: 46px;
        left: 620px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 39px;
        height: 40px;
        left: 545px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ij6gwdanimation {
      animation: gwd-gen-1ij6gwdanimation_gwd-keyframes 1s linear 13.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1pwwgwdanimation_gwd-keyframes {
      0% {
        left: 585px;
        top: 345px;
        opacity: 0;
        width: 203px;
        animation-timing-function: linear;
      }
      100% {
        left: 585px;
        top: 345px;
        opacity: 1;
        width: 203px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1pwwgwdanimation {
      animation: gwd-gen-1pwwgwdanimation_gwd-keyframes 0.4s linear 15s 1 normal forwards;
    }
    .gwd-p-1twn {
      top: 417px;
      border-radius: 0px;
      left: 406px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(-6.43538px, -3.55478px, 0px) scale3d(0.891157, 0.962974, 1);
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-img-vmpm {
      left: 318px;
      top: 408px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
    }
    @keyframes gwd-gen-18whgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(16px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-18whgwdanimation {
      animation: gwd-gen-18whgwdanimation_gwd-keyframes 1s linear 15.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1i7dgwdanimation_gwd-keyframes {
      0% {
        left: 406px;
        opacity: 0;
        transform: translate3d(-6.43538px, -3.55478px, 0px) scale3d(0.891157, 0.962974, 1);
        animation-timing-function: linear;
      }
      100% {
        left: 386px;
        opacity: 1;
        transform: translate3d(-5px, -6px, 0px) scale3d(0.891157, 0.962974, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1i7dgwdanimation {
      animation: gwd-gen-1i7dgwdanimation_gwd-keyframes 0.4s linear 16.6s 1 normal forwards;
    }
    .gwd-span-dj9b {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1h8j {
      color: rgb(0, 0, 0);
    }
    .gwd-span-q4px {
      font-size: 18px;
    }
    .gwd-span-1336 {
      font-size: 18px;
    }
    .gwd-img-1ts8 {
      left: 620px;
      width: 0px;
      height: 0px;
    }
    .gwd-p-1qhk {
      left: 585px;
      width: 203px;
    }
    .gwd-img-1c3b {
      position: absolute;
      width: 88px;
      height: 34px;
      top: 520px;
      left: 0px;
    }
    .gwd-img-t5ts {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    @keyframes gwd-gen-r6bygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-r6bygwdanimation {
      animation: gwd-gen-r6bygwdanimation_gwd-keyframes 0.4s linear 17s 1 normal forwards;
    }
    .gwd-span-1ra3 {
      font-weight: normal;
    }
    .gwd-span-fsuf {
      font-family: HoneywellSansBold;
    }
    .gwd-span-nydt {
      font-family: HoneywellSansBold;
    }
    .gwd-span-w9xi {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-8c1l {
      font-family: HoneywellSansBold;
    }
    .gwd-span-19r1 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1eq7 {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-11so {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-13qu {
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-6p0t {
      font-family: HoneywellSansBold;
    }
    .gwd-span-11gb {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-1sp7 {
      font-family: HoneywellSansBold;
    }
    .gwd-span-18c4 {
      font-weight: normal;
    }
    .gwd-span-g6ex {
      font-family: HoneywellSansBold;
    }
    .gwd-span-1typ {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-1qqb {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1vl3 {
      font-weight: normal;
    }
    .gwd-span-1tus {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-vksq {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1e2s {
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-bhxl {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-img-m4em {
      position: absolute;
      top: 440px;
      left: 742px;
      width: 110px;
      height: 28px;
    }
    .gwd-span-4wfk {
      position: absolute;
      width: 14px;
      height: 8px;
      left: 408px;
      top: 72px;
    }
    .gwd-div-1dcy {
      position: absolute;
      left: 0px;
      text-align: center;
      top: 18px;
      width: 221px;
      height: 34px;
      font-family: HoneywellSansBold;
      font-size: 24px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-span-4e7o {
      left: 711px;color: rgba(192, 192, 192, 0.14);
      top: 100px;
      width: 100px;
    }
    .gwd-span-qdw7 {
      left: 736px;color: rgba(192, 192, 192, 0.14);
      top: 72px;
    }
    .gwd-span-iu49 {
      left: 60px;
      top: 100px;
      width: 119px;
      height: 15px;color: rgba(192, 192, 192, 0.14);
    }
    .gwd-span-l8kr {
      left: 85px;
      top: 72px;color: rgba(192, 192, 192, 0.14);
    }
    @keyframes gwd-gen-xzw1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 85px;
        top: 72px;
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 85px;
        top: 72px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 85px;
        top: 72px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-xzw1gwdanimation {
      animation: gwd-gen-xzw1gwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-abimgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 60px;
        top: 100px;
        width: 119px;
        height: 15px;
        animation-timing-function: linear;
      }
      18.75% {
        left: 60px;
        top: 100px;
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 60px;
        top: 100px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 60px;
        top: 100px;
        width: 119px;
        height: 24px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-abimgwdanimation {
      animation: gwd-gen-abimgwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-axe1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 736px;
        top: 72px;
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 736px;
        top: 72px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 736px;
        top: 72px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-axe1gwdanimation {
      animation: gwd-gen-axe1gwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-1obigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 711px;
        top: 100px;
        width: 100px;
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 702px;
        top: 100px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 702px;
        top: 100px;
        width: 119px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1obigwdanimation {
      animation: gwd-gen-1obigwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    .gwd-span-ki6c {
      color: rgb(0, 0, 0);
    }
    .gwd-span-19eo {
      color: rgb(0, 0, 0);
    }
