
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-44d9 {
      position: absolute;
      width: 455px;
      left: 210px;
      top: 5px;
      height: 5px;
      background-image: none;
      background-color: rgb(36, 58, 74);
    }
    .gwd-div-15at {
      width: 360px;
      top: 54px;
      height: 3px;
      left: 498px;
      opacity: 0;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    .gwd-div-1ex6 {
      width: 360px;
      height: 3px;
      top: 14px;
      left: 0px;
      opacity: 0;
    }
    .gwd-p-9ino {
      position: absolute;
      border-image-source: none;
      border-color: rgb(0, 0, 0);
      font-size: 26px;
      width: 348px;
      height: 29px;
      transform-origin: 230.563px 6.5px 0px;
      left: 276px;
      top: 21px;
      opacity: 0;
    }
    .gwd-span-1g1b {
      color: rgb(0, 0, 0);
    }
    .gwd-span-ulcb {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1a0v {
      font-family: Roboto;
    }
    .gwd-span-e2r8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1gre {
      font-family: Roboto;
    }
    .gwd-span-fbms {
      font-family: HoneywellSanslight;
      font-size: xx-large;
    }
    .gwd-span-1nfh {
      font-size: 30px;
    }
    .gwd-span-15ng {
      font-family: Roboto;
      font-size: 30px;
    }
    .gwd-img-1m4a {
      position: absolute;
      width: 133px;
      height: 71px;
      top: -3px;
      left: 485px;
      opacity: 0;
    }
    .gwd-span-1059 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-vfwk {
      font-size: 32px;
    }
    .gwd-span-mktw {
      font-size: 35px;
    }
    .gwd-span-1sxw {
      font-size: 35px;
    }
    .gwd-span-1a51 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1qwn {
      font-size: 35px;
    }
    .gwd-span-14ma {
      font-size: 35px;
    }
    .gwd-span-1sdi {
      font-size: 35px;
    }
    .gwd-span-8g49 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-12m5 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1h4l {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1fel {
      font-size: 35px;
    }
    .gwd-span-1oo0 {
      font-size: 17px;
    }
    .gwd-span-15vu {
      color: rgb(0, 0, 0);
    }
    .gwd-span-ds77 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1tgq {
      position: absolute;
      color: rgb(0, 0, 0);
      left: 408px;
      font-size: 22px;
      top: 104px;
      opacity: 0;
      font-family: HoneywellSanslight;
    }
    .gwd-span-ahur {
      position: absolute;
      color: rgb(0, 0, 0);
      font-size: 22px;
      left: 383px;
      top: 132px;
      opacity: 0;
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-div-agtf {
      height: 100%;
    }
    .gwd-div-1agc {
      height: 100%;
    }
    .gwd-span-dnjo {
      font-size: 27px;
    }
    .gwd-span-o8q5 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-qcge {
      font-size: 26px;
    }
    .gwd-span-1lcq {
      font-weight: bold;
      font-size: 22px;
    }
    .gwd-span-9j88 {
      font-size: xx-large;
    }
    .gwd-span-4xkg {
      font-weight: bold;
    }
    .gwd-span-s6rl {
      font-weight: bold;
    }
    .gwd-span-1px9 {
      font-size: 20px;
    }
    .gwd-span-1hgs {
      font-weight: bold;
    }
    .gwd-span-za34 {
      font-weight: bold;
    }
    .gwd-span-1edn {
      font-weight: bold;
    }
    .gwd-span-gwjd {
      font-weight: bold;
    }
    .gwd-span-uci2 {
      font-size: 20px;
    }
    .gwd-span-1eih {
      font-size: xx-large;
    }
    .gwd-span-17y8 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-b07t {
      font-size: 20px;
    }
    .gwd-span-1oas {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-3xgt {
      font-size: 20px;
    }
    .gwd-span-1bl5 {
      font-size: 20px;
    }
    .gwd-span-1eav {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1obv {
      font-size: 20px;
    }
    .gwd-span-1rn4 {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1vow {
      font-size: 20px;
    }
    .gwd-span-c363 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-fcmz {
      font-size: 18px;
    }
    .gwd-span-khib {
      font-size: 18px;
    }
    .gwd-span-gmt4 {
      font-size: 18px;
    }
    .gwd-div-gn7h {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-usbt {
      font-size: 18px;
    }
    .gwd-div-17ca {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-vw01 {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-yaez {
      font-size: 18px;
      font-weight: bold;
    }
    .gwd-span-ecwy {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-obj8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1jcq {
      font-size: 16px;
    }
    .gwd-span-1l5u {
      font-size: 18px;
    }
    .gwd-div-v1h8 {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1gph {
      font-size: 18px;
    }
    .gwd-span-1209 {
      font-size: 18px;
    }
    .gwd-span-1li5 {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-4to5 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-wboh {
      color: rgb(0, 0, 0);
      font-weight: normal;
    }
    .gwd-span-1kkh {
      color: rgb(0, 0, 0);
      font-weight: normal;
    }
    .gwd-span-4lob {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-xxgc {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1gdz {
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-span-1kbi {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-nog7 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1ulk {
      font-weight: bold;
      font-size: 20px;
      font-family: HoneywellSansBold;
    }
    .gwd-div-jwxs {
      position: absolute;
      top: 85px;
      width: 40px;
      height: 2px;
      left: 253px;
      opacity: 0;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-div-1wlp {
      position: absolute;
      width: 40px;
      height: 2px;
      top: 86px;
      left: 568px;
      opacity: 0;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-enc3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-enc3gwdanimation {
      animation: gwd-gen-enc3gwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1mctgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 498px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mctgwdanimation {
      animation: gwd-gen-1mctgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1hbqgwdanimation_gwd-keyframes {
      0% {
        left: 485px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1hbqgwdanimation {
      animation: gwd-gen-1hbqgwdanimation_gwd-keyframes 0.6s linear 0.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1ljzgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 276px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 257px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ljzgwdanimation {
      animation: gwd-gen-1ljzgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1etcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 568px;
        top: 86px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 786px;
        top: 86px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1etcgwdanimation {
      animation: gwd-gen-1etcgwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-alcagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 253px;
        top: 85px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 678px;
        top: 85px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-alcagwdanimation {
      animation: gwd-gen-alcagwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-gjjugwdanimation_gwd-keyframes {
      0% {
        left: 383px;
        top: 132px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 697px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gjjugwdanimation {
      animation: gwd-gen-gjjugwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1cd9gwdanimation_gwd-keyframes {
      0% {
        left: 408px;
        top: 104px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 735px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cd9gwdanimation {
      animation: gwd-gen-1cd9gwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    .gwd-p-1twn {
      top: 417px;
      border-radius: 0px;
      left: 406px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(-6.43538px, -3.55478px, 0px) scale3d(0.891157, 0.962974, 1);
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .gwd-img-vmpm {
      left: 318px;
      top: 408px;
      opacity: 0;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
    }
    @keyframes gwd-gen-18whgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      10% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      40% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      60% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(16px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-18whgwdanimation {
      animation: gwd-gen-18whgwdanimation_gwd-keyframes 1s linear 15.4s 1 normal forwards;
    }
    @keyframes gwd-gen-1i7dgwdanimation_gwd-keyframes {
      0% {
        left: 406px;
        opacity: 0;
        transform: translate3d(-6.43538px, -3.55478px, 0px) scale3d(0.891157, 0.962974, 1);
        animation-timing-function: linear;
      }
      100% {
        left: 386px;
        opacity: 1;
        transform: translate3d(-5px, -6px, 0px) scale3d(0.891157, 0.962974, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1i7dgwdanimation {
      animation: gwd-gen-1i7dgwdanimation_gwd-keyframes 0.4s linear 16.6s 1 normal forwards;
    }
    .gwd-span-dj9b {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1h8j {
      color: rgb(0, 0, 0);
    }
    .gwd-span-q4px {
      font-size: 18px;
    }
    .gwd-span-1336 {
      font-size: 18px;
    }
    .gwd-img-1c3b {
      position: absolute;
      width: 88px;
      height: 34px;
      top: 520px;
      left: 0px;
    }
    .gwd-img-t5ts {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    @keyframes gwd-gen-r6bygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-r6bygwdanimation {
      animation: gwd-gen-r6bygwdanimation_gwd-keyframes 0.4s linear 14.5s 1 normal forwards;
    }
    .gwd-span-1ra3 {
      font-weight: normal;
    }
    .gwd-span-fsuf {
      font-family: HoneywellSansBold;
    }
    .gwd-span-1eq7 {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-6p0t {
      font-family: HoneywellSansBold;
    }
    .gwd-span-11gb {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-bhxl {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-img-m4em {
      position: absolute;
      top: 440px;
      left: 742px;
      width: 110px;
      height: 28px;
    }
    .gwd-span-4wfk {
      position: absolute;
      width: 14px;
      height: 8px;
      left: 408px;
      top: 72px;
    }
    .gwd-div-1dcy {
      position: absolute;
      left: 0px;
      text-align: center;
      top: 18px;
      width: 221px;
      height: 34px;
      font-family: HoneywellSansBold;
      font-size: 24px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-span-4e7o {
      left: 711px;
      top: 100px;
      width: 100px;
      color: rgb(192, 192, 192);
    }
    .gwd-span-qdw7 {
      left: 736px;
      top: 72px;
      color: rgb(192, 192, 192);
    }
    .gwd-span-iu49 {
      left: 60px;
      top: 100px;
      width: 119px;
      height: 15px;
      color: rgb(192, 192, 192);
    }
    .gwd-span-l8kr {
      left: 85px;
      top: 72px;
      color: rgb(192, 192, 192);
    }
    @keyframes gwd-gen-xzw1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 85px;
        top: 72px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 85px;
        top: 72px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 85px;
        top: 72px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-xzw1gwdanimation {
      animation: gwd-gen-xzw1gwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-abimgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 60px;
        top: 100px;
        width: 119px;
        height: 15px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 60px;
        top: 100px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 60px;
        top: 100px;
        width: 119px;
        height: 24px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-abimgwdanimation {
      animation: gwd-gen-abimgwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-axe1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 736px;
        top: 72px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 409px;
        top: 72px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 409px;
        top: 72px;
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-axe1gwdanimation {
      animation: gwd-gen-axe1gwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-1obigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 711px;
        top: 100px;
        width: 100px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      81.25% {
        opacity: 0;
        left: 375px;
        top: 100px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 381px;
        top: 100px;
        width: 119px;
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1obigwdanimation {
      animation: gwd-gen-1obigwdanimation_gwd-keyframes 1.6s linear 0s 1 normal forwards;
    }
    .gwd-img-162c {
      position: absolute;
      left: 162px;
      width: 71px;
      height: 34px;
      top: 149px;
      opacity: 0;
    }
    .gwd-img-13rs {
      position: absolute;
      left: 162px;
      width: 40px;
      height: 33px;
      top: 215px;
      opacity: 0;
    }
    .gwd-img-1yyg {
      position: absolute;
      left: 162px;
      width: 40px;
      height: 23px;
      top: 350px;
      opacity: 0;
    }
    .gwd-img-1s65 {
      position: absolute;
      left: 591px;
      height: 48px;
      width: 49px;
      top: 141px;
      opacity: 0;
    }
    .gwd-img-46cf {
      position: absolute;
      left: 591px;
      width: 46px;
      height: 46px;
      top: 204px;
      opacity: 0;
    }
    .gwd-img-1e22 {
      position: absolute;
      left: 591px;
      width: 46px;
      height: 46px;
      top: 267px;
      opacity: 0;
      transform: translate3d(0px, 0px, 0px);
    }
    @keyframes gwd-gen-we3tgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 71px;
        height: 34px;
        left: 162px;
        top: 149px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 108px;
        height: 41px;
        left: 98px;
        top: 179px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-we3tgwdanimation {
      animation: gwd-gen-we3tgwdanimation_gwd-keyframes 0.3s linear 3.1s 1 normal forwards;
    }
    @keyframes gwd-gen-1df1gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 40px;
        height: 23px;
        left: 162px;
        top: 350px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 105px;
        height: 39px;
        left: 97px;
        top: 303px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1df1gwdanimation {
      animation: gwd-gen-1df1gwdanimation_gwd-keyframes 0.3s linear 8.5s 1 normal forwards;
    }
    @keyframes gwd-gen-t9mwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 141px;
        left: 591px;
        width: 49px;
        height: 48px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 271px;
        left: 381px;
        width: 100px;
        height: 100px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-t9mwgwdanimation {
      animation: gwd-gen-t9mwgwdanimation_gwd-keyframes 0.3s linear 10.1s 1 normal forwards;
    }
    @keyframes gwd-gen-1dxvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 46px;
        height: 46px;
        left: 591px;
        top: 204px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 109px;
        height: 91px;
        left: 658px;
        top: 275px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1dxvgwdanimation {
      animation: gwd-gen-1dxvgwdanimation_gwd-keyframes 0.3s linear 13.3s 1 normal forwards;
    }
    @keyframes gwd-gen-lt33gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 46px;
        height: 46px;
        transform: translate3d(0px, 0px, 0px);
        left: 591px;
        top: 267px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 87px;
        height: 87px;
        transform: translate3d(0px, 0px, 0px);
        left: 672px;
        top: 162px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-lt33gwdanimation {
      animation: gwd-gen-lt33gwdanimation_gwd-keyframes 0.3s linear 11.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1h0hgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        width: 40px;
        height: 33px;
        left: 162px;
        top: 215px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        width: 93.37px;
        height: 93px;
        left: 384px;
        top: 158px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1h0hgwdanimation {
      animation: gwd-gen-1h0hgwdanimation_gwd-keyframes 0.3s linear 4.9s 1 normal forwards;
    }
 