
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
   
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 860px;
      height: 480px;
    }
    .gwd-img-9g9t {
      position: absolute;
      top: 100px;
      width: 235px;
      height: 56px;
      left: 316px;
      opacity: 0;
    }
    .gwd-div-hfqm {
      position: absolute;
      top: 20px;
      height: 65px;
      width: 4px;
      left: 328px;
      opacity: 0;
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .gwd-span-1t2d {
      position: absolute;
      height: 47px;
      color: rgb(0, 0, 0);
      font-size: 19px;
      font-family: HoneywellSanslight;
      text-align: left;
      top: 33px;
      left: 0px;
      width: 300px;
      opacity: 0;
      line-height: 28px;
    }
    .gwd-div-ek98 {
      position: absolute;
      left: 433px;
      height: 45px;
      top: 176px;
      width: 2px;
      background-image: none;
      background-color: rgb(10, 64, 102);
    }
    .gwd-div-15zn {
      position: absolute;
      top: 222px;
      width: 211px;
      left: 221px;
      height: 2px;
      background-image: none;
      background-color: rgb(10, 64, 102);
    }
    .gwd-div-81s2 {
      top: 204px;
      left: 434px;
      width: 0px;
    }
    .gwd-div-1nja {
      left: 220px;
      top: 222px;
      height: 60px;
    }
    .gwd-div-1gb9 {
      left: 645px;
      top: 204px;
      height: 1px;
    }
    .gwd-span-1qiw {
      position: absolute;
      width: 153.231px;
      height: 36.5769px;
      left: 148px;
      top: 289px;
      font-size: 31px;
      line-height: 1.4;
    }
    .gwd-span-1hg5 {
      text-align: center;
      transform-origin: 114px -2px 0px;
      font-size: 24px;
      top: 266px;
      width: 310px;
      left: 500px;
      opacity: 0;
      height: 29px;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
      background-image: none;
      background-color: rgb(255, 255, 255);
    }
    .gwd-span-1jvv {
      text-align: center;
      top: 266px;
      font-size: 24px;
      height: 29px;
      opacity: 0;
      color: rgb(0, 0, 0);
      font-family: HoneywellSanslight;
      width: 300px;
      background-image: none;
      background-color: rgba(255, 198, 39, 0);
    }
    .gwd-span-1kut {
      position: absolute;
      transform-origin: 218.047px 24.4688px 0px;
      height: 22px;
      left: 245px;
      top: 423px;
      width: 422px;
      opacity: 0;
      font-size: 15px;
      color: rgb(238, 49, 36);
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
    }
    .gwd-div-b4xe {
      top: 158px;
      height: 0px;
    }
    .gwd-div-3mut {
      top: 204px;
      height: 1px;
    }
    .gwd-div-100e {
      top: 204px;
      width: 0px;
      left: 432px;
    }
    .gwd-div-1k11 {
      position: absolute;
      height: 73.8462px;
      top: 298.731px;
      left: 179px;
      width: 1px;
      background-image: none;
      background-color: rgb(10, 64, 102);
    }
    .gwd-div-1m3s {
      position: absolute;
      left: 182px;
      top: 325px;
      height: 1px;
      width: 10px;
      background-image: none;
      background-color: rgb(10, 64, 102);
    }
    .gwd-div-x1yk {
      top: 358px;
      width: 0px;
    }
    .gwd-span-an5i {
      position: absolute;
      width: 188.423px;
      height: 30.5px;
      color: rgb(255, 255, 255);
      top: 316px;
      left: 198px;
    }
    .gwd-span-1fy4 {
      top: 348px;
      color: rgb(0, 0, 0);
      width: 205px;
      left: 215px;
      opacity: 0;
    }
    .gwd-div-9jcy {
      height: 55px;
      left: 559px;
      top: 305.731px;
      opacity: 0;
    }
    .gwd-div-1o8b {
      left: 562px;
      top: 332px;
      opacity: 0;
    }
    .gwd-span-10h0 {
      color: rgb(0, 0, 0);
      left: 575px;
      width: 204px;
      top: 324px;
      opacity: 0;
    }
    .gwd-span-1188 {
      color: rgb(0, 0, 0);
      width: 203px;
      left: 207px;
      opacity: 0;
    }
    .gwd-div-1k93 {
      position: absolute;
      top: 82px;
      height: 2px;
      left: 334px;
      width: 0px;
      background-image: none;
      background-color: rgb(137, 134, 134);
    }
    .gwd-span-1cvo {
      color: rgb(10, 64, 102);
    }
    .gwd-span-omfl {
      font-family: HoneywellSansBold;
    }
    @keyframes gwd-gen-1kocgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 328px;
        width: 4px;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 1;
        left: 328px;
        width: 4px;
        animation-timing-function: linear;
      }
      36.36% {
        opacity: 0;
        left: 328px;
        width: 4px;
        animation-timing-function: linear;
      }
      54.55% {
        opacity: 1;
        left: 328px;
        width: 4px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 0px;
        width: 332px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1kocgwdanimation {
      animation: gwd-gen-1kocgwdanimation_gwd-keyframes 1.1s linear 0.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1o8hgwdanimation_gwd-keyframes {
      0% {
        left: 0px;
        width: 300px;
        opacity: 0;
        top: 33px;
        animation-timing-function: linear;
      }
      100% {
        left: 335px;
        width: 237px;
        opacity: 1;
        top: 20px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1o8hgwdanimation {
      animation: gwd-gen-1o8hgwdanimation_gwd-keyframes 0.4s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-smvvgwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 524px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-smvvgwdanimation {
      animation: gwd-gen-smvvgwdanimation_gwd-keyframes 0.4s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-aq1ogwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-aq1ogwdanimation {
      animation: gwd-gen-aq1ogwdanimation_gwd-keyframes 0.3s linear 1.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1034gwdanimation_gwd-keyframes {
      0% {
        height: 0px;
        animation-timing-function: linear;
      }
      100% {
        height: 45px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1034gwdanimation {
      animation: gwd-gen-1034gwdanimation_gwd-keyframes 0.2s linear 2s 1 normal forwards;
    }
    @keyframes gwd-gen-1qr1gwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 211px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1qr1gwdanimation {
      animation: gwd-gen-1qr1gwdanimation_gwd-keyframes 0.3s linear 2.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1n2hgwdanimation_gwd-keyframes {
      0% {
        left: 432px;
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        left: 222px;
        width: 211px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1n2hgwdanimation {
      animation: gwd-gen-1n2hgwdanimation_gwd-keyframes 0.3s linear 2.2s 1 normal forwards;
    }
    @keyframes gwd-gen-krd0gwdanimation_gwd-keyframes {
      0% {
        height: 1px;
        top: 204px;
        animation-timing-function: linear;
      }
      100% {
        height: 54px;
        top: 204px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-krd0gwdanimation {
      animation: gwd-gen-krd0gwdanimation_gwd-keyframes 0.3s linear 2.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1xzogwdanimation_gwd-keyframes {
      0% {
        height: 1px;
        top: 204px;
        animation-timing-function: linear;
      }
      100% {
        height: 54px;
        top: 204px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xzogwdanimation {
      animation: gwd-gen-1xzogwdanimation_gwd-keyframes 0.3s linear 2.5s 1 normal forwards;
    }
    @keyframes gwd-gen-ng4agwdanimation_gwd-keyframes {
      0% {
        width: 300px;
        height: 29px;
        opacity: 0;
        animation-timing-function: linear;
        background-color: rgba(255, 198, 39, 0);
      }
      100% {
        width: 300px;
        height: 29px;
        opacity: 1;
        animation-timing-function: linear;
        background-color: rgba(255, 198, 39, 0);
      }
    }
    #page1.gwd-play-animation .gwd-gen-ng4agwdanimation {
      animation: gwd-gen-ng4agwdanimation_gwd-keyframes 0.3s linear 2.8s 1 normal forwards;
    }
    .gwd-div-1whs {
      height: 0px;
    }
    @keyframes gwd-gen-1ovagwdanimation_gwd-keyframes {
      0% {
        height: 0px;
        animation-timing-function: linear;
      }
      20% {
        height: 26px;
        animation-timing-function: linear;
      }
      80% {
        height: 26px;
        animation-timing-function: linear;
      }
      100% {
        height: 74px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ovagwdanimation {
      animation: gwd-gen-1ovagwdanimation_gwd-keyframes 1s linear 3.8s 1 normal forwards;
    }
    .gwd-div-1uzw {
      width: 0px;
    }
    @keyframes gwd-gen-10zagwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 10px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-10zagwdanimation {
      animation: gwd-gen-10zagwdanimation_gwd-keyframes 0.2s linear 4s 1 normal forwards;
    }
    @keyframes gwd-gen-ljdlgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 207px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 198px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-ljdlgwdanimation {
      animation: gwd-gen-ljdlgwdanimation_gwd-keyframes 0.4s linear 4.2s 1 normal forwards;
    }
    @keyframes gwd-gen-1w98gwdanimation_gwd-keyframes {
      0% {
        width: 0px;
        animation-timing-function: linear;
      }
      100% {
        width: 10px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1w98gwdanimation {
      animation: gwd-gen-1w98gwdanimation_gwd-keyframes 0.1s linear 4.6s 1 normal forwards;
    }
    @keyframes gwd-gen-hmlagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 215px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 198px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-hmlagwdanimation {
      animation: gwd-gen-hmlagwdanimation_gwd-keyframes 0.4s linear 4.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1nghgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        height: 29px;
        width: 310px;
        left: 500px;
        color: rgb(0, 0, 0);
        top: 266px;
        animation-timing-function: linear;
        background-color: rgb(255, 255, 255);
      }
      13.33% {
        opacity: 1;
        height: 29px;
        width: 326px;
        left: 489px;
        color: rgb(255, 255, 255);
        top: 266px;
        animation-timing-function: linear;
        background-color: rgb(255, 255, 255);
      }
      26.67% {
        opacity: 1;
        height: 29px;
        width: 310px;
        left: 500px;
        color: rgb(0, 0, 0);
        top: 266px;
        animation-timing-function: linear;
        background-color: rgb(255, 255, 255);
      }
      93.33% {
        opacity: 1;
        height: 29px;
        width: 324.531px;
        left: 490px;
        color: rgb(0, 0, 0);
        top: 266px;
        animation-timing-function: linear;
        background-color: rgb(255, 255, 255);
      }
      100% {
        opacity: 1;
        height: 29px;
        width: 326px;
        left: 489px;
        color: rgb(0, 0, 0);
        top: 266px;
        animation-timing-function: linear;
        background-color: rgb(255, 198, 39);
      }
    }
    #page1.gwd-play-animation .gwd-gen-1nghgwdanimation {
      animation: gwd-gen-1nghgwdanimation_gwd-keyframes 1.5s linear 5.1s 1 normal forwards;
    }
    @keyframes gwd-gen-wrihgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-wrihgwdanimation {
      animation: gwd-gen-wrihgwdanimation_gwd-keyframes 0.2s linear 5.9s 1 normal forwards;
    }
    @keyframes gwd-gen-6f1xgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-6f1xgwdanimation {
      animation: gwd-gen-6f1xgwdanimation_gwd-keyframes 0.2s linear 5.7s 1 normal forwards;
    }
    @keyframes gwd-gen-1x7wgwdanimation_gwd-keyframes {
      0% {
        font-size: 15px;
        color: rgb(238, 49, 36);
        width: 422px;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      96.97% {
        opacity: 0;
        width: 633px;
        transform: translate3d(-29px, -4px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        font-size: 15px;
        color: rgb(238, 49, 36);
        width: 633px;
        transform: translate3d(-28px, -19px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1x7wgwdanimation {
      animation: gwd-gen-1x7wgwdanimation_gwd-keyframes 6.6s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-91ulgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 0.99;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-91ulgwdanimation {
      animation: gwd-gen-91ulgwdanimation_gwd-keyframes 0.4s linear 6s 1 normal forwards;
    }
    .gwd-img-noq8 {
      position: absolute;
      width: 69px;
      height: 31px;
      top: 520px;
      left: 790px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-1a5c {
      position: absolute;
      width: 88px;
      height: 34px;
      top: 520px;
      left: 0px;
    }
    @keyframes gwd-gen-1ea5gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ea5gwdanimation {
      animation: gwd-gen-1ea5gwdanimation_gwd-keyframes 0.4s linear 6.6s 1 normal forwards;
    }
    .gwd-span-yqdy {
      font-size: 23px;
    }
    .gwd-img-4l6d {
      position: absolute;
      width: 110px;
      height: 28px;
      top: 440px;
      left: 740px;
    }
