
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }
 
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-44d9 {
      position: absolute;
      width: 455px;
      left: 210px;
      top: 5px;
      height: 5px;
      background-image: none;
      background-color: rgb(36, 58, 74);
    }
    .gwd-div-15at {
      width: 360px;
      top: 54px;
      height: 3px;
      left: 498px;
      opacity: 0;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    .gwd-div-1ex6 {
      width: 360px;
      height: 3px;
      top: 14px;
      left: 0px;
      opacity: 0;
    }
    .gwd-p-9ino {
      position: absolute;
      border-image-source: none;
      border-color: rgb(255, 255, 255);
      font-size: 26px;
      width: 348px;
      height: 29px;
      transform-origin: 230.563px 6.5px 0px;
      left: 261px;
      top: 21px;
      opacity: 0;
    }
    .gwd-span-1g1b {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ulcb {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1a0v {
      font-family: Roboto;
    }
    .gwd-span-e2r8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1gre {
      font-family: Roboto;
    }
    .gwd-span-fbms {
      font-family: HoneywellSanslight;
      font-size: xx-large;
    }
    .gwd-span-1nfh {
      font-size: 30px;
    }
    .gwd-span-15ng {
      font-family: Roboto;
      font-size: 30px;
    }
    .gwd-img-1m4a {
      position: absolute;
      width: 133px;
      height: 71px;
      top: -3px;
      left: 485px;
      opacity: 0;
    }
    .gwd-span-1059 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-vfwk {
      font-size: 32px;
    }
    .gwd-span-mktw {
      font-size: 35px;
    }
    .gwd-span-1sxw {
      font-size: 35px;
    }
    .gwd-span-1a51 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1qwn {
      font-size: 35px;
    }
    .gwd-span-14ma {
      font-size: 35px;
    }
    .gwd-span-1sdi {
      font-size: 35px;
    }
    .gwd-span-8g49 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-12m5 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1h4l {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1fel {
      font-size: 35px;
    }
    .gwd-span-1oo0 {
      font-size: 17px;
    }
    .gwd-span-15vu {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ds77 {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1tgq {
      position: absolute;
      left: 408px;
      font-size: 22px;
      top: 104px;
      opacity: 0;
      font-family: HoneywellSanslight;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ahur {
      position: absolute;
      font-size: 22px;
      top: 132px;
      opacity: 0;
      font-family: HoneywellSansBold;
      font-weight: normal;
      left: 380px;
      color: rgb(0, 0, 0);
    }
    .gwd-div-agtf {
      height: 100%;
    }
    .gwd-div-1agc {
      height: 100%;
    }
    .gwd-span-dnjo {
      font-size: 27px;
    }
    .gwd-span-o8q5 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-qcge {
      font-size: 26px;
    }
    .gwd-span-1lcq {
      font-weight: bold;
      font-size: 22px;
    }
    .gwd-span-9j88 {
      font-size: xx-large;
    }
    .gwd-span-4xkg {
      font-weight: bold;
    }
    .gwd-span-s6rl {
      font-weight: bold;
    }
    .gwd-span-1px9 {
      font-size: 20px;
    }
    .gwd-span-1hgs {
      font-weight: bold;
    }
    .gwd-span-za34 {
      font-weight: bold;
    }
    .gwd-span-1edn {
      font-weight: bold;
    }
    .gwd-span-gwjd {
      font-weight: bold;
    }
    .gwd-span-uci2 {
      font-size: 20px;
    }
    .gwd-span-1eih {
      font-size: xx-large;
    }
    .gwd-span-17y8 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-b07t {
      font-size: 20px;
    }
    .gwd-span-1oas {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-3xgt {
      font-size: 20px;
    }
    .gwd-span-1bl5 {
      font-size: 20px;
    }
    .gwd-span-1eav {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1obv {
      font-size: 20px;
    }
    .gwd-span-1rn4 {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1vow {
      font-size: 20px;
    }
    .gwd-span-c363 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-fcmz {
      font-size: 18px;
    }
    .gwd-span-khib {
      font-size: 18px;
    }
    .gwd-span-1r4y {
      font-size: 18px;
    }
    .gwd-span-1wvq {
      font-size: 18px;
    }
    .gwd-span-gmt4 {
      font-size: 18px;
    }
    .gwd-div-gn7h {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-usbt {
      font-size: 18px;
    }
    .gwd-div-17ca {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-vw01 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-yaez {
      font-size: 18px;
      font-weight: bold;
    }
    .gwd-span-ecwy {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-obj8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1jcq {
      font-size: 16px;
    }
    .gwd-span-1l5u {
      font-size: 18px;
    }
    .gwd-div-v1h8 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1gph {
      font-size: 18px;
    }
    .gwd-span-1209 {
      font-size: 18px;
    }
    .gwd-span-1li5 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-4to5 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-wboh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1kkh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1dlc {
      font-size: 18px;
    }
    .gwd-span-4lob {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-xxgc {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1psu {
      font-size: 18px;
    }
    .gwd-span-1gdz {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-1kbi {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1dxv {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-aomc {
      font-size: 18px;
    }
    .gwd-span-1o2f {
      font-size: 18px;
    }
    .gwd-div-jwxs {
      position: absolute;
      opacity: 0;
      top: 72px;
      width: 16.68px;
      height: 1.48px;
      left: 381px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-div-1wlp {
      position: absolute;
      opacity: 0;
      width: 16.68px;
      height: 1.48px;
      top: 72.74px;
      left: 512px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-enc3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-enc3gwdanimation {
      animation: gwd-gen-enc3gwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1mctgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 498px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mctgwdanimation {
      animation: gwd-gen-1mctgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1ljzgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 261px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 256px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ljzgwdanimation {
      animation: gwd-gen-1ljzgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1etcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 512px;
        top: 72.74px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 766px;
        top: 86px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1etcgwdanimation {
      animation: gwd-gen-1etcgwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-alcagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 381px;
        top: 72px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 686px;
        top: 85px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-alcagwdanimation {
      animation: gwd-gen-alcagwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-gjjugwdanimation_gwd-keyframes {
      0% {
        left: 452px;
        top: 106.77px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 681px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gjjugwdanimation {
      animation: gwd-gen-gjjugwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1cd9gwdanimation_gwd-keyframes {
      0% {
        left: 446px;
        top: 86.05px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 717px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cd9gwdanimation {
      animation: gwd-gen-1cd9gwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    .gwd-img-16a6 {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-13vk {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
    }
    @keyframes gwd-gen-1rqrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1rqrgwdanimation {
      animation: gwd-gen-1rqrgwdanimation_gwd-keyframes 0.4s linear 4.4s 1 normal forwards;
    }
    .gwd-span-1c21 {
      font-size: 22px;
    }
    .gwd-span-1ouc {
      color: rgb(0, 0, 0);
    }
    .gwd-span-n5v4 {
      color: rgb(0, 0, 0);
    }
    .gwd-img-1x4m {
      position: absolute;
      top: 440px;
      height: 28px;
      width: 110px;
      left: 742px;
    }
    .gwd-span-1x5q {
      color: rgb(0, 0, 0);
    }
    .gwd-span-wkwo {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1014 {
      position: absolute;
      font-family: HoneywellSansBold;
      left: 0px;
      width: 221px;
      text-align: center;
      opacity: 0;
      top: 18px;
      height: 34px;
      font-size: 24px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-kxm9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kxm9gwdanimation {
      animation: gwd-gen-kxm9gwdanimation_gwd-keyframes 0.2s linear 0s 1 normal forwards;
    }
    .gwd-span-s0wi {
      font-size: 16px;
    }
    .gwd-span-1pyi {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ith5 {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1lnr {
      font-size: 20px;
    }
    .gwd-span-ozp5 {
      font-size: 25px;
    }
    @keyframes gwd-gen-1hbqgwdanimation_gwd-keyframes {
      0% {
        left: 485px;
        opacity: 0;
        animation-timing-function: linear;
      }
      66.67% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1hbqgwdanimation {
      animation: gwd-gen-1hbqgwdanimation_gwd-keyframes 0.9s linear 0.7s 1 normal forwards;
    }
    .gwd-span-1qgm {
      top: 72px;
      left: 417px;
    }
    .gwd-span-1qaw {
      top: 100px;
      left: 389px;
      color: rgb(177, 176, 176);
    }
    @keyframes gwd-gen-nit8gwdanimation_gwd-keyframes {
      0% {
        left: 417px;
        top: 72px;
        opacity: 0;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      72.22% {
        left: 414px;
        top: 72px;
        opacity: 0;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      100% {
        left: 414px;
        top: 72px;
        opacity: 1;
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-nit8gwdanimation {
      animation: gwd-gen-nit8gwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-a7czgwdanimation_gwd-keyframes {
      0% {
        left: 389px;
        top: 100px;
        opacity: 0;
        color: rgb(177, 176, 176);
        animation-timing-function: linear;
      }
      72.22% {
        left: 386px;
        top: 100px;
        opacity: 0;
        color: rgb(177, 176, 176);
        animation-timing-function: linear;
      }
      100% {
        left: 386px;
        top: 100px;
        opacity: 1;
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-a7czgwdanimation {
      animation: gwd-gen-a7czgwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    .gwd-span-1u6o {
      top: 72px;
      left: 107px;
    }
    .gwd-span-8elk {
      top: 100px;
      left: 72px;
      color: rgb(177, 176, 176);
    }
    @keyframes gwd-gen-1t65gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 107px;
        top: 72px;
        color: rgb(0, 0, 0);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 107px;
        top: 72px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1t65gwdanimation {
      animation: gwd-gen-1t65gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1k01gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 72px;
        top: 100px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 81px;
        top: 100px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1k01gwdanimation {
      animation: gwd-gen-1k01gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    .gwd-span-9no5 {
      width: 1px;
      height: 1px;
      top: 106.77px;
      left: 452px;
    }
    .gwd-span-3vvu {
      width: 1px;
      height: 1px;
      top: 86.05px;
      left: 446px;
    }
    .gwd-img-soid {
      position: absolute;
      width: 100px;
      height: 24.1px;
      left: 150px;
      opacity: 0;
      top: 179px;
    }
    .gwd-img-pz6u {
      position: absolute;
      width: 100px;
      height: 18.95px;
      left: 594px;
      opacity: 0;
      top: 182px;
    }
    .gwd-img-lowx {
      position: absolute;
      width: 100px;
      height: 21px;
      left: 150px;
      opacity: 0;
      top: 260px;
    }
    .gwd-img-1mgu {
      position: absolute;
      width: 100px;
      height: 100px;
      left: 385px;
      opacity: 0;
      top: 223px;
    }
    .gwd-img-h1pi {
      position: absolute;
      width: 100px;
      height: 23.5px;
      left: 596px;
      opacity: 0;
      top: 259px;
    }
    @keyframes gwd-gen-1gzngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 259px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 259px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1gzngwdanimation {
      animation: gwd-gen-1gzngwdanimation_gwd-keyframes 0.3s linear 2.9s 1 normal forwards;
    }
    @keyframes gwd-gen-16xwgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 223px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 223px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-16xwgwdanimation {
      animation: gwd-gen-16xwgwdanimation_gwd-keyframes 0.3s linear 2.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1k0ngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 260px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 260px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1k0ngwdanimation {
      animation: gwd-gen-1k0ngwdanimation_gwd-keyframes 0.3s linear 2.3s 1 normal forwards;
    }
    @keyframes gwd-gen-zoi2gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 182px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 182px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-zoi2gwdanimation {
      animation: gwd-gen-zoi2gwdanimation_gwd-keyframes 0.3s linear 2s 1 normal forwards;
    }
    @keyframes gwd-gen-1of9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 179px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 180px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1of9gwdanimation {
      animation: gwd-gen-1of9gwdanimation_gwd-keyframes 0.3s linear 1.4s 1 normal forwards;
    }
    .gwd-img-xywv {
      position: absolute;
      width: 80px;
      height: 80px;
      transform-origin: 40px 40px 0px;
      left: 265px;
      opacity: 0;
      top: 347px;
    }
    @keyframes gwd-gen-1q9agwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 347px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 346px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1q9agwdanimation {
      animation: gwd-gen-1q9agwdanimation_gwd-keyframes 0.3s linear 3.2s 1 normal forwards;
    }
    .gwd-img-tdz1 {
      position: absolute;
      left: 383px;
      width: 100px;
      height: 47px;
      opacity: 0;
      top: 156px;
    }
    @keyframes gwd-gen-167agwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        top: 156px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        top: 156px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-167agwdanimation {
      animation: gwd-gen-167agwdanimation_gwd-keyframes 0.3s linear 1.7s 1 normal forwards;
    }
    .gwd-img-1fkj {
      position: absolute;
      opacity: 0;
      transform-style: preserve-3d;
      left: 424px;
      top: 254px;
      width: 349px;
      height: 130.88px;
      transform: translate3d(0px, 56px, 0px);
    }
    @keyframes gwd-gen-1sedgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 56px, 0px);
        width: 349px;
        height: 130.88px;
        top: 258px;
        left: 424px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 56px, 0px);
        width: 349px;
        height: 130.88px;
        top: 258px;
        left: 424px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1sedgwdanimation {
      animation: gwd-gen-1sedgwdanimation_gwd-keyframes 0.3s linear 3.6s 1 normal forwards;
    }
