
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-img-1l89 {
      position: absolute;
      left: 117px;
      opacity: 0;
      transform-style: preserve-3d;
      width: 300px;
      height: 44px;
      transform: translate3d(-31px, 2px, 0px) scale3d(0.311848, 0.311848, 1);
      top: 160px;
    }
    .gwd-div-44d9 {
      position: absolute;
      width: 455px;
      left: 210px;
      top: 5px;
      height: 5px;
      background-image: none;
      background-color: rgb(36, 58, 74);
    }
    .gwd-div-15at {
      width: 360px;
      top: 54px;
      height: 3px;
      left: 498px;
      opacity: 0;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    .gwd-div-1ex6 {
      width: 360px;
      height: 3px;
      top: 14px;
      left: 0px;
      opacity: 0;
    }
    .gwd-p-9ino {
      position: absolute;
      border-image-source: none;
      border-color: rgb(255, 255, 255);
      font-size: 26px;
      width: 348px;
      height: 29px;
      transform-origin: 230.563px 6.5px 0px;
      left: 261px;
      top: 21px;
      opacity: 0;
      line-height: 1.3;
    }
    .gwd-span-1g1b {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ulcb {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1a0v {
      font-family: Roboto;
    }
    .gwd-span-e2r8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1gre {
      font-family: Roboto;
    }
    .gwd-span-fbms {
      font-family: HoneywellSanslight;
      font-size: xx-large;
    }
    .gwd-span-1nfh {
      font-size: 30px;
    }
    .gwd-span-15ng {
      font-family: Roboto;
      font-size: 30px;
    }
    .gwd-img-1m4a {
      position: absolute;
      width: 133px;
      height: 71px;
      top: -3px;
      left: 485px;
      opacity: 0;
    }
    .gwd-span-1059 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-vfwk {
      font-size: 32px;
    }
    .gwd-span-mktw {
      font-size: 35px;
    }
    .gwd-span-1sxw {
      font-size: 35px;
    }
    .gwd-span-1a51 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1qwn {
      font-size: 35px;
    }
    .gwd-span-14ma {
      font-size: 35px;
    }
    .gwd-span-1sdi {
      font-size: 35px;
    }
    .gwd-span-8g49 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-12m5 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1h4l {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1fel {
      font-size: 35px;
    }
    .gwd-span-1oo0 {
      font-size: 17px;
    }
    .gwd-span-15vu {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ds77 {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1tgq {
      position: absolute;
      left: 408px;
      font-size: 22px;
      top: 104px;
      opacity: 0;
      font-family: HoneywellSanslight;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ahur {
      position: absolute;
      font-size: 22px;
      top: 132px;
      opacity: 0;
      font-family: HoneywellSansBold;
      font-weight: normal;
      left: 380px;
      color: rgb(0, 0, 0);
    }
    .gwd-div-agtf {
      height: 100%;
    }
    .gwd-div-1agc {
      height: 100%;
    }
    .gwd-span-dnjo {
      font-size: 27px;
    }
    .gwd-span-o8q5 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-qcge {
      font-size: 26px;
    }
    .gwd-span-1lcq {
      font-weight: bold;
      font-size: 22px;
    }
    .gwd-img-gy03 {
      position: absolute;
      left: 117px;
      opacity: 0;
      width: 150px;
      height: 42px;
      transform-style: preserve-3d;
      transform: translate3d(43px, 27px, 0px) scale3d(0.673333, 0.673333, 1);
      top: 224px;
    }
    .gwd-span-9j88 {
      font-size: xx-large;
    }
    .gwd-span-4xkg {
      font-weight: bold;
    }
    .gwd-span-s6rl {
      font-weight: bold;
    }
    .gwd-img-14qg {
      position: absolute;
      left: 117px;
      opacity: 0;
      transform-style: preserve-3d;
      width: 250px;
      height: 233px;
      transform-origin: 118.39px 233px 0px;
      top: 157px;
      transform: translate3d(356px, -164px, 0px) scale3d(0.302575, 0.302575, 1);
    }
    .gwd-span-1px9 {
      font-size: 20px;
    }
    .gwd-span-1hgs {
      font-weight: bold;
    }
    .gwd-span-za34 {
      font-weight: bold;
    }
    .gwd-span-1edn {
      font-weight: bold;
    }
    .gwd-span-gwjd {
      font-weight: bold;
    }
    .gwd-span-uci2 {
      font-size: 20px;
    }
    .gwd-span-1eih {
      font-size: xx-large;
    }
    .gwd-span-17y8 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-b07t {
      font-size: 20px;
    }
    .gwd-span-1oas {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-3xgt {
      font-size: 20px;
    }
    .gwd-span-1bl5 {
      font-size: 20px;
    }
    .gwd-span-1eav {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1obv {
      font-size: 20px;
    }
    .gwd-span-1rn4 {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1vow {
      font-size: 20px;
    }
    .gwd-span-c363 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-img-76em {
      position: absolute;
      opacity: 0;
      width: 200px;
      height: 52px;
      transform-style: preserve-3d;
      top: 179px;
      left: 249px;
      transform: translate3d(-92px, 164px, 0px) scale3d(0.755, 0.755, 1);
    }
    .gwd-span-fcmz {
      font-size: 18px;
    }
    .gwd-span-khib {
      font-size: 18px;
    }
    .gwd-span-1r4y {
      font-size: 18px;
    }
    .gwd-span-1wvq {
      font-size: 18px;
    }
    .gwd-span-gmt4 {
      font-size: 18px;
    }
    .gwd-div-gn7h {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-usbt {
      font-size: 18px;
    }
    .gwd-div-17ca {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-vw01 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-yaez {
      font-size: 18px;
      font-weight: bold;
    }
    .gwd-span-ecwy {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-obj8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1jcq {
      font-size: 16px;
    }
    .gwd-span-1l5u {
      font-size: 18px;
    }
    .gwd-div-v1h8 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1gph {
      font-size: 18px;
    }
    .gwd-span-1209 {
      font-size: 18px;
    }
    .gwd-span-1li5 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-4to5 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-wboh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1kkh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1dlc {
      font-size: 18px;
    }
    .gwd-img-pct0 {
      position: absolute;
      top: 207px;
      left: 546px;
      opacity: 0;
      width: 200px;
      transform-style: preserve-3d;
      height: 42px;
      transform: translate3d(-50px, 56px, 0px) scale3d(0.749881, 0.749881, 1);
    }
    .gwd-span-4lob {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-xxgc {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-img-l2tb {
      position: absolute;
      left: 547px;
      top: 270px;
      transform-style: preserve-3d;
      transform-origin: -24px 65px 0px;
      width: 200px;
      height: 38px;
      opacity: 0;
      transform: translate3d(-9px, 64px, 0px) scale3d(0.685007, 0.685007, 1);
    }
    .gwd-span-1psu {
      font-size: 18px;
    }
    .gwd-span-1gdz {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-1kbi {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1dxv {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-aomc {
      font-size: 18px;
    }
    .gwd-span-1o2f {
      font-size: 18px;
    }
    .gwd-div-jwxs {
      position: absolute;
      opacity: 0;
      width: 16.68px;
      height: 1.48px;
      left: 665px;
      top: 80px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-div-1wlp {
      position: absolute;
      opacity: 0;
      width: 16.68px;
      height: 1.48px;
      left: 796px;
      top: 81px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-enc3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-enc3gwdanimation {
      animation: gwd-gen-enc3gwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1mctgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 498px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mctgwdanimation {
      animation: gwd-gen-1mctgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1ljzgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 261px;
        top: 21px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 256px;
        top: 21px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ljzgwdanimation {
      animation: gwd-gen-1ljzgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1etcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 796px;
        top: 81px;
        animation-timing-function: linear;
      }
      15.79% {
        opacity: 1;
        left: 767px;
        top: 86px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 767px;
        top: 86px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1etcgwdanimation {
      animation: gwd-gen-1etcgwdanimation_gwd-keyframes 1.9s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-alcagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 665px;
        top: 80px;
        animation-timing-function: linear;
      }
      15.79% {
        opacity: 1;
        left: 687px;
        top: 85px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 687px;
        top: 85px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-alcagwdanimation {
      animation: gwd-gen-alcagwdanimation_gwd-keyframes 1.9s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-gjjugwdanimation_gwd-keyframes {
      0% {
        left: 715px;
        top: 115px;
        opacity: 0;
        animation-timing-function: linear;
      }
      15.79% {
        left: 689px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 689px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gjjugwdanimation {
      animation: gwd-gen-gjjugwdanimation_gwd-keyframes 1.9s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1cd9gwdanimation_gwd-keyframes {
      0% {
        left: 729px;
        top: 94px;
        opacity: 0;
        animation-timing-function: linear;
      }
      15.79% {
        left: 718px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        left: 718px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cd9gwdanimation {
      animation: gwd-gen-1cd9gwdanimation_gwd-keyframes 1.9s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1sfigwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(43px, 27px, 0px) scale3d(0.673333, 0.673333, 1);
        top: 224px;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: translate3d(42px, 27px, 0px) scale3d(0.673333, 0.673333, 1);
        top: 224px;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(42px, 27px, 0px) scale3d(0.673333, 0.673333, 1);
        top: 224px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(42px, 28px, 0px) scale3d(0.673333, 0.673333, 1);
        top: 224px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1sfigwdanimation {
      animation: gwd-gen-1sfigwdanimation_gwd-keyframes 0.6s linear 2.6s 1 normal forwards;
    }
    @keyframes gwd-gen-1xuagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(356px, -164px, 0px) scale3d(0.302575, 0.302575, 1);
        left: 117px;
        top: 157px;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: translate3d(356px, -164px, 0px) scale3d(0.302575, 0.302575, 1);
        left: 117px;
        top: 157px;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(356px, -164px, 0px) scale3d(0.302575, 0.302575, 1);
        left: 117px;
        top: 157px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(356px, -164px, 0px) scale3d(0.302575, 0.302575, 1);
        left: 117px;
        top: 157px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xuagwdanimation {
      animation: gwd-gen-1xuagwdanimation_gwd-keyframes 0.6s linear 4.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1syvgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-92px, 164px, 0px) scale3d(0.755, 0.755, 1);
        left: 249px;
        top: 179px;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: translate3d(-92px, 164px, 0px) scale3d(0.755, 0.755, 1);
        left: 249px;
        top: 179px;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(-92px, 164px, 0px) scale3d(0.755, 0.755, 1);
        left: 249px;
        top: 179px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-92px, 164px, 0px) scale3d(0.755, 0.755, 1);
        left: 249px;
        top: 179px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1syvgwdanimation {
      animation: gwd-gen-1syvgwdanimation_gwd-keyframes 0.6s linear 3.6s 1 normal forwards;
    }
    @keyframes gwd-gen-11k3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-50px, 56px, 0px) scale3d(0.749881, 0.749881, 1);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: translate3d(-50px, 56px, 0px) scale3d(0.749881, 0.749881, 1);
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(-50px, 56px, 0px) scale3d(0.749881, 0.749881, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-50px, 56px, 0px) scale3d(0.749881, 0.749881, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-11k3gwdanimation {
      animation: gwd-gen-11k3gwdanimation_gwd-keyframes 0.6s linear 5.8s 1 normal forwards;
    }
    @keyframes gwd-gen-1s88gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-9px, 64px, 0px) scale3d(0.685007, 0.685007, 1);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: translate3d(-9px, 64px, 0px) scale3d(0.685007, 0.685007, 1);
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(-9px, 64px, 0px) scale3d(0.685007, 0.685007, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-9px, 64px, 0px) scale3d(0.685007, 0.685007, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1s88gwdanimation {
      animation: gwd-gen-1s88gwdanimation_gwd-keyframes 0.6s linear 6.8s 1 normal forwards;
    }
    .gwd-img-16a6 {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-13vk {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
    }
    @keyframes gwd-gen-1rqrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1rqrgwdanimation {
      animation: gwd-gen-1rqrgwdanimation_gwd-keyframes 0.4s linear 8.2s 1 normal forwards;
    }
    .gwd-span-1c21 {
      font-size: 22px;
    }
    .gwd-span-1ouc {
      color: rgb(0, 0, 0);
    }
    .gwd-span-n5v4 {
      color: rgb(0, 0, 0);
    }
    .gwd-img-1x4m {
      position: absolute;
      top: 440px;
      height: 28px;
      width: 110px;
      left: 742px;
    }
    .gwd-span-1x5q {
      color: rgb(0, 0, 0);
    }
    .gwd-span-wkwo {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1014 {
      position: absolute;
      font-family: HoneywellSansBold;
      left: 0px;
      width: 221px;
      text-align: center;
      opacity: 0;
      top: 18px;
      height: 34px;
      font-size: 24px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-kxm9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kxm9gwdanimation {
      animation: gwd-gen-kxm9gwdanimation_gwd-keyframes 0.2s linear 0s 1 normal forwards;
    }
    .gwd-span-s0wi {
      font-size: 16px;
    }
    .gwd-span-1pyi {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ith5 {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1lnr {
      font-size: 20px;
    }
    .gwd-span-ozp5 {
      font-size: 25px;
    }
    @keyframes gwd-gen-1hbqgwdanimation_gwd-keyframes {
      0% {
        left: 485px;
        opacity: 0;
        animation-timing-function: linear;
      }
      66.67% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1hbqgwdanimation {
      animation: gwd-gen-1hbqgwdanimation_gwd-keyframes 0.9s linear 0.7s 1 normal forwards;
    }
    .gwd-span-1qgm {
      top: 72px;
      left: 417px;
      color: rgb(192, 192, 192);
    }
    .gwd-span-1qaw {
      top: 100px;
      left: 389px;
      color: rgb(192, 192, 192);
    }
    @keyframes gwd-gen-nit8gwdanimation_gwd-keyframes {
      0% {
        left: 417px;
        top: 72px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      72.22% {
        left: 126px;
        top: 79px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        left: 124px;
        top: 75px;
        opacity: 1;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-nit8gwdanimation {
      animation: gwd-gen-nit8gwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-a7czgwdanimation_gwd-keyframes {
      0% {
        left: 389px;
        top: 100px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      72.22% {
        left: 98px;
        top: 107px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        left: 96px;
        top: 103px;
        opacity: 1;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-a7czgwdanimation {
      animation: gwd-gen-a7czgwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    .gwd-span-1u6o {
      top: 72px;
      left: 718px;
      color: rgb(192, 192, 192);
      transform-style: preserve-3d;
      transform: translate3d(-292px, 3px, 0px);
    }
    .gwd-span-8elk {
      color: rgb(192, 192, 192);
      left: 391px;
      top: 103px;
      opacity: 0;
    }
    @keyframes gwd-gen-1t65gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-292px, 3px, 0px);
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0.99;
        transform: translate3d(-292px, 3px, 0px);
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1t65gwdanimation {
      animation: gwd-gen-1t65gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1k01gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 391px;
        top: 103px;
        color: rgb(192, 192, 192);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 391px;
        top: 103px;
        color: rgb(249, 247, 247);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1k01gwdanimation {
      animation: gwd-gen-1k01gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    .gwd-span-9no5 {
      width: 1px;
      height: 1px;
      left: 715px;
      top: 115px;
    }
    .gwd-span-3vvu {
      width: 1px;
      height: 1px;
      left: 729px;
      top: 94px;
    }
    @keyframes gwd-gen-1gtsgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(-31px, 2px, 0px) scale3d(0.311848, 0.311848, 1);
        top: 160px;
        animation-timing-function: linear;
      }
      37.5% {
        opacity: 1;
        transform: translate3d(-30px, 2px, 0px) scale3d(0.311848, 0.311848, 1);
        top: 160px;
        animation-timing-function: linear;
      }
      62.5% {
        opacity: 0;
        transform: translate3d(-29px, 2px, 0px) scale3d(0.311848, 0.311848, 1);
        top: 160px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(-29px, 0px, 0px) scale3d(0.311848, 0.311848, 1);
        top: 160px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1gtsgwdanimation {
      animation: gwd-gen-1gtsgwdanimation_gwd-keyframes 0.8s linear 1.6s 1 normal forwards;
    }
 