
    @font-face {
      font-family: HoneywellSansBold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-44d9 {
      position: absolute;
      width: 455px;
      left: 210px;
      top: 5px;
      height: 5px;
      background-image: none;
      background-color: rgb(36, 58, 74);
    }
    .gwd-div-15at {
      width: 360px;
      top: 54px;
      height: 3px;
      left: 498px;
      opacity: 0;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    .gwd-div-1ex6 {
      width: 360px;
      height: 3px;
      top: 14px;
      left: 0px;
      opacity: 0;
    }
    .gwd-p-9ino {
      position: absolute;
      border-image-source: none;
      border-color: rgb(255, 255, 255);
      font-size: 26px;
      width: 348px;
      height: 29px;
      transform-origin: 230.563px 6.5px 0px;
      left: 261px;
      top: 21px;
      opacity: 0;
      line-height: 1.3;
    }
    .gwd-span-1g1b {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ulcb {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1a0v {
      font-family: Roboto;
    }
    .gwd-span-e2r8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1gre {
      font-family: Roboto;
    }
    .gwd-span-fbms {
      font-family: HoneywellSanslight;
      font-size: xx-large;
    }
    .gwd-span-1nfh {
      font-size: 30px;
    }
    .gwd-span-15ng {
      font-family: Roboto;
      font-size: 30px;
    }
    .gwd-img-1m4a {
      position: absolute;
      width: 133px;
      height: 71px;
      top: -3px;
      left: 485px;
      opacity: 0;
    }
    .gwd-span-1059 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-vfwk {
      font-size: 32px;
    }
    .gwd-span-mktw {
      font-size: 35px;
    }
    .gwd-span-1sxw {
      font-size: 35px;
    }
    .gwd-span-1a51 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1qwn {
      font-size: 35px;
    }
    .gwd-span-14ma {
      font-size: 35px;
    }
    .gwd-span-1sdi {
      font-size: 35px;
    }
    .gwd-span-8g49 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-12m5 {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1h4l {
      font-family: HoneywellSanslight;
    }
    .gwd-span-1fel {
      font-size: 35px;
    }
    .gwd-span-1oo0 {
      font-size: 17px;
    }
    .gwd-span-15vu {
      color: rgb(255, 255, 255);
    }
    .gwd-span-ds77 {
      color: rgb(252, 196, 39);
    }
    .gwd-span-1tgq {
      position: absolute;
      left: 408px;
      font-size: 22px;
      top: 104px;
      opacity: 0;
      font-family: HoneywellSanslight;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ahur {
      position: absolute;
      font-size: 22px;
      top: 132px;
      opacity: 0;
      font-family: HoneywellSansBold;
      font-weight: normal;
      left: 380px;
      color: rgb(0, 0, 0);
    }
    .gwd-div-agtf {
      height: 100%;
    }
    .gwd-div-1agc {
      height: 100%;
    }
    .gwd-span-dnjo {
      font-size: 27px;
    }
    .gwd-span-o8q5 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-qcge {
      font-size: 26px;
    }
    .gwd-p-x6mk {
      position: absolute;
      color: rgb(255, 255, 255);
      transform-origin: 235.188px 19.5px 0px;
      height: 29px;
      opacity: 0;
      left: 185px;
      width: 186px;
      top: 197px;
    }
    .gwd-span-1lcq {
      font-weight: bold;
      font-size: 22px;
    }
    .gwd-span-9j88 {
      font-size: xx-large;
    }
    .gwd-span-4xkg {
      font-weight: bold;
    }
    .gwd-span-s6rl {
      font-weight: bold;
    }
    .gwd-span-1px9 {
      font-size: 20px;
    }
    .gwd-span-1hgs {
      font-weight: bold;
    }
    .gwd-span-za34 {
      font-weight: bold;
    }
    .gwd-span-1edn {
      font-weight: bold;
    }
    .gwd-span-gwjd {
      font-weight: bold;
    }
    .gwd-span-uci2 {
      font-size: 20px;
    }
    .gwd-span-1eih {
      font-size: xx-large;
    }
    .gwd-span-17y8 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-b07t {
      font-size: 20px;
    }
    .gwd-span-1oas {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-3xgt {
      font-size: 20px;
    }
    .gwd-p-ksqg {
      position: absolute;
      color: rgb(255, 255, 255);
      opacity: 0;
      left: 194px;
      width: 238px;
      height: 32px;
      transform-origin: 67px 32px 0px;
      top: 297px;
    }
    .gwd-span-1bl5 {
      font-size: 20px;
    }
    .gwd-span-1eav {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1obv {
      font-size: 20px;
    }
    .gwd-span-1rn4 {
      font-size: 22px;
      font-weight: bold;
    }
    .gwd-span-1vow {
      font-size: 20px;
    }
    .gwd-span-c363 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-fcmz {
      font-size: 18px;
    }
    .gwd-span-khib {
      font-size: 18px;
    }
    .gwd-span-1r4y {
      font-size: 18px;
    }
    .gwd-span-1wvq {
      font-size: 18px;
    }
    .gwd-span-gmt4 {
      font-size: 18px;
    }
    .gwd-div-gn7h {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-usbt {
      font-size: 18px;
    }
    .gwd-div-17ca {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-vw01 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-yaez {
      font-size: 18px;
      font-weight: bold;
    }
    .gwd-span-ecwy {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-obj8 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1jcq {
      font-size: 16px;
    }
    .gwd-span-1l5u {
      font-size: 18px;
    }
    .gwd-div-v1h8 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1gph {
      font-size: 18px;
    }
    .gwd-span-1209 {
      font-size: 18px;
    }
    .gwd-p-4f91 {
      position: absolute;
      color: rgb(255, 255, 255);
      transform-origin: 43.2344px 22px 0px;
      height: 28px;
      opacity: 0;
      left: 645px;
      width: 170px;
      top: 199px;
    }
    .gwd-span-1li5 {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-4to5 {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-wboh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1kkh {
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    .gwd-span-1dlc {
      font-size: 18px;
    }
    .gwd-span-yuf6 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-p-4dc6 {
      position: absolute;
      transform-origin: -19.5px 0px 0px;
      height: 28px;
      opacity: 0;
      width: 186px;
      left: 648px;
      top: 294px;
    }
    .gwd-span-4lob {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-xxgc {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1e10 {
      color: rgb(255, 255, 255);
    }
    .gwd-span-kt2i {
      font-size: 20px;
      font-weight: bold;
    }
    .gwd-span-1e9m {
      color: rgb(255, 255, 255);
    }
    .gwd-span-1psu {
      font-size: 18px;
    }
    .gwd-span-1gdz {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-1kbi {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1dxv {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
    .gwd-span-aomc {
      font-size: 18px;
    }
    .gwd-span-nog7 {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1o2f {
      font-size: 18px;
    }
    .gwd-span-1ulk {
      font-weight: bold;
      font-size: 20px;
    }
    .gwd-span-1r6m {
      color: rgb(255, 255, 255);
    }
    .gwd-div-jwxs {
      position: absolute;
      opacity: 0;
      width: 16.68px;
      height: 1.48px;
      left: 345px;
      top: 84px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    .gwd-div-1wlp {
      position: absolute;
      opacity: 0;
      width: 16.68px;
      height: 1.48px;
      left: 476px;
      top: 85px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-enc3gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 0px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-enc3gwdanimation {
      animation: gwd-gen-enc3gwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1mctgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 498px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 249px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1mctgwdanimation {
      animation: gwd-gen-1mctgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1ljzgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 261px;
        top: 21px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 256px;
        top: 21px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ljzgwdanimation {
      animation: gwd-gen-1ljzgwdanimation_gwd-keyframes 0.4s linear 0.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1etcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 476px;
        top: 85px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 462px;
        top: 86px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1etcgwdanimation {
      animation: gwd-gen-1etcgwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-alcagwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 345px;
        top: 84px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 382px;
        top: 85px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-alcagwdanimation {
      animation: gwd-gen-alcagwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-gjjugwdanimation_gwd-keyframes {
      0% {
        left: 395px;
        top: 119px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 384px;
        top: 100px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gjjugwdanimation {
      animation: gwd-gen-gjjugwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1cd9gwdanimation_gwd-keyframes {
      0% {
        left: 409px;
        top: 98px;
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        left: 413px;
        top: 72px;
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1cd9gwdanimation {
      animation: gwd-gen-1cd9gwdanimation_gwd-keyframes 0.3s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1g6igwdanimation_gwd-keyframes {
      0% {
        left: 185px;
        opacity: 0;
        width: 186px;
        top: 197px;
        animation-timing-function: linear;
      }
      100% {
        left: 148px;
        opacity: 1;
        width: 186px;
        top: 197px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1g6igwdanimation {
      animation: gwd-gen-1g6igwdanimation_gwd-keyframes 0.2s linear 2.4s 1 normal forwards;
    }
    @keyframes gwd-gen-5gp4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 194px;
        width: 238px;
        top: 297px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 148px;
        width: 275px;
        top: 297px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-5gp4gwdanimation {
      animation: gwd-gen-5gp4gwdanimation_gwd-keyframes 0.2s linear 3.4s 1 normal forwards;
    }
    @keyframes gwd-gen-kp4cgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 645px;
        color: rgb(255, 255, 255);
        width: 170px;
        top: 199px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 578px;
        color: rgb(255, 255, 255);
        width: 170px;
        top: 199px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kp4cgwdanimation {
      animation: gwd-gen-kp4cgwdanimation_gwd-keyframes 0.4s linear 4.5s 1 normal forwards;
    }
    @keyframes gwd-gen-1bo2gwdanimation_gwd-keyframes {
      0% {
        left: 648px;
        opacity: 0;
        width: 186px;
        top: 294px;
        animation-timing-function: linear;
      }
      50% {
        left: 627px;
        top: 294px;
        animation-timing-function: linear;
      }
      100% {
        left: 578px;
        opacity: 1;
        width: 186px;
        top: 294px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1bo2gwdanimation {
      animation: gwd-gen-1bo2gwdanimation_gwd-keyframes 0.4s linear 5.8s 1 normal forwards;
    }
    .gwd-img-16a6 {
      position: absolute;
      width: 69px;
      height: 31px;
      left: 790px;
      top: 520px;
      opacity: 0;
      visibility: hidden;
    }
    .gwd-img-13vk {
      position: absolute;
      width: 88px;
      height: 34px;
      left: 0px;
      top: 520px;
    }
    @keyframes gwd-gen-1rqrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
        visibility: visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1rqrgwdanimation {
      animation: gwd-gen-1rqrgwdanimation_gwd-keyframes 0.4s linear 9.6s 1 normal forwards;
    }
    .gwd-span-rx54 {
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-129m {
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-pn1y {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-1pqd {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-nxww {
      color: rgb(255, 255, 255);
    }
    .gwd-span-jv9b {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1c21 {
      font-size: 22px;
    }
    .gwd-span-1ouc {
      color: rgb(0, 0, 0);
    }
    .gwd-span-g94a {
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-11l8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-lfu8 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-vh83 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-dpo7 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-oxm7 {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-z6y9 {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-jp4w {
      font-weight: normal;
      font-family: HoneywellSansBold;
    }
    .gwd-span-1bbv {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-n5v4 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1n4j {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1dke {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-ria5 {
      color: rgb(0, 0, 0);
      font-size: 20px;
    }
    .gwd-span-gs9i {
      font-family: HoneywellSansBold;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }
    .gwd-span-3d1e {
      font-family: HoneywellSansBold;
    }
    .gwd-span-t0hi {
      font-family: HoneywellSansBold;
      font-weight: normal;
    }
    .gwd-span-1brr {
      font-family: HoneywellSansBold;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }
    .gwd-img-1x4m {
      position: absolute;
      top: 440px;
      height: 28px;
      width: 110px;
      left: 742px;
    }
    .gwd-span-1x5q {
      color: rgb(0, 0, 0);
    }
    .gwd-span-wkwo {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1014 {
      position: absolute;
      font-family: HoneywellSansBold;
      left: 0px;
      width: 221px;
      text-align: center;
      opacity: 0;
      top: 18px;
      height: 34px;
      font-size: 24px;
      background-image: none;
      background-color: rgb(252, 196, 39);
    }
    @keyframes gwd-gen-kxm9gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kxm9gwdanimation {
      animation: gwd-gen-kxm9gwdanimation_gwd-keyframes 0.2s linear 0s 1 normal forwards;
    }
    .gwd-span-s0wi {
      font-size: 16px;
    }
    .gwd-span-1pyi {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-ith5 {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1s3z {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-pt5k {
      font-weight: normal;
      font-family: HoneywellSansBold;
      color: rgb(0, 0, 0);
    }
    .gwd-span-3pr4 {
      font-family: HoneywellSansBold;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }
    .gwd-span-1lnr {
      font-size: 20px;
    }
    .gwd-span-ozp5 {
      font-size: 25px;
    }
    @keyframes gwd-gen-1hbqgwdanimation_gwd-keyframes {
      0% {
        left: 485px;
        opacity: 0;
        animation-timing-function: linear;
      }
      66.67% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
      100% {
        left: 623px;
        opacity: 0.94;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1hbqgwdanimation {
      animation: gwd-gen-1hbqgwdanimation_gwd-keyframes 0.9s linear 0.7s 1 normal forwards;
    }
    .gwd-span-1qgm {
      top: 72px;
      left: 417px;
      color: rgb(192, 192, 192);
    }
    .gwd-span-1qaw {
      top: 100px;
      left: 389px;
      color: rgb(192, 192, 192);
    }
    @keyframes gwd-gen-nit8gwdanimation_gwd-keyframes {
      0% {
        left: 417px;
        top: 72px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      72.22% {
        left: 126px;
        top: 79px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      88.89% {
        left: 124px;
        top: 75px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        left: 124px;
        top: 75px;
        opacity: 1;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-nit8gwdanimation {
      animation: gwd-gen-nit8gwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    @keyframes gwd-gen-a7czgwdanimation_gwd-keyframes {
      0% {
        left: 389px;
        top: 100px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      72.22% {
        left: 98px;
        top: 107px;
        opacity: 0;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      88.89% {
        left: 96px;
        top: 103px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        left: 96px;
        top: 103px;
        opacity: 1;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-a7czgwdanimation {
      animation: gwd-gen-a7czgwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    .gwd-span-1u6o {
      top: 72px;
      left: 718px;
      transform: translate3d(0px, 0px, 0px);
      color: rgb(249, 247, 247);
    }
    .gwd-span-8elk {
      top: 100px;
      left: 683px;
      color: rgb(249, 247, 247);
    }
    @keyframes gwd-gen-1t65gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        opacity: 0.99;
        transform: translate3d(0px, 0px, 0px);
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1t65gwdanimation {
      animation: gwd-gen-1t65gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    @keyframes gwd-gen-1k01gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        left: 683px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        left: 683px;
        color: rgba(226, 224, 224, 0.42);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1k01gwdanimation {
      animation: gwd-gen-1k01gwdanimation_gwd-keyframes 0.5s linear 1.3s 1 normal forwards;
    }
    .gwd-span-9no5 {
      width: 1px;
      height: 1px;
      left: 395px;
      top: 119px;
    }
    .gwd-span-3vvu {
      width: 1px;
      height: 1px;
      left: 409px;
      top: 98px;
    }
    .gwd-span-kj6t {
      font-family: HoneywellSansBold;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }
    .gwd-span-z8y5 {
      color: rgb(0, 0, 0);
    }
    .gwd-span-1n5b {
      font-family: HoneywellSansBold;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }
    .gwd-span-pq7n {
      color: rgb(0, 0, 0);
    }
    .gwd-span-mfwh {
      color: rgb(0, 0, 0);
    }
    .gwd-img-1n3t {
      position: absolute;
      width: 39px;
      height: 40px;
      left: 536px;
      top: 187px;
      opacity: 0;
    }
    .gwd-img-j7ki {
      position: absolute;
      width: 39px;
      height: 40px;
      left: 536px;
      top: 282px;
      opacity: 0;
    }
    .gwd-img-19c6 {
      position: absolute;
      width: 39px;
      height: 40px;
      left: 109px;
      top: 187px;
      opacity: 0;
    }
    .gwd-img-1hot {
      position: absolute;
      width: 39px;
      height: 40px;
      left: 109px;
      top: 285px;
      opacity: 0;
    }
    @keyframes gwd-gen-x35ngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-x35ngwdanimation {
      animation: gwd-gen-x35ngwdanimation_gwd-keyframes 0.6s linear 3s 1 normal forwards;
    }
    @keyframes gwd-gen-kowcgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-kowcgwdanimation {
      animation: gwd-gen-kowcgwdanimation_gwd-keyframes 0.6s linear 2s 1 normal forwards;
    }
    @keyframes gwd-gen-1xnygwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xnygwdanimation {
      animation: gwd-gen-1xnygwdanimation_gwd-keyframes 0.6s linear 5.5s 1 normal forwards;
    }
    @keyframes gwd-gen-5ubrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-5ubrgwdanimation {
      animation: gwd-gen-5ubrgwdanimation_gwd-keyframes 0.6s linear 4.2s 1 normal forwards;
    }
