
    @font-face {
      font-family: HoneywellSansbold;
      src: url("HoneywellSans-Bold.otf");
    }
    @font-face {
      font-family: HoneywellSanslight;
      src: url("HoneywellSans-Light.otf");
    }
    @font-face {
      font-family: HoneywellSansEbold;
      src: url("HoneywellSans-Extrabold.otf");
    }
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-family: HoneywellSanslight;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      perspective: 1400px;
      transform-style: preserve-3d;
      position: absolute;
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background: url("animate_bg.jpg");
    }
    .gwd-page-size {
      width: 100%;
      height: 100%;
    }
    .gwd-div-nfnt {
      position: absolute;
      height: 40px;
      left: 0px;
      top: 31px;
      transform-style: preserve-3d;
      transform-origin: 3.5px 20px 0px;
      width: 22px;
      opacity: 0;
      transform: translate3d(420px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
      background-image: none;
      background-color: rgb(255, 198, 39);
    }
    .grow {
      font-family: HoneywellSanslight !important;
      color: rgb(0, 0, 0) !important;
    }
    .gwd-div-3p1n {
      height: 100%;
      width: 100%;
    }
    .gwd-div-1x4s {
      height: 100%;
      width: 100%;
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(235.125px, -8px, 0px) scale3d(6.07466, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.78;
        transform: translate3d(161.875px, -8px, 0px) scale3d(10.0292, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      13.04% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      26.09% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      39.13% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      52.17% {
        opacity: 0;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      65.22% {
        opacity: 1;
        transform: translate3d(345px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      78.26% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.227555, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      86.96% {
        opacity: 0.55;
        transform: translate3d(343px, -8px, 0px) scale3d(0.225487, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      95.65% {
        opacity: 0.32;
        transform: translate3d(343px, -8px, 0px) scale3d(0.223418, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(52px, -8px, 0px) scale3d(15.961, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    @keyframes gwd-gen-1xhmgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(420px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      16.67% {
        opacity: 1;
        transform: translate3d(419px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 0;
        transform: translate3d(418px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      50% {
        opacity: 1;
        transform: translate3d(419px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      66.67% {
        opacity: 0;
        transform: translate3d(419px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      83.33% {
        opacity: 1;
        transform: translate3d(421px, -8px, 0px) scale3d(0.142857, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(133px, -8px, 0px) scale3d(39.0855, 1.6936, 1);
        width: 22px;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xhmgwdanimation {
      animation: gwd-gen-1xhmgwdanimation_gwd-keyframes 1.8s linear 0s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-5j9lgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-14ptgwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes gwd-empty-animation {
      0% {
        opacity: 0.001;
      }
      100% {
        opacity: 0;
      }
    }
    .gwd-play-animation .gwd-p-1dby .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    #page1.gwd-play-animation .event-1-animation {
      animation: gwd-empty-animation 0.0001s linear 0s 1 normal forwards;
    }
    #page1.gwd-pause-animation .event-1-animation {
      animation-play-state: paused !important;
    }
    .gwd-img-1bp1 {
      position: absolute;
      width: 88px;
      height: 34px;
      transform-origin: 44px 429.5px 0px;
      left: 0px;
      top: 520px;
      opacity: 0.5;
    }
    #page1.gwd-pause-animation .gwd-gen-14o1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-etpagwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-img-12go {
      position: absolute;
      width: 69px;
      height: 31px;
      transform-origin: 153px 335px 0px;
      top: 520px;
      left: 791px;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0px, 0px, 0px);
    }
    #page1.gwd-pause-animation .gwd-gen-1i82gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1im9gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-gih4gwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    .gwd-img-1i97 {
      position: absolute;
  
      left: 742px;
      width: 110px;
      height: 28px;
      top: 440px;
    }
    #page1.gwd-pause-animation .gwd-gen-1kpdgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-div-1fpr {
      width: 241px;
    }
    #page1.gwd-pause-animation .gwd-gen-gih4gwdanimation {
      animation-play-state: paused !important;
    }
    @keyframes gwd-gen-1j6ngwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;visibility:visible;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1j6ngwdanimation {
      animation: gwd-gen-1j6ngwdanimation_gwd-keyframes 0.3s linear 6.5s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-cj00gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-19szgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-gnbagwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-164mgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-11ovgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-div-v5xv {
      width: 100%;
      height: 100%;
    }
    .gwd-div-1prf {
      width: 100%;
      height: 100%;
    }
    #page1.gwd-pause-animation .gwd-gen-1vlfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-2dnegwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-p-1047 {
      position: absolute;
      left: 120px;
      top: 366px;
    }
    .gwd-p-1ynj {
      position: absolute;
      left: 100px;
      top: 393px;
    }
    .gwd-span-7vdn {
      font-size: xx-large;
    }
    #page1.gwd-pause-animation .gwd-gen-1bfjgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1vsqgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-wvw5gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-14u8gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-qwbfgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1e1agwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1jztgwdanimation {
      animation-play-state: paused !important;
    }
    .gwd-p-1yzy {
      position: absolute;
      width: 505px;
      height: 30px;
      left: 197px;
      top: 28px;
      text-align: center;
      font-family: HoneywellSansBold;
      font-size: 26px;
      line-height: 1.4;
      opacity: 0;
      transform: translate3d(0px, -28px, 0px);
    }
    @keyframes gwd-gen-1ui1gwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(0px, -28px, 0px);
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1ui1gwdanimation {
      animation: gwd-gen-1ui1gwdanimation_gwd-keyframes 0.3s linear 2.1s 1 normal forwards;
    }
    .gwd-div-4f3r {
      transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
    }
    @keyframes gwd-gen-1xwrgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      10.53% {
        opacity: 1;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      21.05% {
        opacity: 0;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      36.84% {
        opacity: 1;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      52.63% {
        opacity: 0;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      68.42% {
        opacity: 1;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      84.21% {
        opacity: 0;
        transform: translate3d(420px, 102px, 0px) scale3d(0.142857, 1.6936, 1);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(255px, 102px, 0px) scale3d(25.2587, 1.6936, 1);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1xwrgwdanimation {
      animation: gwd-gen-1xwrgwdanimation_gwd-keyframes 1.9s linear 2.9s 1 normal forwards;
    }
    .gwd-div-1was {
      width: 505px;
    }
    .gwd-p-wftb {
      transform-origin: 233px 76.872px 0px;
      transform-style: preserve-3d;
      transform: translate3d(0px, 91px, 0px);
    }
    @keyframes gwd-gen-3c8wgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        transform: translate3d(0px, 91px, 0px);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 111px, 0px);
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-3c8wgwdanimation {
      animation: gwd-gen-3c8wgwdanimation_gwd-keyframes 0.3s linear 5s 1 normal forwards;
    }
    .gwd-p-19pn {
      position: absolute;
      width: 505px;
      height: 37px;
      left: 197px;
      top: 236px;
      font-family: HoneywellSansBold;
      font-size: 17px;
      text-align: center;
      opacity: 0;
    }
    .gwd-p-1ien {
      position: absolute;
      width: 505px;
      height: 98px;
      left: 197px;
      top: 309px;
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 17px;
      opacity: 0;
    }
    @keyframes gwd-gen-gk3wgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-gk3wgwdanimation {
      animation: gwd-gen-gk3wgwdanimation_gwd-keyframes 0.2s linear 6.1s 1 normal forwards;
    }
    @keyframes gwd-gen-1iirgwdanimation_gwd-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #page1.gwd-play-animation .gwd-gen-1iirgwdanimation {
      animation: gwd-gen-1iirgwdanimation_gwd-keyframes 0.2s linear 5.6s 1 normal forwards;
    }
    #page1.gwd-pause-animation .gwd-gen-11d2gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1ui1gwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xhmgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-3c8wgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1xwrgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1iirgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-gk3wgwdanimation {
      animation-play-state: paused !important;
    }
    #page1.gwd-pause-animation .gwd-gen-1j6ngwdanimation {
      animation-play-state: paused !important;
    }
